<strong>Beispiele für Optionen innerhalb des Suchfeldes:</strong><br />
<div>Die folgenden Beispiele zählen Möglichkeiten auf, wie Sie Ihre Suche weiter einschränken können:<br />
<span style="color: red;font-weight: bold;">Haus Baum</span>
  <strong>: Bei dieser Eingabe erscheinen nur Resultate, die den Ausdruck Baum und Haus
  entweder im Titel oder Text aufweisen. Es erscheinen keine Resultate, die nur Baum oder nur Haus im
  Titel oder Text aufweisen.</strong><br />
  <span style="color: red;font-weight: bold;">intitle: Haus</span>
  <strong>: Bei dieser Eingabe erscheinen nur Resultate, die im Titel das Wort "Baum" enthalten.</strong><br />
  <span style="color: red;font-weight: bold;">intext: Haus</span>
  <strong>: Bei dieser Eingabe erscheinen nur Resultate, die im Titel das Wort "Baum" enthalten.</strong><br />
  <span style="color: red;font-weight: bold;">"Die Wege"</span>
  <strong>: Bei dieser Eingabe erscheinen nur Resultate, die den genauen Term so im Text oder Titel beinhalten.</strong><br />
  <span style="color: red;font-weight: bold;">Baum OR Haus</span>
  <strong>: Bei dieser Eingabe erscheinen Resultate, die mindestens einen der zwei Ausrücke im Titel oder Text enthalten.</strong><br />
  <span style="color: red;font-weight: bold;">intext: Baum OR intitle: "Die Wege"</span>
  <strong>: Alle vorher aufgezählten Optionen lassen sich wie im Beispiel aufgezeigt kombinieren.</strong><br />

