<strong>Supported operators</strong><br />
<div>Narrow down your search results by adding symbols and words to your search called search operators.<br />
<span style="color: red;font-weight: bold;">&quot;search&quot;</span> <strong>: Search for an exact word or phrase</strong><br />
<span style="color: red;font-weight: bold;">-search</span> <strong>: Exclude a word</strong>. Add a dash (-) before a word or site to exclude all results that include that word.<br />
<span style="color: red;font-weight: bold;">*</span> <strong>: Fill in the blank</strong>. Add an asterisk within a search as a placeholder for any unknown or wildcard terms. Use with quotation marks to find variations of that exact phrase or to remember words in the middle of a phrase.<br />
<span style="color: red;font-weight: bold;">OR</span> <strong>: Search for either word</strong>. If you want to search
  for pages that may have just one of several words, include OR (capitalized) between the words. Without the OR, your results would typically show only pages that match both terms.<br />
<span style="color: red;font-weight: bold;">intitle:</span> Searches for a single word or phrase in the title of the
  search result.<br />
<span style="color: red;font-weight: bold;">intext:</span> search in introtext, fulltext field.<br />
<span style="color: red;font-weight: bold;">inmetadata:</span> search in meta keywords and meta description data.<br />
<span style="color: red;font-weight: bold;">inmedia:</span> search in image caption and video caption fields.<br >
<span style="color: red;font-weight: bold;">inall:</span> search in all fields.<br >
<br >Sample Keywords:<br >intitle:Dell OR Acer -intext:&quot;Processor * CoreI3&quot;<br />Laptop &quot;Lenovo Thinkpad&quot;</div>
