<div>

  <!-- Publizierte Gedichte -->
  <div *ngIf="selectedTab=='publizierte-gedichte'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Publizierte Gedichte
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Angezeigt werden, alphabetisch geordnet, die Titel der veröffentlichten Gedichte (nur Endfassungen).
        </p>
      </div>
    </div>
  </div>


  <!-- Unpublizierte Gedichte -->
  <div *ngIf="selectedTab=='unpublizierte-gedichte'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Unpublizierte Gedichte
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Angezeigt werden, alphabetisch geordnet, die Titel aller nicht zur Veröffentlichung gelangten Gedichte
          in ihrer jeweils letzten Fassung (Notizbuch, Manuskript oder Typoskript).
        </p>
      </div>
    </div>
  </div>


  <!-- Nachlass 1943-50 -->
  <div *ngIf="selectedTab=='nachlass-1943-1950'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1943-1950
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Frühe Gedichte bis zu Raebers erstem, 1950 erschienenen Gedichtbändchen
          <cite class="titel">Gesicht im Mittag</cite>:
        </p>
        <ul>
          <li>Notizbücher 1948-49, 1949, 1950</li>
          <li>Manuskripte 1948-51</li>
          <li>Typoskripte 1943-46, 1945-50, 1948-50, 1951, Sammlung Hochstrasser</li>
        </ul>
        <p>Die Einteilung folgt der archivalischen Strukturierung,
          was in der Randzone 1950/51 bei den Typoskripten zu Unschärfen führen kann.
          Die Zeit vor 1948 ist einzig durch Typoskripte belegt.
        </p>
      </div>
    </div>
  </div>


  <!-- Nachlass 1951-56 -->
  <div *ngIf="selectedTab=='nachlass-1951-1956'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1951-1956
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Gedichtfassungen von 1951 bis zu Raebers 1957 erschienenem Gedichtbändchen
          <cite class="titel">Die verwandelten Schiffe</cite>:</p>
        <ul>
          <li>Notizbücher 1950-51, 1952-54, 1954-55, 1955-57</li>
          <li>Manuskripte 1951, 1952, 1953, 1954, 1955, 1956</li>
          <li>Typoskripte 1952, 1953, 1954, 1955, 1956, Sammlung Kutter</li>
        </ul>
        <p>Die Einteilung folgt der archivalischen Strukturierung,
          was in der Randzone 1955-1957 zu Überschneidungen führt.
          Notizbuch 1955-57 enthält auch mehrere Texte, die Vorstufen zu den
          <cite class="titel">GEDICHTEN</cite> (1960) bilden und
          wird deshalb in den Registern beider Zeiträume berücksichtigt.
          <br>
          Die Typoskript-Sammlung Raeber wird nicht berücksichtigt.
        </p>
      </div>
    </div>
  </div>


  <!-- Nachlass 1957-65 -->
  <div *ngIf="selectedTab=='nachlass-1957-1965'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1957-1965
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Gedichtfassungen von 1957 bis zu Raebers Gedichtbändchen
          <cite class="titel">GEDICHTE</cite> (1960) und <cite class="titel">FLUSSUFER</cite> (1963)
          sowie die danach bis 1965 entstandenen:</p>
        <ul>
          <li>Notizbücher 1957-58, 1958-61, 1961-65, (1965-80)</li>
          <li>Manuskripte 1957, 1958, 1958-59, 1959-60, 1961, 1962, 1963, 1964-65</li>
          <li>Typoskripte 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1965</li>
        </ul>
        <p>Die Einteilung folgt der archivalischen Strukturierung,
          was in der Randzone 1956/57 zu Überschneidungen führt.
          Notizbuch 1955-57 enthält mehrheitlich Texte, die noch dem Umfeld der
          <cite class="titel">Verwandelten Schiffe</cite> (1957) zuzurechnen sind und
          wird deshalb in den Registern beider Zeiträume berücksichtigt.
        </p>
      </div>
    </div>
  </div>

  <!-- Nachlass 1979 -->
  <div *ngIf="selectedTab=='nachlass-1979'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1979
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Gedichtfassungen im Bereich des mit zeitlicher Verzögerung erschienenen Gedichtbandes
          <cite class="titel">Reduktionen</cite> (1981):
        </p>
        <ul>
          <li>Notizbuch 1979</li>
          <li>Manuskripte 1979</li>
          <li>Typoskripte 1979 spezial (10 Gedichtfassungen, die textgeschichtlich zu den Manuskripten zählen)</li>
        </ul>
        <p>Nicht verzeichnet werden die Typoskripte 1979, die in Umfang, Inhalt und Anordnung dem Druck entsprechen.
        </p>
      </div>
    </div>
  </div>

  <!-- Nachlass 1979-88 -->
  <div *ngIf="selectedTab=='nachlass-1979-1988'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1979-1988
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Gedichtfassungen im Bereich des mit Verzögerug erschienenen letzten Gedichtbandes
          <cite class="titel">Abgewandt Zugewandt</cite> (1985) und die späteren Entwürfe:
        </p>
        <ul>
          <li>Notizbuch 1979-82 (Mundart)</li>
          <li>Notizbuch 1980-88</li>
          <li>Manuskripte 1979-83</li>
          <li>Karten 1984</li>
        </ul>
        <p>Nicht verzeichnet werden die Typoskripte, die in Umfang, Inhalt und Anordnung dem Druck entsprechen.
        </p>
      </div>
    </div>
  </div>

</div>
