<div>

  <!-- Nachlass 1943-50 -->
  <div *ngIf="selectedTab=='nachlass-1943-1950'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1943-1950
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Dieser Zeitraum umfasst die frühen Gedichte bis zu Raebers erstem, <time>1950</time> erschienenen Gedichtbändchen
          <cite class="titel">Gesicht im Mittag</cite>:</p>
        <ul>
          <li>Typoskripte 1943-1946</li>
          <li>Notizbücher 1948-1950</li>
          <li>Manuskripte und Typoskripte mit Schwerpunkt 1948-1950</li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Nachlass 1951-56 -->
  <div *ngIf="selectedTab=='nachlass-1951-1956'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1951-1956
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Dieser Zeitraum umfasst die Gedichtfassungen von <time>1951</time> bis zu Raebers <time>1957</time> erschienenem Gedichtbändchen
          <cite class="zitat">Die verwandelten Schiffe</cite>:</p>
        <ul>
          <li>Notizbücher</li>
          <li>Manuskripte</li>
          <li>Typoskripte</li>
        </ul>
      </div>
    </div>
  </div>


  <!-- Nachlass 1957-65 -->
  <div *ngIf="selectedTab=='nachlass-1957-1965'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1957-1965
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Dieser Zeitraum umfasst die Gedichtfassungen von <time>1957</time> bis zu Raebers Gedichtbändchen
          <cite class="titel">GEDICHTE</cite> und <cite class="titel">FLUSSUFER</cite>
          sowie die übrigen bis 1965 entstandenen:</p>
        <ul>
          <li>Notizbücher</li>
          <li>Manuskripte </li>
          <li>Typoskripte </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Nachlass 1979 -->
  <div *ngIf="selectedTab=='nachlass-1979'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1979
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p><cite>Im Juni 1979</cite> begann Raeber mit den Niederschriften für das noch im gleichen Jahr erscheinende Gedichtbändchen
          <cite class="titel">Reduktionen</cite>. Das Titelverzeichnis verzeichnet:</p>
        <ul>
          <li>die Eintragungen im Notizbuch (<time>1. Juni – 18. August 1979</time>)</li>
          <li>die Niederschriften auf Manuskriptblättern (<time>20. August – 1. November 1979</time>)</li>
        </ul>
        <p>Nicht verzeichnet werden die Typoskripte, die in Umfang, Inhalt und Anordnung genau dem Druck entsprechen.</p>
      </div>
    </div>
  </div>

  <!-- Nachlass 1979-88 -->
  <div *ngIf="selectedTab=='nachlass-1979-1988'">
    <div class="itemHeader">
      <h2 class="itemTitle">
        Nachlass 1979-1988
      </h2>
    </div>
    <div class="itemBody">
      <div class="itemFullText">
        <p>Gedichtfassungen bis zum Gedichtbändchen <cite class="titel">Abgewandt Zugewandt</cite>
          (<time>1983</time>) und die späteren Entwürfe:</p>
        <ul>
          <li>Notizbücher 1980-1988</li>
          <li>Manuskripte 1979-1983</li>
        </ul>
      </div>
    </div>
  </div>

</div>
