button {
  min-width: 10px;
  height: 30px;
  line-height: normal;
  padding: 5px;
  font-size: 80%;
  vertical-align: middle;
}

.button-is-active {
  background-color: silver;
}

.button-without-link {
  color: silver;
}
