<div class="rt-block menu-block">
  <ul class="gf-menu l1 " style="float: left;">
    <li class="item133 parent">
      <span class="item">
        Notizbuch <span class="border-fixer"></span>
      </span>
      <div class="dropdown columns-1 " style="width:200px;">
        <div class="column col1" style="width:200px;">
          <ul class="l2">
            <li class="item252">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1948-1949']" routerLinkActive="active">
                Notizbuch 1948-49 </a>
            </li>
            <li class="item251">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1949']" routerLinkActive="active">
                Notizbuch 1949 </a>
            </li>
            <li class="item250">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1950']" routerLinkActive="active">
                Notizbuch 1950 </a>
            </li>
            <li class="item256">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1950-1951']" routerLinkActive="active">
                Notizbuch 1950-51 </a>
            </li>
            <li class="item253">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1952-1954']" routerLinkActive="active">
                Notizbuch 1952-54 </a>
            </li>
            <li class="item143">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1954-1955']" routerLinkActive="active">
                Notizbuch 1954-55 </a>
            </li>
            <li class="item144">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1955-1957']" routerLinkActive="active">
                Notizbuch 1955-57 </a>
            </li>
            <li class="item142">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1957-1958']" routerLinkActive="active">
                Notizbuch 1957-58 </a>
            </li>
            <li class="item183">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1958-1961']" routerLinkActive="active">
                Notizbuch 1958-61 </a>
            </li>
            <li class="item140">
              <a class="item" [routerLink]="['notizbuecher/notizbuch-1961-1965']" routerLinkActive="active">
                Notizbuch 1961-65 </a>
            </li>
            <li class="item139">
              <a class="item icon" [routerLink]="['notizbuecher/notizbuch-1979']" routerLinkActive="active">
                <i class="icon-star">Notizbuch 1979</i> </a>
            </li>
            <li class="item135">
              <a class="item icon" [routerLink]="['notizbuecher/notizbuch-1979-1982']" routerLinkActive="active">
                <i class="icon-star">Notizbuch 1979-82</i> </a>
            </li>
            <li class="item315">
              <a class="item icon" [routerLink]="['notizbuecher/notizbuch-1980-1988']" routerLinkActive="active">
                <i class="icon-star">Notizbuch 1980-88</i> </a>
            </li>
            <li class="item136 parent">
              <span class="item">
                Notizbuch divers <span class="border-fixer"></span>
              </span>
              <div class="dropdown flyout columns-1 " style="width:200px;">
                <div class="column col1" style="width:200px;">
                  <ul class="l3">
                    <li class="item353">
                      <a class="item" [routerLink]="['notizbuecher/notizbuch-divers/notizbuch-1965-80']"
                         routerLinkActive="active">
                        Notizbuch 1965-80 </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="item105 parent">
      <span class="item">
        Manuskript <span class="border-fixer"></span>
      </span>
      <div class="dropdown columns-1 " style="width:200px;">
        <div class="column col1" style="width:200px;">
          <ul class="l2">
            <li class="item220">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1948-1951']" routerLinkActive="active">
                Manuskripte 1948-51 </a>
            </li>
            <li class="item221">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1951']" routerLinkActive="active">
                Manuskripte 1951 </a>
            </li>
            <li class="item198">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1952']" routerLinkActive="active">
                Manuskripte 1952 </a>
            </li>
            <li class="item184">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1953']" routerLinkActive="active">
                Manuskripte 1953 </a>
            </li>
            <li class="item192">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1954']" routerLinkActive="active">
                Manuskripte 1954 </a>
            </li>
            <li class="item199">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1955']" routerLinkActive="active">
                Manuskripte 1955 </a>
            </li>
            <li class="item201">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1956']" routerLinkActive="active">
                Manuskripte 1956 </a>
            </li>
            <li class="item203">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1957']" routerLinkActive="active">
                Manuskripte 1957 </a>
            </li>
            <li class="item185">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1958']" routerLinkActive="active">
                Manuskripte 1958 </a>
            </li>
            <li class="item214">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1958-1959']" routerLinkActive="active">
                Manuskripte 1958-59 </a>
            </li>
            <li class="item204">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1959-1960']" routerLinkActive="active">
                Manuskripte 1959-60 </a>
            </li>
            <li class="item213">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1961']" routerLinkActive="active">
                Manuskripte 1961 </a>
            </li>
            <li class="item174">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1962']" routerLinkActive="active">
                Manuskripte 1962 </a>
            </li>
            <li class="item225">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1963']" routerLinkActive="active">
                Manuskripte 1963 </a>
            </li>
            <li class="item186">
              <a class="item" [routerLink]="['manuskripte/manuskripte-1964-1965']" routerLinkActive="active">
                Manuskripte 1964-65 </a>
            </li>
            <li class="item106">
              <a class="item icon" [routerLink]="['manuskripte/manuskripte-1979']" routerLinkActive="active">
                <i class="icon-star">Manuskripte 1979</i> </a>
            </li>
            <li class="item194">
              <a class="item icon" [routerLink]="['manuskripte/manuskripte-1979-1983']" routerLinkActive="active">
                <i class="icon-star">Manuskripte 1979-83</i> </a>
            </li>
            <li class="item124">
              <a class="item icon" [routerLink]="['manuskripte/karten-1984']" routerLinkActive="active">
                <i class="icon-star">Karten 1984</i> </a>
            </li>
            <li class="item334">
              <span class="item">
                Manuskripte divers </span>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="item134 parent">
      <span class="item">
        Typoskript <span class="border-fixer"></span>
      </span>
      <div class="dropdown columns-1 " style="width:220px;">
        <div class="column col1" style="width:220px;">
          <ul class="l2">
            <li class="item294 parent">
              <span class="item">
                Typoskripte spez. <span class="border-fixer"></span>
              </span>
              <div class="dropdown flyout columns-1 " style="width:200px;">
                <div class="column col1" style="width:200px;">
                  <ul class="l3">
                    <li class="item224">
                      <a class="item" [routerLink]="['typoskripte/typoskripte-sammlungen/sammlung-kutter']"
                         routerLinkActive="active">
                        Sammlung Kutter </a>
                    </li>
                    <li class="item271">
                      <a class="item" [routerLink]="['typoskripte/typoskripte-sammlungen/sammlung-thomas-raeber']"
                         routerLinkActive="active">
                        Sammlung Th. Raeber </a>
                    </li>
                    <li class="item259">
                      <a class="item" [routerLink]="['typoskripte/typoskripte-sammlungen/sammlung-hochstrasser']"
                         routerLinkActive="active">
                        Sammlung Hochstrasser </a>
                    </li>
                    <li class="item438">
                      <a class="item" [routerLink]="['typoskripte/typoskripte-sammlungen/typoskripte-divers']"
                         routerLinkActive="active">
                        Typoskripte divers </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item215">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1943-1946']" routerLinkActive="active">
                Typoskripte 1943-46 </a>
            </li>
            <li class="item217">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1945-1950']" routerLinkActive="active">
                Typoskripte 1945-50 </a>
            </li>
            <li class="item216">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1948-1950']" routerLinkActive="active">
                Typoskripte 1948-50 </a>
            </li>
            <li class="item218">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1951']" routerLinkActive="active">
                Typoskripte 1951 </a>
            </li>
            <li class="item196">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1952']" routerLinkActive="active">
                Typoskripte 1952 </a>
            </li>
            <li class="item197">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1953']" routerLinkActive="active">
                Typoskripte 1953 </a>
            </li>
            <li class="item182">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1954']" routerLinkActive="active">
                Typoskripte 1954 </a>
            </li>
            <li class="item200">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1955']" routerLinkActive="active">
                Typoskripte 1955 </a>
            </li>
            <li class="item202">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1956']" routerLinkActive="active">
                Typoskripte 1956 </a>
            </li>
            <li class="item205">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1957']" routerLinkActive="active">
                Typoskripte 1957 </a>
            </li>
            <li class="item168">
              <a class="item" [routerLink]="['typoskripte/typoskripte1958']" routerLinkActive="active">
                Typoskripte 1958 </a>
            </li>
            <li class="item209">
              <a class="item" [routerLink]="['typoskripte/typoskripte1959']" routerLinkActive="active">
                Typoskripte 1959 </a>
            </li>
            <li class="item175">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1960']" routerLinkActive="active">
                Typoskripte 1960 </a>
            </li>
            <li class="item178">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1961']" routerLinkActive="active">
                Typoskripte 1961 </a>
            </li>
            <li class="item176">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1962']" routerLinkActive="active">
                Typoskripte 1962 </a>
            </li>
            <li class="item212">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1963']" routerLinkActive="active">
                Typoskripte 1963 </a>
            </li>
            <li class="item179">
              <a class="item" [routerLink]="['typoskripte/typoskripte-1965']" routerLinkActive="active">
                Typoskripte 1965 </a>
            </li>
            <li class="item180">
              <a class="item icon" [routerLink]="['typoskripte/typoskripte-1979']" routerLinkActive="active">
                <i class="icon-star-empty">Typoskripte 1979</i> </a>
            </li>
            <li class="item181">
              <a class="item icon" [routerLink]="['typoskripte/typoskripte-1979-spez']" routerLinkActive="active">
                <i class="icon-star">Typoskripte 1979-spez</i> </a>
            </li>
            <li class="item195">
              <a class="item icon" [routerLink]="['typoskripte/typoskripte-1983']" routerLinkActive="active">
                <i class="icon-star-empty">Typoskripte 1983</i> </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="item102 parent">
      <div class="item">DRUCK<span class="border-fixer"></span></div>
      <div class="dropdown columns-1 " style="width:220px;">
        <div class="column col1" style="width:220px;">
          <ul class="l2">
            <li class="item145">
              <a class="item icon" [routerLink]="['drucke/gesicht-im-mittag']" routerLinkActive="active">
                <i class="icon-star-empty">GESICHT IM MITTAG</i> </a>
            </li>
            <li class="item193">
              <a class="item icon" [routerLink]="['drucke/die-verwandelten-schiffe']" routerLinkActive="active">
                <i class="icon-star-empty">Die verwandelten Schiffe</i> </a>
            </li>
            <li class="item141">
              <a class="item icon" [routerLink]="['drucke/gedichte']" routerLinkActive="active">
                <i class="icon-star-empty">GEDICHTE (1960)</i> </a>
            </li>
            <li class="item125">
              <a class="item icon" [routerLink]="['drucke/flussufer']" routerLinkActive="active">
                <i class="icon-star-empty">FLUSSUFER (1963)</i> </a>
            </li>
            <li class="item128">
              <a class="item icon" [routerLink]="['drucke/reduktionen']" routerLinkActive="active">
                <i class="icon-star">Reduktionen (1981)</i> </a>
            </li>
            <li class="item107 parent">
              <span class="item">
                Abgewandt Zugewandt <span class="border-fixer"></span>
              </span>
              <div class="dropdown flyout columns-1 " style="width:200px;">
                <div class="column col1" style="width:200px;">
                  <ul class="l3">
                    <li class="item138">
                      <a class="item icon" [routerLink]="['drucke/abgewandt-zugewandt-hochdeutsche-gedichte']"
                         routerLinkActive="active">
                        <i class="icon-star">Hochdeutsche Ged.</i> </a>
                    </li>
                    <li class="item137">
                      <a class="item icon" [routerLink]="['drucke/abgewandt-zugewandt-alemannische-gedichte']"
                         routerLinkActive="active">
                        <i class="icon-star">Alemannische Ged.</i> </a>
                    </li>
                    <li class="item235">
                      <a class="item icon" [routerLink]="['drucke/abgewandt-zugewandt-nachwort']"
                         routerLinkActive="active">
                        <i class="icon-star">Nachwort </i> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item167">
              <a class="item icon" [routerLink]="['drucke/verstreutes']" routerLinkActive="active">
                <i class="icon-star-empty">Verstreutes</i> </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li id="bar" style="border-left: 1px #d8d8d8 solid; margin-left: 10px; margin-right: 3px;"><span class="item" style="margin-top: 7px;"></span></li>
    <li class="item391 parent">
      <span class="item">
        Material <span class="border-fixer"></span>
      </span>
      <div class="dropdown columns-1 " style="width:200px;">
        <div class="column col1" style="width:200px;">
          <ul class="l2">
            <li class="item392">
              <a class="item icon" [routerLink]="['material/tagebuecher']" routerLinkActive="active">
                <i class="icon-star">Tagebücher</i> </a>
            </li>
            <li class="item437">
              <a class="item" [routerLink]="['material/tagebuecher-2']" routerLinkActive="active">
                Briefe </a>
            </li>
            <li class="item440 parent">
              <span class="item icon">
                <i class="icon-star">pdf-Dateien</i> <span class="border-fixer"></span>
              </span>
              <div class="dropdown flyout columns-1 " style="width:200px;">
                <div class="column col1" style="width:200px;">
                  <ul class="l3">
                    <li class="item166">
                      <a class="item icon" [routerLink]="['material/pdf-dateien/notizbuecher']"
                         routerLinkActive="active">
                        <i class="icon-star">Notizbücher</i> </a>
                    </li>
                    <li class="item441">
                      <a class="item icon" [routerLink]="['material/pdf-dateien/synopsen']" routerLinkActive="active">
                        <i class="icon-star">Synopsen</i> </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class="item162 parent">
      <span class="item">
        Infos <span class="border-fixer"></span>
      </span>
      <div class="dropdown columns-1 " style="width:200px;">
        <div class="column col1" style="width:200px;">
          <ul class="l2">
            <li class="item442">
              <a class="item icon" [routerLink]="['anleitung']" routerLinkActive="active" target="_blank">
                <i class="icon-star">Anleitung</i> </a>
            </li>
            <li class="item226">
              <a class="item icon" [routerLink]="['lebensdaten']" routerLinkActive="active">
                <i class="icon-star">Lebensdaten</i> </a>
            </li>
            <li class="item173 parent">
              <span class="item icon">
                <i class="icon-star">Werkliste</i> <span class="border-fixer"></span>
              </span>
              <div class="dropdown flyout columns-1 " style="width:200px;">
                <div class="column col1" style="width:200px;">
                  <ul class="l3">
                    <li class="item293">
                      <a class="item icon" [routerLink]="['werkliste-selbst']" routerLinkActive="active">Selbständige</a>
                    </li>
                    <li class="item293">
                      <a class="item icon" [routerLink]="['werkliste-unselbst']" routerLinkActive="active">Unselbständige</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item173 parent">
              <span class="item icon">
                <i class="icon-star">Archiv</i> <span class="border-fixer"></span>
              </span>
              <div class="dropdown flyout columns-1 " style="width:200px;">
                <div class="column col1" style="width:200px;">
                  <ul class="l3">
                    <li class="item291">
                      <a class="item icon" [routerLink]="['signaturen']" routerLinkActive="active">
                        <i class="icon-star">Signaturen</i> </a>
                    </li>
                    <li class="item293">
                      <a class="item" href="../assets/pdf/bildsignaturen.pdf"
                         onclick="window.open(this.href,'targetWindow','toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes');return false;">
                        Bild-Signaturen (pdf) </a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item173 parent">
              <span class="item icon">
                <i class="icon-star">Ausgaben / Literatur</i> <span class="border-fixer"></span>
              </span>
              <div class="dropdown flyout columns-1 " style="width:200px;">
                <div class="column col1" style="width:200px;">
                  <ul class="l3">
                    <li class="item293">
                      <a class="item icon" [routerLink]="['werkausgabe']" routerLinkActive="active"><i
                        class="icon-star">Werkausgabe</i></a>
                    </li>
                    <li class="item293">
                      <a class="item icon" [routerLink]="['textausgaben']" routerLinkActive="active"><i
                        class="icon-star">Textausgaben</i></a>
                    </li>
                    <li class="item293">
                      <a class="item icon" [routerLink]="['literatur']" routerLinkActive="active"><i
                        class="icon-star">Literatur</i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="item322">
              <a class="item icon" [routerLink]="['impressum']" routerLinkActive="active">
                <i class="icon-star">Impressum</i> </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class ="item131 parent">
      <span class="item">
        Register <span class="border-fixer"></span>
      </span>
      <div class="dropdown columns-1 " style="width:200px;">
        <div class="column col1" style="width:200px;">
          <ul class="l2">
            <li class="item251">
              <a class="item icon" [routerLink]="['/register/publizierte-gedichte']" routerLinkActive="active">
                <i class="icon-star">Publizierte Gedichte</i> </a>
            </li>
            <li class="item252">
              <a class="item icon" [routerLink]="['/register/unpublizierte-gedichte']" routerLinkActive="active">
                <i class="icon-star">Unpublizierte Gedichte</i> </a>
            </li>
            <li class="item253">
              <a class="item icon" [routerLink]="['/register/nachlass-1943-1950']" routerLinkActive="active">
                <i class="icon-star">Nachlass 1943-50</i> </a>
            </li>
            <li class="item254">
              <a class="item icon" [routerLink]="['/register/nachlass-1951-1956']" routerLinkActive="active">
                <i class="icon-star">Nachlass 1951-56</i> </a>
            </li>
            <li class="item255">
              <a class="item icon" [routerLink]="['/register/nachlass-1957-1965']" routerLinkActive="active">
                <i class="icon-star">Nachlass 1957-65</i> </a>
            </li>
            <li class="item256">
              <a class="item icon" [routerLink]="['/register/nachlass-1979']" routerLinkActive="active">
                <i class="icon-star">Nachlass 1979</i> </a>
            </li>
            <li class="item257">
              <a class="item icon" [routerLink]="['/register/nachlass-1979-1988']" routerLinkActive="active">
                <i class="icon-star">Nachlass 1979-88</i> </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li class ="item131 parent">
      <span class="item">
        <md-icon>search</md-icon> <span class="border-fixer"></span>
      </span>
      <div class="dropdown columns-1 " style="width:200px;">
        <div class="column col1" style="width:200px;">
          <ul class="l2">
            <li >
              <a  >
                <i><rae-basic-search></rae-basic-search></i> </a>
            </li>
            <li class="item437">
              <a class="item" [routerLink]="[createLinkToSearch()]" routerLinkActive="active">
                &nbsp;Erweiterte Suche </a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
  <span style="margin-left:20px">
    <a href="http://nie-ine.ch" target="_blank"><img src="../../assets/png/NIE-INE_75x30.png" /></a>
  </span>
</div>
