<div class="register_navigation">
  <button md-raised-button
          [routerLink]="['/register/publizierte-gedichte']" routerLink="active"
          [ngClass]="{'button-is-selected': selectedTab=='publizierte-gedichte'}">
    Publizierte Gedichte
  </button>
  <button md-raised-button
          [routerLink]="['/register/unpublizierte-gedichte']" routerLink="active"
          [ngClass]="{'button-is-selected': selectedTab=='unpublizierte-gedichte'}">
    Unpubliziete Gedichte
  </button>
  <button md-raised-button
          [routerLink]="['/register/nachlass-1943-1950']" routerLink="active"
          [ngClass]="{'button-is-selected': selectedTab=='nachlass-1943-1950'}">
    Nachlass 1943-50
  </button>
  <button md-raised-button
          [routerLink]="['/register/nachlass-1951-1956']" routerLink="active"
          [ngClass]="{'button-is-selected': selectedTab=='nachlass-1951-1956'}">
    Nachlass 1951-56
  </button>
  <button md-raised-button
          [routerLink]="['/register/nachlass-1957-1965']" routerLink="active"
          [ngClass]="{'button-is-selected': selectedTab=='nachlass-1957-1965'}">
    Nachlass 1957-65
  </button>
  <button md-raised-button
          [routerLink]="['/register/nachlass-1979']" routerLink="active"
          [ngClass]="{'button-is-selected': selectedTab=='nachlass-1979'}">
    Nachlass 1979
  </button>
  <button md-raised-button
          [routerLink]="['/register/nachlass-1979-1988']" routerLink="active"
          [ngClass]="{'button-is-selected': selectedTab=='nachlass-1979-1988'}">
    Nachlass 1979-88
  </button>
</div>
