.basic-search {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #ddd;
  background-color: transparent;
  font-size: 13px;
  color: #ddd;
  width: 150px;
  padding-left: 5px;
  padding-right: 5px;
  caret-color: #ddd;
  opacity: 0.8;
}

.search-button {
  opacity: 0.7;
}

.basic-search:focus {
  outline: none;
}

.search-region:hover .basic-search,
.basic-search:focus,
.search-region:hover .search-button,
.basic-search:focus + .search-button {
  opacity: 1;
}
