div.convolute-description md-card {
  background-color: #F7FAFE;
  border: darkgrey;
}

div.convolute-description p {
  margin-top: 0;
  margin-bottom: 0;
  color: #6e6e6e;
}

span.emphase {
  font-weight: bold;
}

md-card div {
  display: inline-block;
  vertical-align: top;
}

.rae-konvolutbild {
  padding-right: 10px;
}
