<div class="rae-convolute-view">
  <div class="rt-container">
    <div id="rt-main" class="mb9-sa3">
      <div class="rt-container">
        <div class="rt-grid-9 ">
          <div class="rt-block">
            <div id="rt-mainbody">
              <div class="component-content">
                <span id="startOfPageId23"></span>
                <div id="k2Container" class="itemView">
                  <div class="itemTagsBlock" style="float:right">
                  </div>
                  <div class="itemHeader">
                    <!-- Item title -->
                    <h2 class="itemTitle" style="padding-left: 30px">
                      Typoskripte 1979
                    </h2>
                  </div>
                  <div class="itemBody">
                    <div class="konvolut-info">
                      <rae-konvolut-steckbrief></rae-konvolut-steckbrief>
                    </div>
                    <br/>
                    <div>
                      Filtern: <input #filter autocomplete="off" type="search" placeholder="Suchbegriff"/>
                    </div>
                    <rae-konvolut-grid></rae-konvolut-grid>
                  </div>
                  <div class="itemBackToTop">
                    <a class="k2Anchor" href="/lyrik/index.php#startOfPageId23">
                      Nach oben </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rt-grid-3 ">
          <div id="rt-sidebar-a">
            <div class="rt-block ">
              <div class="module-surround">
                <div class="module-title">
                  <h2 class="title">Register</h2>
                </div>
                <div class="module-content">
                  <rae-konvolut-register></rae-konvolut-register>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

