<div class="raeber-convolute-view">
  <h2>Typoskripte 1979</h2>

  <div class="konvolut-info">
    <rae-konvolut-steckbrief></rae-konvolut-steckbrief>
    <rae-konvolut-register></rae-konvolut-register>
  </div>
  <br/>
  <div>
    Filtern: <input #filter autocomplete="off" type="search" placeholder="Suchbegriff"/>
    <md-button-toggle-group>
      <md-button-toggle>ausführlich</md-button-toggle>
      <md-button-toggle>kompakt</md-button-toggle>
    </md-button-toggle-group>
  </div>
  <rae-konvolut-grid></rae-konvolut-grid>
</div>
