<div class="raeber-convolute-view">
  <h2>Typoskripte 1979</h2>

  <rae-konvolut-steckbrief></rae-konvolut-steckbrief>
<!--
  <div>
    <md-button-toggle-group name="alignment" [(ngModel)]="selectedView">
      <md-button-toggle *ngFor="let view of viewOptions" [value]=view.name [title]=view.title [disabled]="view.isDisabled">
        <md-icon>{{view.icon}}</md-icon>
      </md-button-toggle>

    </md-button-toggle-group>
  </div>
  -->
<!--
  <div>
    <raeber-poem-list *ngIf="selectedView=='list' && result" [result]="result" (openResource)="openResource($event, $event)"></raeber-poem-list>
    <raeber-poem-grid *ngIf="selectedView=='grid' && result" [result]="result" [cols]="cols" (openResource)="openResource($event, $event)"></raeber-poem-grid>
  </div>
-->
</div>
