<h4 style="color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);" class="emphase">Synopsen</h4>

<!-- TODO: Terminologie aktualisieren! -->

<p>In der Synopse werden alle Fassungen eines Gedichtes gleichzeitig angezeigt.<br>
  Zur Otpimierung der Vergleichsm&ouml;glichkeiten sind mehrere Optionen verf&uuml;gbar. Die meisten dienen der Reduktion der
  Anzeigen.</p>

<p>Buttonleiste oben (mehrere Texte gleichzeitig betreffend):</p>

<ul>
  <li>&nbsp;<em>Kein Text / Text</em>: Texte
    aus-/einblenden (nur Titel anzeigen)
  </li>
  <li><em>1/2/3 Spalten</em>: 1/2/3 Spalten anzeigen</li>
  <li><em>+ Format / - Format</em>: alle Textrahmen
    vergr&ouml;&szlig;ern / verkleinern</li>
  <li><em>Rahmenlos / Rahmen</em>: alle Textrahmen entfernen (Texte in
    unterschiedlicher Gr&ouml;&szlig;e)</li>
  <li><em>Erst + Letzt</em>: nur ersten und letzten
    Textzeugen anzeigen</li>
  <li><em>- Notizbücher</em>: Notizb&uuml;chern aus-/einblenden
    (ebenso bei Typoskripte und Manuskripten)</li>
  <li><em>- Duplikate</em>: Identische Textfassungen ausblenden</li>
  <li><em>Reset</em>: Neuladen der Seite</li>
</ul>

<!--<p>Bei jedem einzelnen Text l&auml;sst sich</p>

<ul>
  <li>das ganze Element (Textrahmen) verstecken (<span class="icon-delete"></span>)</li>
  <li>der Textk&ouml;rper ausblenden (<span class="icon-menu-2"></span>),</li>
  <li>der Rahmen durch Ziehen rechts unten vertikal vergr&ouml;&szlig;ern / verkleinern).
  </li>
</ul>-->

<p>Durch Kombination der verschiedenen Optionen sind variable Anordnungen m&ouml;glich.</p>
