<div class="rt-container">
  <md-sidenav-container style="min-height: 35em">
    <md-sidenav mode="side" align="start" opened="true">
      <div class="module-title">
        <h2 class="title">{{title}}</h2>
      </div>
      <div class="module-content">
        <rae-register-navigation [selectedTab]="selectedTab"></rae-register-navigation>
      </div>
    </md-sidenav>
    <div class="component-content normal">
                      <div class="custom"  >
                        <p>&nbsp;</p>
                        <p>Die Menü-Optionen ermöglichen die Anzeige verschiedener chronologischer Titelregister, die
                          das Gesamtkorpus derGedichte filtern.
                        </p>
                        <p><span class="emphase">Publizierte Gedichte</span>: Angezeigt werden, alphabetisch geordnet,
                          die Titel aller veröffentlichten Gedichte.
                        </p>
                        <p><span class="emphase">Unpublizierte Gedichte</span>: Angezeigt werden, alphabetisch geordnet,
                          die Titel aller nicht zur Veröffentlichung gelangten Gedichte in ihrer jeweils letzten
                          Fassung (Notizbuch, Manuskript oder Typoskript).
                        </p>
                        <p>Nachlassgedichte nach <strong>Werkphasen</strong>: Titel aller Gedichtfassungen eines
                          bestimmten Zeitraums. Die Phasen orientieren sich an der Publikation der Gedichtsammlungen.
                        </p>
                      </div>
                  <div id="k2Container" class="itemView">
                    <rae-register-beschreibung [selectedTab]="selectedTab">
                    </rae-register-beschreibung>
                  </div>
    </div>
    <md-sidenav mode="side" align="end" opened="true">
                <rae-register-titelregister [selectedTab]="selectedTab"
                                            *ngIf="selectedTab=='publizierte-gedichte'
                                               || selectedTab=='unpublizierte-gedichte'
                                               || selectedTab=='nachlass-1979'
                                               || selectedTab=='nachlass-1979-1988'"></rae-register-titelregister>
    </md-sidenav>
  </md-sidenav-container>
</div>

