<div id="rt-transition">
  <div id="rt-mainbody-surround">
    <div class="rt-container">
      <div id="rt-main" class="mb9-sa3">
        <div class="rt-container">
          <div class="rt-grid-9 ">
            <div class="rt-block">
              <div id="rt-mainbody">
                <div class="component-content">
                  <h1>Synopse ({{nHits}})</h1>
                  <rae-synopse-werkzeugleiste #werkzeugleiste
                                              [(showText)]="showText"
                                              [gridHeight]="gridHeight"
                                              (vergroessereText)="textgrid.vergroessereFeld()"
                                              (verkleinereText)="textgrid.verkleinereFeld()"
                                              (cols)="setColumns($event)"
                                              (resetHeight)="textgrid.resetField()">
                  </rae-synopse-werkzeugleiste>
                  <rae-textgrid #textgrid
                                [poemsInGrid]="poemsInSynopse"
                                [columns]="columns"
                                [showText]="showText"
                                contentType="synopse"
                                [rahmen]="werkzeugleiste.rahmen"
                                (gridHeight)="setGridHeight($event)">
                  </rae-textgrid>
                </div>
              </div>
            </div>
          </div>
          <div class="rt-grid-3 ">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
