<div id="rt-transition">
  <div id="rt-mainbody-surround">
    <div class="rt-container">
      <div id="rt-main" class="mb9-sa3">
        <div class="rt-container">
          <div class="rt-grid-9 ">
            <div class="rt-block">
              <div id="rt-mainbody">
                <div class="component-content">
                  <h4 style="margin-left:5px; margin-top:5px; margin-bottom:0;">Synopse: {{ workTitle }}</h4>
                  <p style="margin-left:5px;">{{ createNumberOfResultString() }}</p>
                  <rae-synopse-werkzeugleiste #werkzeugleiste
                                              [(showText)]="showText"
                                              [gridHeight]="gridHeight"
                                              [hasDuplicates]="numberOfShownPoems < results"
                                              (vergroessereText)="textgrid.vergroessereFeld()"
                                              (verkleinereText)="textgrid.verkleinereFeld()"
                                              (cols)="setColumns($event)"
                                              (resetHeight)="textgrid.resetField()"
                                              (resetSinglePoemHiddenState)="textgrid.resetSinglePoemHiddenState()"
                                              (firstLastState)="setFilterFirstLast()"
                                              (showNotebooksState)="toggleShowNotebooks()"
                                              (showManuscriptsState)="toggleShowManuscripts()"
                                              (showTyposcriptsState)="toggleShowTyposcripts()"
                                              (showDuplicatesState)="toggleShowDuplicates()">
                  </rae-synopse-werkzeugleiste>
                  <from-poem-iri-to-textgrid-information
                    contentType="synopse"
                    [workIRI]="workIri"
                    [poemIRIArray]="poemsIri"
                    (sendPoemInformationBack)="updatePoemInformation($event)"></from-poem-iri-to-textgrid-information>
                  <rae-textgrid #textgrid
                                [poemsInGrid]="poems"
                                [columns]="columns"
                                [showText]="showText"
                                contentType="synopse"
                                [rahmen]="werkzeugleiste.rahmen"
                                [filterFirstLastFlag]="filterFirstLastFlag"
                                [filterNotebookFlag]="!showNotebooks"
                                [filterManuscriptFlag]="!showManuscripts"
                                [filterTyposcriptFlag]="!showTyposcripts"
                                [filterDuplicatesFlag]="!showDuplicates"
                                (gridHeight)="setGridHeight($event)"
                                (numberOfResults)="setNumberOfShownPoems($event)">
                  </rae-textgrid>
                </div>
              </div>
            </div>
          </div>
          <div class="rt-grid-3 ">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
