<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<h1>Suche</h1>

<br>


<div ng-init="myResources=initialQuery()">


  <!--
   array: Length of this is the number of Search Blocks that the user wants to combine
   i: i-th search block
   -->

  <div *ngFor="let i of array" style="display: inline-block; vertical-align: top; border: thin solid #A9DAEF; margin: 2px 2px 2px 2px;">


    <span *ngIf="i > 1" > OR</span>


    <div style="display: inline-block; vertical-align: top; padding-left: 20px;">

      <rae-search-for-one-resource
        [nthResourceSearch]="i"
        [myResources]="myResources"
        (sendPropertyTripleBack)="updateQuerySet($event)" >

      </rae-search-for-one-resource>

    </div>


  </div>


  <button md-button (click)="increaseArrayElement()">

    <md-icon >add_box</md-icon>

  </button>


  <button md-button (click)="executeFinalQueries()">

    <md-icon >search</md-icon>

  </button>


</div>

Final Queries:
<div *ngFor="let query of finalQueryArray; let i = index" style="width:50em;">
  <span style="word-wrap: break-word; word-break: break-all;">
    Query number: {{ i }}
    <br>
    {{ query }}
  </span>
</div>

<rae-textgrid [poems_in_grid]="searchResult"></rae-textgrid>
