.box {
  float: left;
  width: 18%;
  margin-right: 1%;
  padding: 5px;
  background: #eee;
  box-sizing: border-box;
}

>>> .mat-input-underline {
  margin-bottom: 3px;
}

.chosenPage {
  color: green;
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}
