<div class="rae-diplomatic">
  <md-toolbar>
    <md-button-toggle-group [(ngModel)]="gewaehlteSchicht" name="schichtwaehler{{textIRI}}"
                            (ngModelChange)="gewaehlteSchichtChange.emit(gewaehlteSchicht)">
      <md-button-toggle value="schicht0"
                        [ngStyle]="{'color': farbeNeutral}"
                        title="Anfangsschicht ohne Auszeichnung">
        0
      </md-button-toggle>
      <md-button-toggle value="schicht1"
                        [ngStyle]="{'color': farbeErste}"
                        title="Grundschicht (kleiner Verbund), nur ausnahmsweise ausgezeichnet">
        1
      </md-button-toggle>
      <md-button-toggle value="schicht2"
                        [ngStyle]="{'color': farbeEinfuegung}"
                        title="Texteinfügung entgegen dem linearen Verlauf der Niederschrift">
        2
      </md-button-toggle>
      <md-button-toggle value="schicht3"
                        [ngStyle]="{'color': farbeLetzte}"
                        title="Endschicht (Basis für edierten Text)">
        3
      </md-button-toggle>
    </md-button-toggle-group>

    <button md-raised-button (click)="toggleDraggable()" title="Umschrift verschiebbar machen">
      <md-icon *ngIf="textIsMovable">check_box</md-icon>
      <md-icon *ngIf="!textIsMovable">check_box_outline_blank</md-icon>
      ↔
    </button>

  </md-toolbar>
  <div class="umschrift edtext edtext_hs">
    <div class="transkription" [innerHtml]="text"></div>
  </div>
</div>
