<div class="rae-diplomatic">
  <menu>

    <button md-raised-button
            [ngStyle]="{'color': farbeNeutral}"
            [ngClass]="{'button-is-active': gewaehlteSchicht == 'schicht0'}"
            class="rae-image-small-button"
            title="Anfangsschicht ohne Auszeichnung"
            (click)="gewaehlteSchicht = 'schicht0'; gewaehlteSchichtChange.emit(gewaehlteSchicht); updateSchichten();">
      0
    </button>

    <button md-raised-button
            [ngStyle]="{'color': farbeErste}"
            [ngClass]="{'button-is-active': gewaehlteSchicht == 'schicht1'}"
            class="rae-image-small-button"
            *ngIf="showStufe1"
            title="Grundschicht (kleiner Verbund), nur ausnahmsweise ausgezeichnet"
            (click)="gewaehlteSchicht = 'schicht1'; gewaehlteSchichtChange.emit(gewaehlteSchicht); updateSchichten();">
      1
    </button>

    <button md-raised-button
            [ngStyle]="{'color': farbeEinfuegung}"
            [ngClass]="{'button-is-active': gewaehlteSchicht == 'schicht2'}"
            class="rae-image-small-button"
            *ngIf="showStufe2"
            title="Texteinfügung entgegen dem linearen Verlauf der Niederschrift"
            (click)="gewaehlteSchicht = 'schicht2'; gewaehlteSchichtChange.emit(gewaehlteSchicht); updateSchichten();">
      2
    </button>

    <button md-raised-button
            [ngStyle]="{'color': farbeLetzte}"
            [ngClass]="{'button-is-active': gewaehlteSchicht == 'schicht3'}"
            class="rae-image-small-button"
            title="Endschicht (Basis für edierten Text)"
            (click)="gewaehlteSchicht = 'schicht3'; gewaehlteSchichtChange.emit(gewaehlteSchicht); updateSchichten();">
      3
    </button>

    <button md-raised-button
            (click)="toggleDraggable()"
            [ngClass]="{'button-is-active': textIsMovable}"
            class="rae-image-small-button"
            title="Umschrift verschiebbar machen">
      ↔
    </button>
  </menu>

  <div class="umschrift edtext edtext_hs">
    <div class="transkription" [innerHtml]="text"></div>
  </div>
</div>
