md-button-toggle-group {
  width: 80%;
}

md-button-toggle, button {
  width: 25%;
  height: 36px;
  font-size: 80%;
}

button.rae-image-small-button {
  min-width: 10px;
  height: 30px;
  line-height: normal;
  padding: 5px;
  font-size: 80%;
  vertical-align: middle;
}
