menu {
  margin: 0;
  padding: 0;
}

button.rae-image-small-button {
  min-width: 30px;
  height: 30px;
  line-height: normal;
  padding: 5px;
  font-size: 80%;
  vertical-align: middle;
}

.button-is-active {
  background-color: silver;
}

div.umschrift {
  padding-left: 2em;
}
