ul, li {
  list-style-type: none;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font-size: 11pt;
}

.suchmenu-container {
  min-width: 100%;
  height: 900px;
  min-height: 100%;
}

.suchmenu-content {
  display: flex;
  height: 100%;
}

.suchmenu {
  padding: 20px;
}

.cb-l1 {
  padding-left: 15px;
}

.cb-l2 {
  padding-left: 30px;
}

.cb-l3 {
  padding-left: 45px;
}

.ip-epoche {
  width: 50px;
}

.hidden {
  display: none;
}

md-checkbox {
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.red {
  color: red;
}

.disableButton {
  position: absolute;
  right: 10px;
}

.showMoreButton {
  position: absolute;
  left: 0;
}

.disableButton .material-icons {
  font-size: 14px;
}

.accordionSubtitle {
  font-weight: 800;
  margin-top: 1.7em;
  margin-bottom: 0.5em;
}

.suchmenu-button {
  position: fixed;
  left: 0px;
  top: 45%;
  min-width: 1%;
}
