<md-sidenav-container class="suchmenu-container" id="containerDiv">
  <md-sidenav #suchmenu class="suchmenu" position="right" [opened]="sidenavOpened" mode="side">
    <form [formGroup]="suchmenuForm" novalidate>
      <div formGroupName="suchwortForm">
        <md-input-container>
          <input mdInput [placeholder]="generatePlaceHolder()"
                 formControlName="suchwortInput"
                 style="width: 250px"
                 [value]="generateTextForInputField()"/>
        </md-input-container>
        <button md-button (click)="startTheSearch()">
          <md-icon>arrow_forward</md-icon>
        </button>
      </div>
      <div class="accordionSubtitle">Korpusauswahl</div>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
          <ng-template ngbPanelTitle>Konvolute</ng-template>
          <ng-template ngbPanelContent>
            <button md-button (click)="selectAllConvolutes()">
              {{ allConvolutesSelected ? 'Alle abwählen' : 'Alle auswählen' }}
            </button>
            <ul formGroupName="notizbuchForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.notizbuecher=!catHidden.notizbuecher">
                  <md-icon>{{ catHidden.notizbuecher ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox disableRipple class="md-checkbox" formControlName="notizbuchAll" color="primary"
                             [class.green]="parentCategoryState['notizbuchForm'] === 2"
                             [class.red]="parentCategoryState['notizbuchForm'] === 0"
                             [class.blue]="parentCategoryState['notizbuchForm'] === 1"
                             [checked]="parentCategoryState['notizbuchForm'] === 2"
                             [indeterminate]="parentCategoryState['notizbuchForm'] === 1"
                             (change)="setValueForChildElems('notizbuchForm', 'notizbuchForm.notizbuchAll')">
                  Notizbücher
                </md-checkbox>
              </li>
         <!--     <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1948-49
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1949
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1950
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1950-51
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1952-54
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1954-55
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1955-57
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1957-58
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1958-61
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1961-65
                </md-checkbox>
              </li>-->
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [checked]="suchmenuForm.get('notizbuchForm.notizbuchAll').value"
                             color="primary"
                             [class.green]="suchmenuForm.get('notizbuchForm.notizbuch79').value"
                             [class.red]="!suchmenuForm.get('notizbuchForm.notizbuch79').value"
                             (change)="setStateOfParentElement('notizbuchForm', 'notizbuchAll')"
                             formControlName="notizbuch79">Notizbuch 1979
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [checked]="suchmenuForm.get('notizbuchForm.notizbuchAll').value"
                             color="primary"
                             [class.green]="suchmenuForm.get('notizbuchForm.notizbuch7982').value"
                             [class.red]="!suchmenuForm.get('notizbuchForm.notizbuch7982').value"
                             (change)="setStateOfParentElement('notizbuchForm', 'notizbuchAll')"
                             formControlName="notizbuch7982">Notizbuch 1979-82
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [checked]="suchmenuForm.get('notizbuchForm.notizbuchAll').value"
                             color="primary"
                             [class.green]="suchmenuForm.get('notizbuchForm.notizbuch8088').value"
                             [class.red]="!suchmenuForm.get('notizbuchForm.notizbuch8088').value"
                             (change)="setStateOfParentElement('notizbuchForm', 'notizbuchAll')"
                             formControlName="notizbuch8088">Notizbuch 1980-88
                </md-checkbox>
              </li>
<!--              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Notizbuch 1965-80
                </md-checkbox>
              </li>-->
            </ul>
            <ul formGroupName="manuskriptForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.manuskripte=!catHidden.manuskripte">
                  <md-icon>{{ catHidden.manuskripte ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox disableRipple class="md-checkbox" formControlName="manuskriptAll" color="primary"
                             [class.green]="parentCategoryState['manuskriptForm'] === 2"
                             [class.red]="parentCategoryState['manuskriptForm'] === 0"
                             [class.blue]="parentCategoryState['manuskriptForm'] === 1"
                             [checked]="parentCategoryState['manuskriptForm'] === 2"
                             [indeterminate]="parentCategoryState['manuskriptForm'] === 1"
                             (change)="setValueForChildElems('manuskriptForm', 'manuskriptForm.manuskriptAll')">
                  Manuskripte
                </md-checkbox>
              </li>

<!--              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1948-51
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1951
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1952
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1953
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1954
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1955
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1956
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1957
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1958
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1958-59
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1959-60
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1961
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1962
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1963
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte 1964-65
                </md-checkbox>
              </li>-->
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple formControlName="manuskript79" color="primary"
                             (change)="setStateOfParentElement('manuskriptForm', 'manuskriptAll')"
                             [class.green]="suchmenuForm.get('manuskriptForm.manuskript79').value"
                             [class.red]="!suchmenuForm.get('manuskriptForm.manuskript79').value"
                             [checked]="suchmenuForm.get('manuskriptForm.manuskriptAll').value">Manuskripte 1979
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple formControlName="manuskript7983" color="primary"
                             (change)="setStateOfParentElement('manuskriptForm', 'manuskriptAll')"
                             [class.green]="suchmenuForm.get('manuskriptForm.manuskript7983').value"
                             [class.red]="!suchmenuForm.get('manuskriptForm.manuskript7983').value"
                             [checked]="suchmenuForm.get('manuskriptForm.manuskriptAll').value">Manuskripte 1979-83
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple formControlName="manuskriptKarten" color="primary"
                             (change)="setStateOfParentElement('manuskriptForm', 'manuskriptAll')"
                             [class.green]="suchmenuForm.get('manuskriptForm.manuskriptKarten').value"
                             [class.red]="!suchmenuForm.get('manuskriptForm.manuskriptKarten').value"
                             [checked]="suchmenuForm.get('manuskriptForm.manuskriptAll').value">Karten 1984
                </md-checkbox>
              </li>
<!--              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >Manuskripte divers
                </md-checkbox>
              </li>-->
            </ul>
            <ul formGroupName="typoskriptForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.typoskripte=!catHidden.typoskripte">
                  <md-icon>{{ catHidden.typoskripte ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox disableRipple class="md-checkbox" formControlName="typoskriptAll" color="primary"
                             [class.green]="parentCategoryState['typoskriptForm'] === 2"
                             [class.red]="parentCategoryState['typoskriptForm'] === 0"
                             [class.blue]="parentCategoryState['typoskriptForm'] === 1"
                             [checked]="parentCategoryState['typoskriptForm'] === 2"
                             [indeterminate]="parentCategoryState['typoskriptForm'] === 1"
                             (change)="setValueForChildElems('typoskriptForm', 'typoskriptForm.typoskriptAll')">
                  Typoskripte
                </md-checkbox>
              </li>
<!--              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1943-46
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1945-50
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1948-50
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1951
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1952
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1953
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1954
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1955
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1956
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1957
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1958
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1959
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1960
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1961
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1962
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1963
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1965
                </md-checkbox>
              </li>-->
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple formControlName="typoskript79" color="primary"
                             (change)="setStateOfParentElement('typoskriptForm', 'typoskriptAll')"
                             [checked]="suchmenuForm.get('typoskriptForm.typoskriptAll').value"
                             [class.green]="suchmenuForm.get('typoskriptForm.typoskript79').value"
                             [class.red]="!suchmenuForm.get('typoskriptForm.typoskript79').value">
                  Typoskripte 1979
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple formControlName="typoskript79Spez" color="primary"
                             (change)="setStateOfParentElement('typoskriptForm', 'typoskriptAll')"
                             [checked]="suchmenuForm.get('typoskriptForm.typoskriptAll').value"
                             [class.green]="suchmenuForm.get('typoskriptForm.typoskript79Spez').value"
                             [class.red]="!suchmenuForm.get('typoskriptForm.typoskript79Spez').value">
                  Typoskripte 1979-spez
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple formControlName="typoskript83" color="primary"
                             (change)="setStateOfParentElement('typoskriptForm', 'typoskriptAll')"
                             [checked]="suchmenuForm.get('typoskriptForm.typoskriptAll').value"
                             [class.green]="suchmenuForm.get('typoskriptForm.typoskript83').value"
                             [class.red]="!suchmenuForm.get('typoskriptForm.typoskript83').value">
                  Typoskripte 1983
                </md-checkbox>
              </li>
<!--              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1983 spez.
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte Kutter
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte Hochstrasser
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte Thomas
                  Raeber
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte divers
                </md-checkbox>
              </li>-->
            </ul>
            <ul formGroupName="druckForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.drucke=!catHidden.drucke">
                  <md-icon>{{ catHidden.drucke ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox disableRipple class="md-checkbox" formControlName="druckAll" color="primary"
                             [class.green]="parentCategoryState['druckForm'] === 2"
                             [class.red]="parentCategoryState['druckForm'] === 0"
                             [class.blue]="parentCategoryState['druckForm'] === 1"
                             [checked]="parentCategoryState['druckForm'] === 2"
                             [indeterminate]="parentCategoryState['druckForm'] === 1"
                             (change)="setValueForChildElems('druckForm', 'druckForm.druckAll')">
                  Selbständige Publikationen
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox disableRipple formControlName="druckGesicht" color="primary"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             (change)="setStateOfParentElement('druckForm', 'druckAll')"
                             [class.green]="suchmenuForm.get('druckForm.druckGesicht').value"
                             [class.red]="!suchmenuForm.get('druckForm.druckGesicht').value">
                  GESICHT IM MITTAG 1950
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox disableRipple formControlName="druckSchiffe" color="primary"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             (change)="setStateOfParentElement('druckForm', 'druckAll')"
                             [class.green]="suchmenuForm.get('druckForm.druckSchiffe').value"
                             [class.red]="!suchmenuForm.get('druckForm.druckSchiffe').value">
                  Die
                  verwandelten Schiffe 1957
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox disableRipple formControlName="druckGedichte" color="primary"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             (change)="setStateOfParentElement('druckForm', 'druckAll')"
                             [class.green]="suchmenuForm.get('druckForm.druckGedichte').value"
                             [class.red]="!suchmenuForm.get('druckForm.druckGedichte').value">
                  GEDICHTE 1960
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox disableRipple formControlName="druckFlussufer" color="primary"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             (change)="setStateOfParentElement('druckForm', 'druckAll')"
                             [class.green]="suchmenuForm.get('druckForm.druckFlussufer').value"
                             [class.red]="!suchmenuForm.get('druckForm.druckFlussufer').value">
                  FLUSSUFER 1963
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox disableRipple formControlName="druckReduktionen" color="primary"
                             (change)="setStateOfParentElement('druckForm', 'druckAll')"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckReduktionen').value"
                             [class.red]="!suchmenuForm.get('druckForm.druckReduktionen').value">
                  Reduktionen 1981
                </md-checkbox>
              </li>
              <!--<span formGroupName="druckAbgewandt">-->
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox disableRipple formControlName="druckAbgewandtAll" color="primary"
                             (change)="setStateOfParentElement('druckForm', 'druckAll')"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckAbgewandtAll').value"
                             [class.red]="!suchmenuForm.get('druckForm.druckAbgewandtAll').value">
                  Abgewandt Zugewandt 1985
                </md-checkbox>
            </ul>
            <ul formGroupName="zeitschriftForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.zeitschriften=!catHidden.zeitschriften">
                  <md-icon>{{ catHidden.zeitschriften ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox disableRipple class="md-checkbox" formControlName="zeitschriftAll" color="primary"
                             [class.green]="parentCategoryState['zeitschriftForm'] === 2"
                             [class.red]="parentCategoryState['zeitschriftForm'] === 0"
                             [class.blue]="parentCategoryState['zeitschriftForm'] === 1"
                             [checked]="parentCategoryState['zeitschriftForm'] === 2"
                             [indeterminate]="parentCategoryState['zeitschriftForm'] === 1"
                             (change)="setValueForChildElems('zeitschriftForm', 'zeitschriftForm.zeitschriftAll')">
                  Unselbständige Publikationen
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftAkzente" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftAkzente').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftAkzente').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Akzente
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftBlaetter" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftBlaetter').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftBlaetter').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">blätter + bilder
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftSchoenste" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftSchoenste').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftSchoenste').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Das Schönste
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftTag" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftTag').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftTag').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Der Tages-Anzeiger
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftLandschaft" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLandschaft').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLandschaft').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Die skeptische
                  Landschaft - NoImp
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftTat" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftTat').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftTat').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Die Tat
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftZeit" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftZeit').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftZeit').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">DIE ZEIT
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftEnsemble" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftEnsemble').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftEnsemble').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">ensemble
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftGegengewichte" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftGegengewichte').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftGegengewichte').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Gegengewichte - NoImp
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftHortulus" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftHortulus').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftHortulus').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">hortulus
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftJahresring" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftJahresring').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftJahresring').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Jahresring
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftKonturen" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftKonturen').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftKonturen').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Konturen
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftLNN" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLNN').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLNN').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Luzerner Neueste
                  Nachrichten
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftLadZ" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLadZ').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLadZ').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Lyrik aus dieser Zeit
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftLuZ" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLuZ').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLuZ').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Lyrik unserer Zeit
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftMerkur" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftMerkur').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftMerkur').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Merkur
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftDeutscheHefte" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftDeutscheHefte').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftDeutscheHefte').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Neue Deutsche Hefte
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftNZN" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftNZN').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftNZN').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Neue Zürcher
                  Nachrichten
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftNZZ" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftNZZ').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftNZZ').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Neue Zürcher Zeitung
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftRenaissance" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftRenaissance').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftRenaissance').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Renaissance
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftRundschau" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftRundschau').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftRundschau').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Schweizer Rundschau
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftSonntagsblatt" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftSonntagsblatt').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftSonntagsblatt').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Sonntagsblatt - NoImp
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftSueddeutsche" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftSueddeutsche').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftSueddeutsche').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Süddeutsche Zeitung
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <!--<md-checkbox disableRipple formControlName="zeitschriftTA"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftTA').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftTA').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Tages-Anzeiger
                </md-checkbox>-->
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox disableRipple formControlName="zeitschriftWortTat" color="primary"
                             (change)="setStateOfParentElement('zeitschriftForm', 'zeitschriftAll')"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftWortTat').value"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftWortTat').value"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Wort und Tat
                </md-checkbox>
              </li>
            </ul>
            <ul formGroupName="materialienForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.materialien=!catHidden.materialien">
                  <md-icon>{{ catHidden.materialien ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox disableRipple class="md-checkbox" formControlName="materialienAll" color="primary"
                             [class.green]="parentCategoryState['materialienForm'] === 2"
                             [class.red]="parentCategoryState['materialienForm'] === 0"
                             [class.blue]="parentCategoryState['materialienForm'] === 1"
                             [checked]="parentCategoryState['materialienForm'] === 2"
                             [indeterminate]="parentCategoryState['materialienForm'] === 1"
                             (change)="setValueForChildElems('materialienForm', 'materialienForm.materialienAll')">
                  Materialien
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.materialien">
                <md-checkbox disableRipple formControlName="materialienTagebuch" color="primary"
                             (change)="setStateOfParentElement('materialienForm', 'materialienAll')"
                             [class.green]="suchmenuForm.get('materialienForm.materialienTagebuch').value"
                             [class.red]="!suchmenuForm.get('materialienForm.materialienTagebuch').value"
                             [checked]="suchmenuForm.get('materialienForm.materialienAll').value">Tagebuch
                </md-checkbox>
              </li>
<!--              <li class="cb-l2" [class.hidden]="!catHidden.materialien">
                <md-checkbox disableRipple [disabled]="true"
                             [checked]="false">Brief
                </md-checkbox>
              </li>-->
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Textart">
          <ng-template ngbPanelContent>
            <button md-button (click)="selectAllGenres()">
              {{ allGenresSelected ? 'Alle abwählen' : 'Alle auswählen' }}
            </button>
            <ul formGroupName="textartForm">
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="textartFreieVerse" color="primary"
                             [class.green]="suchmenuForm.get('textartForm.textartFreieVerse').value"
                             [class.red]="!suchmenuForm.get('textartForm.textartFreieVerse').value">
                  Freie Verse
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="textartGereimteVerse" color="primary"
                             [class.green]="suchmenuForm.get('textartForm.textartGereimteVerse').value"
                             [class.red]="!suchmenuForm.get('textartForm.textartGereimteVerse').value">
                  Gereimte Verse
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="textartProsa" color="primary"
                             [class.green]="suchmenuForm.get('textartForm.textartProsa').value"
                             [class.red]="!suchmenuForm.get('textartForm.textartProsa').value">
                  Rhythmische Prosa
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="textartProsanotat" color="primary"
                             [class.green]="suchmenuForm.get('textartForm.textartProsanotat').value"
                             [class.red]="!suchmenuForm.get('textartForm.textartProsanotat').value">
                  Prosanotat
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="textartBriefentwurf" color="primary"
                             [class.green]="suchmenuForm.get('textartForm.textartBriefentwurf').value"
                             [class.red]="!suchmenuForm.get('textartForm.textartBriefentwurf').value">
                  Briefentwurf
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="accordionSubtitle">Filter</div>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="Zeitraum">
          <ng-template ngbPanelContent>
            <div formGroupName="zeitraumForm">
              von
              <md-input-container style="width: 70px; align: center">
                <input mdInput formControlName="zeitraumVon" class="ip-epoche"  />
              </md-input-container>
              bis
              <md-input-container style="width: 70px; align: center">
                <input mdInput formControlName="zeitraumBis" class="ip-epoche"/>
              </md-input-container>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Endfassungen">
          <ng-template ngbPanelContent>
            <li class="cb-l1">
              <md-checkbox disableRipple formControlName="endfassung" class="cb-l1" color="primary"
                           [class.green]="suchmenuForm.get('endfassung').value && !suchmenuForm.pristine"
                           [class.red]="!suchmenuForm.get('endfassung').value || suchmenuForm.pristine"
                           [disabled]="suchmenuForm.get('keineEndfassung').value && !suchmenuForm.pristine"
                           >Nur Endfassungen
              </md-checkbox>
            </li>
            <li class="cb-l1">
              <md-checkbox disableRipple formControlName="keineEndfassung" class="cb-l1" color="primary"
                           [class.green]="suchmenuForm.get('keineEndfassung').value && !suchmenuForm.pristine"
                           [class.red]="!suchmenuForm.get('keineEndfassung').value || suchmenuForm.pristine"
                           [disabled]="suchmenuForm.get('endfassung').value && !suchmenuForm.pristine"
                           >Keine Endfassungen
              </md-checkbox>
            </li>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Strophen">
          <ng-template ngbPanelContent>
            <ul>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="strophen" class="cb-l1" color="primary"
                             [class.green]="suchmenuForm.get('strophen').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('strophen').value || suchmenuForm.pristine"
                             [disabled]="suchmenuForm.get('keineStrophen').value && !suchmenuForm.pristine"
                             >Nur Texte mit Strophenunterteilung
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="keineStrophen" class="cb-l1" color="primary"
                             [class.green]="suchmenuForm.get('keineStrophen').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('keineStrophen').value || suchmenuForm.pristine"
                             [disabled]="suchmenuForm.get('strophen').value && !suchmenuForm.pristine"
                             >Keine Texte mit Strophenunterteilung
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Mundart">
          <ng-template ngbPanelContent>
            <ul>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="mundart" class="cb-l1" color="primary"
                             [class.green]="suchmenuForm.get('mundart').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('mundart').value || suchmenuForm.pristine"
                             [disabled]="suchmenuForm.get('keineMundart').value && !suchmenuForm.pristine"
                             >Nur Mundartgedichte
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="keineMundart" class="cb-l1" color="primary"
                             [class.green]="suchmenuForm.get('keineMundart').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('keineMundart').value || suchmenuForm.pristine"
                             [disabled]="suchmenuForm.get('mundart').value && !suchmenuForm.pristine"
                             >Keine Mundartgedichte
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Zyklen">
          <ng-template ngbPanelContent>
            <ul>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="zyklus" class="cb-l1" color="primary"
                             [class.green]="suchmenuForm.get('zyklus').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('zyklus').value || suchmenuForm.pristine"
                             [disabled]="suchmenuForm.get('keinZyklus').value && !suchmenuForm.pristine"
                             >Nur Texte eines Zyklus
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox disableRipple formControlName="keinZyklus" class="cb-l1" color="primary"
                             [class.green]="suchmenuForm.get('keinZyklus').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('keinZyklus').value || suchmenuForm.pristine"
                             [disabled]="suchmenuForm.get('zyklus').value && !suchmenuForm.pristine"
                             >Keine Texte eines Zyklus
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </form>

    <br>

    <button
      md-raised-button
      (click)="resetInputValue()">
      Reset Suchoptionen
    </button>

  </md-sidenav>

  <md-progress-bar
    *ngIf="loadingIndicator"
    class="example-margin"
    color="primary"
    mode="indeterminate">
  </md-progress-bar>






  <div class="suchmenu-content">

    <div style="margin-top: 10px;">
      <rae-textgrid
        [searchTermArray]="searchTermArray"
        [poemsInGrid]="poemsInGrid"
        [columns]="relativeSizeOfColumns"
        [showText]="showTexts"
        [rahmen]="!textsHaveAlignedFrames"
        [gridTextHeight]="textboxHeight">
      </rae-textgrid>
    </div>


  </div>
</md-sidenav-container>

<!--  <button
    md-mini-fab class="suchmenu-button"
    (click)="suchmenu.toggle()" color="primary">
    <md-icon>dehaze</md-icon>
  </button>-->

<button md-raised-button class="suchmenu-button" (click)="openAndCloseSidenav()">
  <md-icon>
    {{ sidenavOpened ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}
  </md-icon>
</button>
