<md-sidenav-container class="suchmenu-container">
  <md-sidenav #suchmenu class="suchmenu" position="right" [opened]="sidenavOpened" mode="side">
    <form [formGroup]="suchmenuForm" novalidate>
      <div formGroupName="suchwortForm">
        <md-input-container>
          <input mdInput [placeholder]="generateTextForInputField()"
                 formControlName="suchwortInput"
                 style="width: 250px"/>
        </md-input-container>
        <button md-button (click)="startTheSearch()">
          <md-icon>arrow_forward</md-icon>
        </button>
      </div>
      <div class="accordionSubtitle">Korpusauswahl</div>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel>
          <ng-template ngbPanelTitle>Konvolute</ng-template>
          <ng-template ngbPanelContent>
            <button md-button (click)="selectAllConvolutes()">
              {{ allConvolutesSelected ? 'Alle abwählen' : 'Alle auswählen' }}
            </button>
            <ul formGroupName="notizbuchForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.notizbuecher=!catHidden.notizbuecher">
                  <md-icon>{{ catHidden.notizbuecher ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox class="md-checkbox" formControlName="notizbuchAll"
                             [class.green]="childElemsAreChecked('notizbuchForm', 'notizbuchAll') || pristineConvolutes()"
                             [class.red]="childElemsAreChecked('notizbuchForm', 'notizbuchAll', true) && !pristineConvolutes()"
                             [class.blue]="!childElemsHaveSameValues('notizbuchForm', 'notizbuchAll')"
                             [checked]="childElemsAreChecked('notizbuchForm', 'notizbuchAll')"
                             [indeterminate]="!childElemsHaveSameValues('notizbuchForm', 'notizbuchAll')"
                             (change)="setValueForChildElems('notizbuchForm', 'notizbuchForm.notizbuchAll')">
                  Notizbuch
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1948-49
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1949
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1950
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1950-51
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1952-54
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1954-55
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1955-57
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1957-58
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1958-61
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1961-65
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [checked]="suchmenuForm.get('notizbuchForm.notizbuchAll').value"
                             [class.green]="suchmenuForm.get('notizbuchForm.notizbuch79').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('notizbuchForm.notizbuch79').value && !pristineConvolutes()"
                             formControlName="notizbuch79">Notizbuch 1979
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [checked]="suchmenuForm.get('notizbuchForm.notizbuchAll').value"
                             [class.green]="suchmenuForm.get('notizbuchForm.notizbuch7982').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('notizbuchForm.notizbuch7982').value && !pristineConvolutes()"
                             formControlName="notizbuch7982">Notizbuch 1979-82
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [checked]="suchmenuForm.get('notizbuchForm.notizbuchAll').value"
                             [class.green]="suchmenuForm.get('notizbuchForm.notizbuch8088').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('notizbuchForm.notizbuch8088').value && !pristineConvolutes()"
                             formControlName="notizbuch8088">Notizbuch 1980-88
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.notizbuecher">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Notizbuch 1965-80
                </md-checkbox>
              </li>
            </ul>
            <ul formGroupName="manuskriptForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.manuskripte=!catHidden.manuskripte">
                  <md-icon>{{ catHidden.manuskripte ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox formControlName="manuskriptAll"
                             [class.green]="childElemsAreChecked('manuskriptForm', 'manuskriptAll') || pristineConvolutes()"
                             [class.red]="childElemsAreChecked('manuskriptForm', 'manuskriptAll', true) && !pristineConvolutes()"
                             [class.blue]="!childElemsHaveSameValues('manuskriptForm', 'manuskriptAll')"
                             [checked]="childElemsAreChecked('manuskriptForm', 'manuskriptAll')"
                             [indeterminate]="!childElemsHaveSameValues('manuskriptForm', 'manuskriptAll')"
                             (change)="setValueForChildElems('manuskriptForm', 'manuskriptForm.manuskriptAll')">
                  Manuskripte
                </md-checkbox>
              </li>

              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1948-51
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1951
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1952
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1953
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1954
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1955
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1956
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1957
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1958
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1958-59
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1959-60
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1961
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1962
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1963
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte 1964-65
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox formControlName="manuskript79"
                             [class.green]="suchmenuForm.get('manuskriptForm.manuskript79').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('manuskriptForm.manuskript79').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('manuskriptForm.manuskriptAll').value">Manuskripte 1979
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox formControlName="manuskript7983"
                             [class.green]="suchmenuForm.get('manuskriptForm.manuskript7983').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('manuskriptForm.manuskript7983').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('manuskriptForm.manuskriptAll').value">Manuskripte 1979-83
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false">Karten 1984
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.manuskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >Manuskripte divers
                </md-checkbox>
              </li>
            </ul>
            <ul formGroupName="typoskriptForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.typoskripte=!catHidden.typoskripte">
                  <md-icon>{{ catHidden.typoskripte ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox formControlName="typoskriptAll"
                             [class.green]="childElemsAreChecked('typoskriptForm', 'typoskriptAll') || pristineConvolutes()"
                             [class.red]="childElemsAreChecked('typoskriptForm', 'typoskriptAll', true) && !pristineConvolutes()"
                             [class.blue]="!childElemsHaveSameValues('typoskriptForm', 'typoskriptAll')"
                             [checked]="childElemsAreChecked('typoskriptForm', 'typoskriptAll')"
                             [indeterminate]="!childElemsHaveSameValues('typoskriptForm', 'typoskriptAll')"
                             (change)="setValueForChildElems('typoskriptForm', 'typoskriptForm.typoskriptAll')">
                  Typoskripte
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1943-46
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1945-50
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1948-50
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1951
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1952
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1953
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1954
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1955
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1956
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1957
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1958
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1959
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1960
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1961
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1962
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1963
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1965
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox formControlName="typoskript79"
                             [checked]="suchmenuForm.get('typoskriptForm.typoskriptAll').value"
                             [class.green]="suchmenuForm.get('typoskriptForm.typoskript79').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('typoskriptForm.typoskript79').value && !pristineConvolutes()">
                  Typoskripte 1979
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox formControlName="typoskript79Spez"
                             [checked]="suchmenuForm.get('typoskriptForm.typoskriptAll').value"
                             [class.green]="suchmenuForm.get('typoskriptForm.typoskript79Spez').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('typoskriptForm.typoskript79Spez').value && !pristineConvolutes()">
                  Typoskripte 1979-spez
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox formControlName="typoskript83"
                             [checked]="suchmenuForm.get('typoskriptForm.typoskriptAll').value"
                             [class.green]="suchmenuForm.get('typoskriptForm.typoskript83').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('typoskriptForm.typoskript83').value && !pristineConvolutes()">
                  Typoskripte 1983
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte 1983 spez.
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte Kutter
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte Hochstrasser
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte Thomas
                  Raeber
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.typoskripte">
                <md-checkbox [disabled]="true"
                             [checked]="false"
                >
                  Typoskripte divers
                </md-checkbox>
              </li>
            </ul>
            <ul formGroupName="druckForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.drucke=!catHidden.drucke">
                  <md-icon>{{ catHidden.drucke ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox formControlName="druckAll"
                             [class.green]="childElemsAreChecked('druckForm', 'druckAll') || pristineConvolutes()"
                             [class.red]="childElemsAreChecked('druckForm', 'druckAll', true) && !pristineConvolutes()"
                             [class.blue]="!childElemsHaveSameValues('druckForm', 'druckAll')"
                             [checked]="childElemsAreChecked('druckForm', 'druckAll')"
                             [indeterminate]="!childElemsHaveSameValues('druckForm', 'druckAll')"
                             (change)="setValueForChildElems('druckForm', 'druckForm.druckAll')">
                  Selbständige Publikationen
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox formControlName="druckGesicht" [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckGesicht').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('druckForm.druckGesicht').value && !pristineConvolutes()">
                  GESICHT IM MITTAG 1950
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox formControlName="druckSchiffe" [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckSchiffe').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('druckForm.druckSchiffe').value && !pristineConvolutes()">
                  Die
                  verwandelten Schiffe 1957
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox formControlName="druckGedichte" [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckGedichte').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('druckForm.druckGedichte').value && !pristineConvolutes()">
                  GEDICHTE 1960
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox formControlName="druckFlussufer" [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckFlussufer').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('druckForm.druckFlussufer').value && !pristineConvolutes()">
                  FLUSSUFER 1963
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <md-checkbox formControlName="druckReduktionen"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckReduktionen').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('druckForm.druckReduktionen').value && !pristineConvolutes()">
                  Reduktionen 1981
                </md-checkbox>
              </li>
              <!--<span formGroupName="druckAbgewandt">-->
              <li class="cb-l2" [class.hidden]="!catHidden.drucke">
                <!--                <md-checkbox formControlName="druckAbgewandtAll"
                                             [class.green]="childElemsAreChecked('druckForm.druckAbgewandt', 'druckAbgewandtAll')"
                                             [class.red]="childElemsAreChecked('druckForm.druckAbgewandt', 'druckAbgewandtAll', true)"
                                             [class.blue]="!childElemsHaveSameValues('druckForm.druckAbgewandt', 'druckAbgewandtAll')"
                                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                                             [indeterminate]="!childElemsHaveSameValues('druckForm.druckAbgewandt', 'druckAbgewandtAll')"
                                             (change)="setValueForChildElems('druckForm.druckAbgewandt', 'druckForm.druckAbgewandt.druckAbgewandtAll')">-->
                <md-checkbox formControlName="druckAbgewandtAll"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value"
                             [class.green]="suchmenuForm.get('druckForm.druckAbgewandtAll').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('druckForm.druckAbgewandtAll').value && !pristineConvolutes()">
                  Abgewandt Zugewandt 1985
                </md-checkbox>
                <!-- <md-slide-toggle class="disableButton" [checked]="catDisabled.drucke"
                                 (change)="toggleDisabled('druckForm.druckAbgewandtAll')">
                    (change)="toggleGroupDisabled('druckForm.druckAbgewandt', 'druckForm.druckAbgewandt.druckAbgewandtAll')">

                </md-slide-toggle>
              </li>
              <!--                <li class="cb-l3" [class.hidden]="!catHidden.drucke">
                                <md-checkbox formControlName="druckAbgewandtHochdeutsch"
                                             [checked]="suchmenuForm.get('druckForm.druckAll').value">Hochdeutsche Gedichte 1985
                                </md-checkbox>
                              <!-- <md-slide-toggle class="disableButton" [checked]="catDisabled.drucke"
                                                (change)="toggleDisabled('druckForm.druckAbgewandt.druckAbgewandtHochdeutsch')">

                              </md-slide-toggle>
                              </li>
              <li class="cb-l3" [class.hidden]="!catHidden.drucke">
                <md-checkbox formControlName="druckAbgewandtAlemannisch"
                             [checked]="suchmenuForm.get('druckForm.druckAll').value">
                  Alemannische Gedichte 1985
                </md-checkbox>
                <!-- <md-slide-toggle class="disableButton" [checked]="catDisabled.drucke"
                                  (change)="toggleDisabled('druckForm.druckAbgewandt.druckAbgewandtAlemannisch')">

                </md-slide-toggle>
              </li>
              </span>-->
            </ul>
            <ul formGroupName="zeitschriftForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.zeitschriften=!catHidden.zeitschriften">
                  <md-icon>{{ catHidden.zeitschriften ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox formControlName="zeitschriftAll"
                             [class.green]="childElemsAreChecked('zeitschriftForm', 'zeitschriftAll') || pristineConvolutes()"
                             [class.red]="childElemsAreChecked('zeitschriftForm', 'zeitschriftAll', true) && !pristineConvolutes()"
                             [class.blue]="!childElemsHaveSameValues('zeitschriftForm', 'zeitschriftAll')"
                             [checked]="childElemsAreChecked('zeitschriftForm', 'zeitschriftAll')"
                             [indeterminate]="!childElemsHaveSameValues('zeitschriftForm', 'zeitschriftAll')"
                             (change)="setValueForChildElems('zeitschriftForm', 'zeitschriftForm.zeitschriftAll')">
                  Unselbständige Publikationen
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftAkzente"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftAkzente').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftAkzente').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Akzente
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftBlaetter"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftBlaetter').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftBlaetter').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">blätter + bilder
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftSchoenste"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftSchoenste').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftSchoenste').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Das Schönste
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftTag"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftTag').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftTag').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Der Tages-Anzeiger
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftLandschaft"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLandschaft').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLandschaft').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Die skeptische
                  Landschaft - NoImp
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftTat"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftTat').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftTat').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Die Tat
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftZeit"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftZeit').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftZeit').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">DIE ZEIT
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftEnsemble"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftEnsemble').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftEnsemble').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">ensemble
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftGegengewichte"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftGegengewichte').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftGegengewichte').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Gegengewichte - NoImp
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftHortulus"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftHortulus').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftHortulus').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">hortulus
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftJahresring"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftJahresring').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftJahresring').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Jahresring
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftKonturen"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftKonturen').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftKonturen').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Konturen
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftLNN"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLNN').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLNN').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Luzerner Neueste
                  Nachrichten
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftLadZ"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLadZ').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLadZ').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Lyrik aus dieser Zeit
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftLuZ"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftLuZ').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftLuZ').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Lyrik unserer Zeit
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftMerkur"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftMerkur').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftMerkur').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Merkur
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftDeutscheHefte"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftDeutscheHefte').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftDeutscheHefte').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Neue Deutsche Hefte
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftNZN"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftNZN').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftNZN').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Neue Zürcher
                  Nachrichten
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftNZZ"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftNZZ').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftNZZ').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Neue Zürcher Zeitung
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftRenaissance"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftRenaissance').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftRenaissance').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Renaissance
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftRundschau"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftRundschau').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftRundschau').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Schweizer Rundschau
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftSonntagsblatt"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftSonntagsblatt').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftSonntagsblatt').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Sonntagsblatt - NoImp
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftSueddeutsche"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftSueddeutsche').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftSueddeutsche').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Süddeutsche Zeitung
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <!--<md-checkbox formControlName="zeitschriftTA"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftTA').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftTA').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Tages-Anzeiger
                </md-checkbox>-->
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.zeitschriften">
                <md-checkbox formControlName="zeitschriftWortTat"
                             [class.green]="suchmenuForm.get('zeitschriftForm.zeitschriftWortTat').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('zeitschriftForm.zeitschriftWortTat').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('zeitschriftForm.zeitschriftAll').value">Wort und Tat
                </md-checkbox>
              </li>
            </ul>
            <ul formGroupName="materialienForm">
              <li class="cb-l1">
                <button class="showMoreButton" type="button" md-icon-button
                        (click)="catHidden.materialien=!catHidden.materialien">
                  <md-icon>{{ catHidden.materialien ? 'expand_less' : 'expand_more' }}</md-icon>
                </button>
                <md-checkbox formControlName="materialienAll"
                             [class.green]="childElemsAreChecked('materialienForm', 'materialienAll') || pristineConvolutes()"
                             [class.red]="childElemsAreChecked('materialienForm', 'materialienAll', true) && !pristineConvolutes()"
                             [class.blue]="!childElemsHaveSameValues('materialienForm', 'materialienAll')"
                             [checked]="childElemsAreChecked('materialienForm', 'materialienAll')"
                             [indeterminate]="suchmenuForm.get('materialienForm').pristine ? false :  !childElemsHaveSameValues('materialienForm', 'materialienAll')"
                             (change)="setValueForChildElems('materialienForm', 'materialienForm.materialienAll')">
                  Materialien
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.materialien">
                <md-checkbox formControlName="materialienTagebuch"
                             [class.green]="suchmenuForm.get('materialienForm.materialienTagebuch').value || pristineConvolutes()"
                             [class.red]="!suchmenuForm.get('materialienForm.materialienTagebuch').value && !pristineConvolutes()"
                             [checked]="suchmenuForm.get('materialienForm.materialienAll').value">Tagebuch
                </md-checkbox>
              </li>
              <li class="cb-l2" [class.hidden]="!catHidden.materialien">
                <md-checkbox [disabled]="true"
                             [checked]="false">Brief
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Textart">
          <ng-template ngbPanelContent>
            <ul formGroupName="textartForm">
              <li class="cb-l1">
                <md-checkbox formControlName="textartFreieVerse"
                             [class.green]="suchmenuForm.get('textartForm.textartFreieVerse').value || suchmenuForm.get('textartForm').pristine"
                             [class.red]="!suchmenuForm.get('textartForm.textartFreieVerse').value && !suchmenuForm.get('textartForm').pristine">
                  Freie Verse
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox formControlName="textartGereimteVerse"
                             [class.green]="suchmenuForm.get('textartForm.textartGereimteVerse').value || suchmenuForm.get('textartForm').pristine"
                             [class.red]="!suchmenuForm.get('textartForm.textartGereimteVerse').value && !suchmenuForm.get('textartForm').pristine">
                  Gereimte Verse
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox formControlName="textartProsa"
                             [class.green]="suchmenuForm.get('textartForm.textartProsa').value || suchmenuForm.get('textartForm').pristine"
                             [class.red]="!suchmenuForm.get('textartForm.textartProsa').value && !suchmenuForm.get('textartForm').pristine">
                  Rhythmische Prosa
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox formControlName="textartProsanotat"
                             [class.green]="suchmenuForm.get('textartForm.textartProsanotat').value || suchmenuForm.get('textartForm').pristine"
                             [class.red]="!suchmenuForm.get('textartForm.textartProsanotat').value && !suchmenuForm.get('textartForm').pristine">
                  Prosanotat
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox formControlName="textartBriefentwurf"
                             [class.green]="suchmenuForm.get('textartForm.textartBriefentwurf').value || suchmenuForm.get('textartForm').pristine"
                             [class.red]="!suchmenuForm.get('textartForm.textartBriefentwurf').value && !suchmenuForm.get('textartForm').pristine">
                  Briefentwurf
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <div class="accordionSubtitle">Filter</div>
      <ngb-accordion #acc="ngbAccordion">
        <ngb-panel title="Zeitraum">
          <ng-template ngbPanelContent>
            <div formGroupName="zeitraumForm">
              von
              <md-input-container style="width: 70px; align: center">
                <input mdInput formControlName="zeitraumVon" class="ip-epoche"  />
              </md-input-container>
              bis
              <md-input-container style="width: 70px; align: center">
                <input mdInput formControlName="zeitraumBis" class="ip-epoche"/>
              </md-input-container>
            </div>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Endfassungen">
          <ng-template ngbPanelContent>
            <li class="cb-l1">
              <md-checkbox formControlName="endfassung" class="cb-l1"
                           [class.green]="suchmenuForm.get('endfassung').value && !suchmenuForm.pristine"
                           [class.red]="!suchmenuForm.get('endfassung').value || suchmenuForm.pristine"
                           [disabled]="disabledNurEndfassung"
                           [(ngModel)]="disabledKeineEndfassung"> Nur
                Endfassungen
              </md-checkbox>
            </li>
            <li class="cb-l1">
              <md-checkbox formControlName="keineEndfassung" class="cb-l1"
                           [class.green]="suchmenuForm.get('keineEndfassung').value && !suchmenuForm.pristine"
                           [class.red]="!suchmenuForm.get('keineEndfassung').value || suchmenuForm.pristine"
                           [disabled]="disabledKeineEndfassung"
                           [(ngModel)]="disabledNurEndfassung"> Keine
                Endfassungen
              </md-checkbox>
            </li>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Strophen">
          <ng-template ngbPanelContent>
            <ul>
              <li class="cb-l1">
                <md-checkbox formControlName="strophen" class="cb-l1"
                             [class.green]="suchmenuForm.get('strophen').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('strophen').value || suchmenuForm.pristine"
                             [disabled]="disabledNurStrophen"
                             [(ngModel)]="disabledKeineStrophen">Nur Texte mit
                  Strophenunterteilung
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox formControlName="keineStrophen" class="cb-l1"
                             [class.green]="suchmenuForm.get('keineStrophen').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('keineStrophen').value || suchmenuForm.pristine"
                             [disabled]="disabledKeineStrophen"
                             [(ngModel)]="disabledNurStrophen"> Keine Texte mit
                  Strophenunterteilung
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Mundart">
          <ng-template ngbPanelContent>
            <ul>
              <li class="cb-l1">
                <md-checkbox formControlName="mundart" class="cb-l1"
                             [class.green]="suchmenuForm.get('mundart').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('mundart').value || suchmenuForm.pristine"
                             [disabled]="disabledNurMundart"
                             [(ngModel)]="disabledKeineMundart">Nur
                  Mundartgedichte
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox formControlName="keineMundart" class="cb-l1"
                             [class.green]="suchmenuForm.get('keineMundart').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('keineMundart').value || suchmenuForm.pristine"
                             [disabled]="disabledKeineMundart"
                             [(ngModel)]="disabledNurMundart">Keine
                  Mundartgedichte
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Zyklen">
          <ng-template ngbPanelContent>
            <ul>
              <li class="cb-l1">
                <md-checkbox formControlName="zyklus" class="cb-l1"
                             [class.green]="suchmenuForm.get('zyklus').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('zyklus').value || suchmenuForm.pristine"
                             [disabled]="disabledNurZyklus"
                             [(ngModel)]="disabledKeineZyklus">Nur Texte
                  eines Zyklus
                </md-checkbox>
              </li>
              <li class="cb-l1">
                <md-checkbox formControlName="keinZyklus" class="cb-l1"
                             [class.green]="suchmenuForm.get('keinZyklus').value && !suchmenuForm.pristine"
                             [class.red]="!suchmenuForm.get('keinZyklus').value || suchmenuForm.pristine"
                             [disabled]="disabledKeineZyklus"
                             [(ngModel)]="disabledNurZyklus">Keine Texte
                  eines Zyklus
                </md-checkbox>
              </li>
            </ul>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </form>
  </md-sidenav>

  <md-progress-bar
    *ngIf="loadingIndicator"
    class="example-margin"
    color="primary"
    mode="indeterminate">
  </md-progress-bar>






  <div class="suchmenu-content">

    <div style="margin-top: 10px;">
      <rae-textgrid
        [searchTermArray]="searchTermArray"
        [poemsInGrid]="poemsInGrid"
        [columns]="relativeSizeOfColumns"
        [showText]="showTexts"
        [rahmen]="!textsHaveAlignedFrames"
        [gridTextHeight]="textboxHeight">
      </rae-textgrid>
    </div>


  </div>
</md-sidenav-container>

  <button
    md-mini-fab class="suchmenu-button"
    (click)="suchmenu.toggle()">
    <md-icon>dehaze</md-icon>
  </button>
