<div class="register_navigation">
  <a md-raised-button class="rae-button-in-navbar"
          [routerLink]="['/register/publizierte-gedichte']" routerLink="active"
          [ngClass]="{'rae-button-is-active': selectedTab=='publizierte-gedichte'}">
    Publizierte Gedichte
  </a>
  <a md-raised-button class="rae-button-in-navbar"
          [routerLink]="['/register/unpublizierte-gedichte']" routerLink="active"
          [ngClass]="{'rae-button-is-active': selectedTab=='unpublizierte-gedichte'}">
    Unpubliziete Gedichte
  </a>
  <a md-raised-button class="rae-button-in-navbar"
          [routerLink]="['/register/nachlass-1943-1950']" routerLink="active"
          [ngClass]="{'rae-button-is-active': selectedTab=='nachlass-1943-1950'}">
    Nachlass 1943-50
  </a>
  <a md-raised-button class="rae-button-in-navbar"
          [routerLink]="['/register/nachlass-1951-1956']" routerLink="active"
          [ngClass]="{'rae-button-is-active': selectedTab=='nachlass-1951-1956'}">
    Nachlass 1951-56
  </a>
  <a md-raised-button class="rae-button-in-navbar"
          [routerLink]="['/register/nachlass-1957-1965']" routerLink="active"
          [ngClass]="{'rae-button-is-active': selectedTab=='nachlass-1957-1965'}">
    Nachlass 1957-65
  </a>
  <a md-raised-button class="rae-button-in-navbar"
          [routerLink]="['/register/nachlass-1979']" routerLink="active"
          [ngClass]="{'rae-button-is-active': selectedTab=='nachlass-1979'}">
    Nachlass 1979
  </a>
  <a md-raised-button class="rae-button-in-navbar"
          [routerLink]="['/register/nachlass-1979-1988']" routerLink="active"
          [ngClass]="{'rae-button-is-active': selectedTab=='nachlass-1979-1988'}">
    Nachlass 1979-88
  </a>
</div>
