<h4 style="color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);" class="emphase">Textseite</h4>


<p>Die Textseite enth&auml;lt den edierten Text einer
  Gedichtfassung und&nbsp;Kurzinformationen.</p>


<h5><strong>Textdarstellung</strong>:</h5>


<p>Schriftdifferenzierungen:</p>


<ul>


  <li>
    <section class="edtext_druck">Druckfassung</section>
  </li>


  <li style="font-family: Helvetica,Arial,sans-serif;">
    <small>
      <section class="edtext_hs">Handschrift</section>
    </small>
  </li>


  <li style="font-family: Helvetica,Arial,sans-serif;">
    <section class="edtext_typo">Typoskript</section>
  </li>


</ul>


<p>Diakritische Zeichen:</p>


<p>// = Seitenwechsel (mit Seitenangabe: // <span class="pagina">005</span>)<br>


  ||&nbsp; = Spaltenwechsel innerhalb Seite<br>


  [&hellip;] = Textabbruch</p>


<p>xx = unlesbare Zeichenfolge<br>


  &iquest;&nbsp;&nbsp; = unsichere Entzifferung des
  davorstehenden Wortes<br>


  <em>kursiv</em> = Hervorhebung durch den Autor<br>


  <span class="herausgeber"><span style="color: rgb(102, 51, 0);">Anmerkung</span> </span>=
  Anmerkung durch Hrsg.</p>


<p>Lange Verszeilen werden gebrochen (mit Einr&uuml;ckung der
  Fortsetzungszeile)</p>


<p>Titel:</p>


<p>&hellip;* (hinter dem Titel) = Titel (Anfangszeile) durch
  Hrsg.<br>


  * = Stufenbezeichnung durch Herausgeber (z.B. A*)</p>


<h5><br>


  <span class="emphase">Kurzinformationen</span>:</h5>


<ul>


  <li><em>Details</em><br>


    Anmerkungen zu einzelnen Textstellen, z.B. Variante oder Emendation
  </li>


  <li><em>Besonderes </em><br>


    Erl&auml;uterung zum Textzeugen
  </li>


  <li><em>Druck<br>


  </em>Endstufe (<em>Gedichtsammlung</em>, <em>Verstreutes</em>
    oder <em>unpubliziert</em>)
  </li>


  <li><em>Seite / Blatt</em> <br>


    (Notizbuchseite bzw. Blatt innerhalb eines archivalischen Dossiers)
  </li>


  <li><em>Signatur</em><br>


    Archiv-Standort (ohne den allgemeinen Vorspann <em>SLA-Raeber-</em>),
    z.B. <span class="itemExtraFieldsValue">A-5-b/02_001</span>
    (<span class="itemExtraFieldsValue">A-5-b/02</span>
    = Konvolut; _001 = Dossier 1 im Konvolut)
  </li>


  <li><em>Textart</em><br>
    Reimlose Verse, Gereimte Verse, Rhythmische Prosa, Brief usw
  </li>


  <li><em>Strophen</em><br>


    "ja", wenn der Text untergliedert ist
  </li>


  <li><em>Zyklus</em><br>


    "ja", wenn der Text Teil eines Zyklus ist
  </li>


  <li><em>Stufe</em><br>


    Zur Bezeichnung des letzten Textzeugen eines Gedichts ("Endfassung")
  </li>


  <li><em>Bezugstext</em><br>


    Bezugnahme (mit Link) auf einen anderen Text (&auml;hnlichen
    Inhalts o.&auml;.)
  </li>


  <li><em>Zeitschrift</em><br>


    Quellenangabe bei verstreut gedruckten Texten
  </li>


  <li><span style="font-style: italic;">Nachdruck</span><br>


    Nachdrucke bereits ver&ouml;ffentlichter Texte (ohne editorische
    Relevanz)
  </li>


  <li><em>Identisch mit</em><br>


    (bei hellgrauem Text):Textgleichheit der aktuellen Fassung mit einer
    anderen<br>


    (v. a. bei Typoskripten, die mit den nachfolgenden Drucken textgleich
    sind)
  </li>


  <li><em>Weitere Fassungen</em><br>


    Links zu allen weiteren Textzeugen (Fassungen) des aktuellen Gedichts
  </li>


  <li><em>Synopse</em><br>


    Link zur synoptischen Darstellung aller Fassungen des aktuellen Gedichts
  </li>


</ul>


<p>Der edierte Text kann innerhalb des Anzeigerahmens gescrollt
  werden. <br>


  Der Rahmen l&auml;sst sich durch Ziehen an der rechten unteren Ecke
  vergr&ouml;&szlig;ern / verkleinern oder durch die Option [-/+
  Kasten] ganz beseitigen.</p>


<p>Die <span class="emphase">Schalterleiste </span>oben
  (unterm Hauptmen&uuml;) dient einigen n&uuml;tzlichen
  Funktionen:</p>


<ul>


  <li>Pfadangabe (links): erm&ouml;glicht das Aufrufen der
    &uuml;bergeordneten Basisseite
  </li>


  <li>-/+ <em>Register</em>: Ausschalten der
    Registerspalte (n&uuml;tzlich bei diplomatischer Wiedergabe)
  </li>


  <li><em>Reset</em>: Neuladen der Seite
    (Zur&uuml;cksetzen aller Manipulationen)
  </li>


  <li>-/+ <em>Rahmen</em>: Textrahmen entfernen
    (Text in voller L&auml;nge sichtbar)
  </li>


  <li>Anzeige des vorhergehenden / n&auml;chsten edierten
    Textes:
    <button type="button" class="vor_rueck icon-backward" style="float: none;"></button>
    /
    <button type="button" class="vor_rueck icon-forward" style="float: none;"></button>
  </li>


  <li>Anzeige des vorhergehenden / n&auml;chsten Textes +
    diplomat. Darstellung:
    <button type="button" class="vor_rueck icon-arrow-right-3" style="float: none;"><span
      class="button_text">dipl</span></button>
    <button type="button" class="vor_rueck icon-arrow-left-3" style="float: none;"><span class="button_text">dipl</span>
    </button>
  </li>


  <li>Hilfe-Button<br>


    <br>


    darunter: <br>
  </li>


  <li>Link zur <em>Synoptischen Darstellung</em>
    aller Fassungen
  </li>


  <li>Schalter zur Anwahl der <em>Diplomatischen
    Darstellung<br>


  </em>(Edierter Text + diplomatische Darstellung / nur
    diplomatische Darstellung / nur Text)
  </li>


</ul>


<p>&nbsp;</p>


<h4 style="color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);"><strong>Diplomatische
  Darstellung</strong></h4>


<p>Die Basisdarstellung ist eine optische Wiedergabe ohne
  genetische Information:</p>


<p>Streichungen: <span class="streichung">Streichungen</span><br>


  &Uuml;berschreibungen: <span class="unsicher">A</span><span class="ersetzung">a</span>ber (kleines a ersetzt A)<br>


  Unsichere Lesung: unsicher<span style="font-size: 8pt;" class="unsicher">&iquest;<br>


</span>Unterpunktung (Wiederherstellung): <span class="punktierung"
                                                style="font-weight: normal; color: rgb(110, 110, 110);">Streichung
+ Wiederherstellung</span><br>


  Streichung innerhalb einer Streichung: <span class="streichung_doppel streichung"
                                               style="font-weight: normal; color: rgb(110, 110, 110);">Streichung
innerhalb Streichung</span><span style="font-size: 8pt;" class="unsicher"><span
    class="streichung streichung_doppel"></span> </span>
</p>


<p>Einweiszeichen durch Autor: nach oben &uarr;; nach unten
  &darr;; Zielmarke &harr;</p>


<p><strong>Genetische Schichten</strong></p>


<p>Durch die 4 Optionsschalter k&ouml;nnen drei genetische
  Schichten ausgezeichnet werden:</p>


<ul>


  <li>Option 0: Basisdarstellung</li>


  <li>Option 1: <span style="color: rgb(153, 51, 0);">Braunf&auml;rbung</span>
    fr&uuml;hester Textpassagen (selten verwendet; interpretierend)
  </li>


  <li>Option 2: <span class="einfuegung">Einf&uuml;gungen</span>
    &uuml;ber, unter, zwischen den Zeilen <br>


    (keine Auszeichnung &uuml;bergreifenden Zusammenh&auml;nge)
  </li>


  <li>Option 3: <span style="color: rgb(255, 0, 0);">Rotf&auml;rbung</span>
    der letztg&uuml;ltigen (nichtgetilgten) Textschicht
  </li>


</ul>


<p><strong>Darstellung und Handling:<br>


</strong>Paralleldarstellung von Abbildung der Handschriftenseite
  + diplomatischer Umschrift.<br>


  Die Darstellung variiert je nach Gr&ouml;&szlig;e des
  Browser-Fensters und der Gr&ouml;&szlig;e der Abbildung. Bei
  Raumproblemen wird die Umschrift unterhalb der Abbildung plaziert..</p>


<p>&Auml;ndern der<strong>
  Abbildungs-Gr&ouml;&szlig;e:</strong></p>


<ul>


  <li>Stufenweises &Auml;ndern durch Anklicken der Lupen
    &uuml;ber dem Bild. <br>


    (Beim Vergr&ouml;&szlig;ern <span class="icon-zoom-in"></span>
    wird das Register ausgeblendet, <br>


    beim Verkleinern&nbsp;&nbsp; <span class="icon-zoom-out"></span>wieder
    eingeblendet)
  </li>


  <li>Stufenloses Vergr&ouml;&szlig;ern/Verkleinern durch
    Ziehen an der rechten unteren Ecke <br>


    (funktioniert nicht beim Internet-Explorer)
  </li>


</ul>


<p>Zur Erh&ouml;hung der &Uuml;bersichtlichkeit
  k&ouml;nnen die einzelnen Bildseiten mit zugeh&ouml;riger
  Umschrift aus- bzw. eingeblendet werden:(Kreuz-Symbol <span class="icon-delete"></span> &uuml;ber dem Bild).</p>


<p>Die <strong>Umschrift</strong> l&auml;sst
  sich durch Ziehen der Maus an beliebiger Stelle verschieben, z.B.
  besser positionieren oder neben den edierten Text stellen. <br>


  Der Verschiebe-Modus wird durch Anklicken des Buttons rechts neben den
  Textschicht-Optionen&nbsp;<span style="background-color: rgb(192, 192, 192);">&nbsp;&harr;</span>
  aktiviert bzw. ausgeschaltet.</p>


<p>(Verschiebungen werden durch den Reset-Schalter (oben)
  r&uuml;ckg&auml;ngig gemacht.</p>


<p>&nbsp;</p>
