<div class="convolute-description">
  <md-card>
    (bisher nur ein Platzhalter. Kann parallel zum Import der Properties der Konvolute ergänzt und dynamisiet werden.)
  <p>
    <span class="emphase">Inhalt:</span>
    Typoskripte zu 101 Gedichten
  </p>
  <p>
    <span class="emphase">Umfang:</span>
    209 Bll
  </p>
  <p>
    <span class="emphase">Signatur:</span>
    A-5-g/03 (Schachtel 41)
  </p>
  <p>
    <span class="emphase">Datierung:</span>
    1979 (nur Mappe datiert)
  </p>
  <p>
    <span class="emphase">Publikation:</span>
    <a href="/lyrik/index.php/drucke/reduktionen" class="titel">Reduktionen</a> (101)
  </p>
  <p>
    <span class="emphase">Herkunft:</span>
    Grüne Mappe G 79
  </p>
  <br />
  <p>
    <span class="emphase">Kommentar:</span>
    Jeweils Typoskript + Durchschlag; Gedicht-Blätter mit Filzstift aoR rechts numeriert (1-101); alle Gedichttitel in Versalien
  </p>
  <p>
    Dossier 1: Titelblatt (Kuno Raeber / REDUKTIONEN / Gedichte / 1.6.1979-2.11.1979)
  </p>
  <p>
    Dossier 2: Einführungstexte
  </p>
  <p>
    Dossiers 3-12 mit je 10 Gedichten; + <a href="/lyrik/images/typos/typos1979_inhalt.jpg" class="jcepopup" data-mediabox-width="800" target="_blank">Gedichtliste</a>
  </p>
  <p>
    <span class="emphase">Vorstufen:</span>
    <a href="/lyrik/index.php/notizbuecher/notizbuch-1979">Notizbuch 1979</a>, <a href="/lyrik/index.php/manuskripte/manuskripte-1979">Manuskripte 1979</a>
  </p>
  </md-card>
</div>
