<div id="rae-fassung-view">
  <div class="rt-container">
    <div id="rt-main" class="mb9-sa3">
        <div class="rt-container">
          <div class="rt-grid-9 ">
            <div class="rt-block">
              <div id="rt-mainbody">
                <div class="component-content">

                  <div id="rae-toolbar">
                    <rae-fassung-werkzeugleiste
                      [(showRegister)]="show_register"
                      [(poemResizable)]="poem_resizable"
                      [idOfPrev]="prevPoem"
                      [idOfNext]="nextPoem"></rae-fassung-werkzeugleiste>
                  </div>

                  <div id="k2Container" class="itemView">

                    <div class="itemTagsBlock" style='float:right'>
                      <ul class="itemTags">
                        <li *ngFor="let t of fassung_tag">
                          <a [routerLink]="['/synopsen/' + t]" routerLinkActive="active">
                            Synopse&nbsp;{{t}} &nbsp;
                          </a>
                        </li>
                      </ul>
                    </div>

                    <div class="itemHeader">
                      <!-- Date created -->
                      <span class="itemDateCreated">{{creationDate}}</span>
                      <!-- Item title -->
                      <h2 class="itemTitle">
                        {{poem_id}}
                        <!-- TODO -->
                        Wolke
                      </h2>
                    </div>

                    <div class="itemBody">

                      <!-- Item text -->
                      <div class="itemFullText">

                        <md-card>
                          <md-card-content
                            *ngIf="zeigeKonstituiert"
                            [ngClass]="{'rae-fassung-resizable': poem_resizable, 'rae-fassung-nonresizable': !poem_resizable}">
                            <section class="edtext edtext_hs">
                              <rae-text></rae-text>
                            </section>
                          </md-card-content>
                          <md-card-footer>
                            <button md-button (click)="zeigeKonstituiert = !zeigeKonstituiert">
                              <md-icon *ngIf="zeigeKonstituiert">expand_less</md-icon>
                              <md-icon *ngIf="!zeigeKonstituiert">expand_more</md-icon>
                              <span *ngIf="zeigeKonstituiert">Text verbergen</span>
                              <span *ngIf="!zeigeKonstituiert">Text anzeigen</span>
                            </button>
                          </md-card-footer>
                        </md-card>

                        <md-card *ngIf="konvolut_type === 'manuskripte' || konvolut_type === 'notizbuecher'">
                          <md-card-content *ngIf="zeigeDiplomatisch">
                            <rae-fassung-diplomatisch [pages]="pages"></rae-fassung-diplomatisch>
                          </md-card-content>
                          <md-card-footer>
                            <button md-button (click)="zeigeDiplomatisch = !zeigeDiplomatisch">
                              <md-icon *ngIf="zeigeDiplomatisch">expand_less</md-icon>
                              <md-icon *ngIf="!zeigeDiplomatisch">expand_more</md-icon>
                              <span *ngIf="zeigeDiplomatisch">Diplomatischen Text verbergen</span>
                              <span *ngIf="!zeigeDiplomatisch">Diplomatischen Text anzeigen</span>
                            </button>
                          </md-card-footer>
                        </md-card>

                      </div>
                      <div class="itemExtraFields">
                        <rae-fassung-steckbrief></rae-fassung-steckbrief>
                      </div>
                    </div>

                    <div class="itemLinks">
                      <!-- Item tags -->
                      <div class="itemTagsBlock">
                        <span>Synopse:</span>
                        <ul class="itemTags">
                          <li *ngFor="let t of fassung_tag">
                            <a [routerLink]="['/synopsen/', + t]" routerLinkActive="active">{{t}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <!-- Related items by tag -->
                    <div class="itemRelated">
                      <rae-fassung-weitere [synopsenTags]="fassung_tag"></rae-fassung-weitere>
                    </div>

                    <div class="itemToolbar">
                      <ul>
                        <rae-fassung-blaettern
                          style="font-size: 0.8em; float: left"
                          [idOfPrev]="prevPoem"
                          [idOfNext]="nextPoem"></rae-fassung-blaettern>
                        <span style='font-size:0.8em;'>Änderung: {{modificationDate}}</span>
                        <!-- Print Button -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rt-grid-3 " *ngIf="show_register">
            <div id="rt-sidebar-a">
              <rae-registerspalte [konvolutIRI]="konvolutIRI"></rae-registerspalte>

              <div class="moduletable">
                <h6>Suchen: {{konvolut_id}}</h6><!-- TODO: Variable ersetzen -->
                <p>Nach Suchbegriff</p><!-- TODO: ersetzen -->
                <p>Nach Seite oder Blatt</p><!-- TODO: ersetzen -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
