.rae-fassung-resizable {
}

.rae-fassung-nonresizable {
  height: 280px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

div.itemFullText md-card md-card-footer button {
  width: 100%;
  text-align: left;
}

div.itemFullText md-card md-card-header button {
  width: 100%;
  text-align: left;
}
#rae-toolbar {
  text-align: right;
}
