<div id="rae-fassung-view">
  <div class="rt-container">
    <div id="rt-main" class="mb9-sa3">
      <div class="rt-container">
        <div [ngClass]="{'rt-grid-9': show_register, 'rt-grid-12': !show_register}">
          <div class="rt-block">
            <div id="rt-mainbody">
              <div class="component-content">

                <span>Aktuelle Seite: {{convoluteTypeGermanLabel}} > <a
                  [routerLink]="convoluteLink">{{convoluteTitle}}</a></span>

                <div id="rae-toolbar">
                  <rae-fassung-werkzeugleiste
                    (goToOtherFassung)="goToOtherFassung($event)"
                    [idOfPrev]="prevPoem.split('###')[0]"
                    [idOfNext]="nextPoem.split('###')[0]"
                    [(showRegister)]="show_register"
                    [(poemResizable)]="poem_resizable"
                    (showEditedTextChange)="showEditedText=true"
                    (showTranscriptionChange)="showDiplomaticTranscription=false"></rae-fassung-werkzeugleiste>
                </div>

                <div id="k2Container" class="itemView">

                  <div class="itemTagsBlock" style='float:right'>
                    <ul class="itemTags">
                      <a [routerLink]="['/synopsen/' + synopsisIri.split('/')[4]]" routerLinkActive="active"
                         *ngIf="synopsisIri !== undefined">
                        Synopse
                      </a>
                    </ul>
                  </div>

                  <div class="itemHeader">
                    <!-- Date created -->
                    <span class="itemDateCreated">{{ creationDateOfPoem }}</span>
                    <!-- Item title -->
                    <h2 class="itemTitle">{{ poemTitle }}</h2>
                  </div>

                  <div class="itemBody">

                    <!-- Item text -->
                    <div class="itemFullText">

                      <md-card style="padding-top:0;">
                        <md-card-content style="padding-top:20px; padding-bottom:5px;"
                                         *ngIf="showEditedText"
                                         [ngClass]="{'rae-fassung-resizable': poem_resizable, 'rae-fassung-nonresizable': !poem_resizable}">
                          <section class="edtext edtext_hs">
                            <div [innerHTML]="editedPoemText"></div>
                          </section>
                        </md-card-content>
                        <md-card-footer>
                          <button md-button (click)="showEditedText = !showEditedText"
                                  style="background-color:#eee; font-size:12px;">
                            <md-icon>{{showEditedText ? 'expand_less' : 'expand_more'}}</md-icon>
                            <span>Text {{showEditedText ? 'verbergen' : 'anzeigen'}}</span>
                          </button>
                        </md-card-footer>
                      </md-card>
                      <br/>
                      <md-card *ngIf="diplomaticIRIs && diplomaticIRIs.length > 0"
                               style="padding-top:0;">
                        <md-card-header style="padding-left:0; padding-right:0; margin-left:-40px; margin-right:-24px;"
                                        *ngIf="showDiplomaticTranscription">
                          <button md-button (click)="showDiplomaticTranscription = !showDiplomaticTranscription"
                                  style="background-color:#eee; font-size:12px;">
                            <md-icon>{{showDiplomaticTranscription ? 'expand_more' : 'expand_less'}}</md-icon>
                            <span>Diplomatische Umschrift {{showDiplomaticTranscription ? 'verbergen' : 'anzeigen'}}</span>
                          </button>
                        </md-card-header>
                        <md-card-content *ngIf="showDiplomaticTranscription"
                                         style="padding-top:20px; padding-bottom:5px;">
                          <rae-fassung-diplomatisch [diplomaticIRIs]="diplomaticIRIs"
                                                    (pictureReduced)="show_register = true;"
                                                    (pictureIncreased)="show_register = false;">
                          </rae-fassung-diplomatisch>
                        </md-card-content>
                        <md-card-footer>
                          <button md-button (click)="showDiplomaticTranscription = !showDiplomaticTranscription"
                                  style="background-color:#eee; font-size:12px;">
                            <md-icon>{{showDiplomaticTranscription ? 'expand_less' : 'expand_more'}}</md-icon>
                            <span>Diplomatische Umschrift {{showDiplomaticTranscription ? 'verbergen' : 'anzeigen'}}</span>
                          </button>
                        </md-card-footer>
                      </md-card>
                    </div>
                    <div style="margin-top:20px;">
                      <rae-fassung-steckbrief [fassungIRI]="urlPrefix + poemShortIri"
                                              [konvolutIRI]="convoluteIri"
                                              [convoluteTitle]=" convoluteTitle"
                                              (goToOtherFassung) = "goToOtherFassung($event)">
                      </rae-fassung-steckbrief>
                    </div>
                  </div>
                </div>

                <div class="itemLinks">
                  <!-- Item tags -->
                  <div class="itemTagsBlock">
                    <span>Synopse:</span>
                    <a [routerLink]="['/synopsen/' + synopsisIri.split('/')[4]]" routerLinkActive="active"
                       *ngIf="synopsisIri !== undefined">
                      {{synopsisTitle}}
                    </a>
                  </div>
                </div>

                <!-- Related items by tag -->
                <div class="itemRelated">
                  <rae-fassung-weitere
                    (goOtherFassung)="goToOtherFassung($event)"
                    [synopsenTags]="relatedPoems"></rae-fassung-weitere>
                </div>

                <div class="itemToolbar">
                  <ul>
                    <rae-fassung-blaettern
                      (goToOtherFassung)="goToOtherFassung($event)"
                      style="font-size: 0.8em; float: left"
                      [idOfPrev]="prevPoem.split('###')[0]"
                      [titleOfPrev]="prevPoem.split('###')[1]"
                      [idOfNext]="nextPoem.split('###')[0]"
                      [titleOfNext]="nextPoem.split('###')[1]"></rae-fassung-blaettern>
                    <span style='font-size:0.8em;'>Änderung: {{ modificationDateOfPoem }}</span>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rt-grid-3 " *ngIf="show_register">
        <div id="rt-sidebar-a" style="margin-top:4px;">
          <ngb-accordion #acc="ngbAccordion" activeIds="register,suche">
            <ngb-panel id="register" title="Register">
              <ng-template ngbPanelContent>
                <rae-registerspalte [konvolutIRI]="convoluteIri"
                                    (goToOtherFassung)="goToOtherFassung($event)">
                </rae-registerspalte>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="suche" title="Suche in {{convoluteTitle}}">
              <ng-template ngbPanelContent>
                <rae-konvolutsuche
                  [konvolutTitle]="convoluteTitle"
                  (suche)="searchInConvolute($event)"></rae-konvolutsuche>
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
