.rae-fassung-resizable {
  resize: vertical;
  overflow-y: hidden;
  border-bottom-color: silver;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.rae-fassung-nonresizable {

}

div.itemFullText md-card md-card-footer button {
  width: 100%;
  text-align: left;
}

#rae-toolbar {
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .rae-fassung-seitenregister {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .rae-fassung-bodenregister {
    display: none;
  }
}
