<div class="rae-registerspalte-list">
  <h5>{{ convoluteTitle }}<br/>(Total: {{ getNumberOfPoems() }})</h5>
  <ng-container *ngIf="(convoluteType === undefined && poemType === undefined) || !isDiaryEntry()">
    <md-button-toggle-group style="box-shadow:none;" (change)="isAlphabeticallySorted = !isAlphabeticallySorted">
      <md-button-toggle value="alpha" checked="true">
        <md-icon>sort_by_alpha</md-icon>
      </md-button-toggle>
      <md-button-toggle value="chrono">
        <md-icon *ngIf="isManuscript() || isPostcard() || isInSerialPublication() || isLetter()">access_time</md-icon>
        <md-icon *ngIf="isNote() || isTyposcript() || isInMonograph()">swap_vert</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </ng-container>
  <md-nav-list dense>
    <a md-list-item *ngFor="let p of getSortedPoems(); let i = index"
       [routerLink]="['/' + this.convoluteTitle + '/'] + createLinkToPoem(p)"
       routerLinkActive="active" [ngClass]="{'color0': i % 2}">

      <h5 md-line *ngIf="p" style="color: #0e90d2">{{ p[0] }}</h5>
      <h5 md-line *ngIf="p && p[0].length > 20"></h5>
      <h5 md-line *ngIf="p && p[0].length > 40"></h5>
      <h5 md-line *ngIf="p && p[0].length > 60"></h5>
      <h5 md-line *ngIf="p && p[0].length > 80"></h5>

      <p *ngIf="p && isAlphabeticallySorted" md-line>

        {{ removeHtml(p[2]) }}
      </p>

      <!-- the formatted date needs an explicit *ngIf because it is reformatted and not a direct Knora text value -->
      <p *ngIf="p && !isAlphabeticallySorted && isHandwritten()"
         md-line>
        {{ formatDate(p[1]) }}
      </p>
      <p *ngIf="p && !isAlphabeticallySorted && isTypewritten()" md-line>
        {{ removeHtml(p[2]) }}
      </p>
    </a>
  </md-nav-list>
</div>

<from-poem-iri-to-textgrid-information
  *ngIf="!konvolutView"
  [konvolutIRI]="konvolutIRI"
  [poemIRIArray]="poemIRIArray"
  (sendPoemInformationBack)="unsortedPoems=$event">
</from-poem-iri-to-textgrid-information>
