.rae-registerspalte-list md-nav-list {
  min-height: 200px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;

  border-color: rgba(0, 0, 0, 0.125);
  border-style: solid;
  border-width: 1px;
}

.rae-registerspalte-list md-nav-list, md-button-toggle-group {
  margin: 0 -1rem;
}

.rae-registerspalte-list md-nav-list a {
  border-bottom-color: silver;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 0 -12px;
}

.rae-registerspalte-list md-nav-list a p {
  font-size: 0.75rem;
}

.rae-registerspalte-list md-nav-list a h5 {
  line-height: 1rem;
  white-space: normal;
}

md-button-toggle-group {
  width: 100%;
}

md-button-toggle {
  width: 50%;
  height: 36px;
  font-size: 80%;
}

.color0 {
  background-color: #f3f3f3;
}

.color1 {
  background-color: lightyellow;
}

.color2 {
  background-color: lightgray;
}
