<div class="rae-registerspalte-list">
  <h5>{{ konvolutTitle }}<br/>(Total: {{ nrOfPoems }})</h5>
  <md-button-toggle-group [(ngModel)]=sortingType>
    <md-button-toggle value="alphabetic" (click)="sortAlphabetically()">alph.</md-button-toggle>
    <md-button-toggle value="chronologic" (click)="sortChronologically()">Folge</md-button-toggle>
  </md-button-toggle-group>
  <md-nav-list dense>
    <a md-list-item *ngFor="let p of poems; let i = index"
       [routerLink]="['/' + this.konvolutTitle + '/'] + produceFassungsLink(p.title,p.iri)"
       (click)="goToOtherFassung('/' + konvolutTitle + '/' + produceFassungsLink(p.title,p.iri) + '###' + p.title)"
       routerLinkActive="active">

      <h5 md-line>{{ p.title }}</h5>

      <p *ngIf="sortingType=='alphabetic'"
         md-line>
        <!-- incipit -->
        {{ p.text }}
      </p>

      <!-- the formatted date needs an explicit *ngIf because it is reformatted and not a direct Knora text value -->
      <p *ngIf="p['date'] && sortingType=='chronologic' && konvolutType=='notizbuecher'"
         md-line>
        {{ formatDate(p.date) }}
      </p>
      <p *ngIf="p['date'] && sortingType=='chronologic' && konvolutType=='manuskripte'"
         md-line>
        {{ formatDate(p.date) }}
      </p>
      <p *ngIf="sortingType=='chronologic' && konvolutType=='typoskripte'"
         md-line>
        {{ p.text }}
      </p>
      <p *ngIf="sortingType=='chronologic' && konvolutType=='drucke'"
         md-line>
        {{ p.text }}
      </p>
      <p *ngIf="sortingType=='chronologic' && konvolutType=='material'"
         md-line>
        {{ p.text }}
      </p>

    </a>
  </md-nav-list>
</div>

<from-poem-iri-to-textgrid-information
  [konvolutIRI]="konvolutIRI"
  [poemIRIArray]="poemIRIArray"
  (sendPoemInformationBack)="updatePoemInformation($event)"
></from-poem-iri-to-textgrid-information>

<!--
<from-konvolut-iri-to-poem-iris
  [konvolutIRI]="konvolutIRI"
  [konvolutType]="knoraKonvolutType"
  (sendPoemIRIsBack)="createPoemIRIList($event)"
></from-konvolut-iri-to-poem-iris>
-->
