<div>
  <button md-raised-button title="Registerspalte aus-/einschalten"
          (click)="showRegister = !showRegister; showRegisterChange.emit(showRegister)">{{showRegister ? '-' : '+'}} Register</button>

  <button md-raised-button title="Texte separat scrollen aus-/einschalten"
          (click)="poemResizable = !poemResizable; poemResizableChange.emit(poemResizable)">{{poemResizable ? 'Fixe Höhe' : 'Angepasste Höhe'}}</button>

  <button md-raised-button title="neu laden" (click)="neuladen()">Reset</button>

  <button md-raised-button title="vorangehender Text" *ngIf="idOfPrev"
          [routerLink]="[idOfPrev]" (click)="goToPrevFassung()">
    <md-icon>navigate_before</md-icon>
  </button>

  <button md-raised-button title="nächster Text" *ngIf="idOfNext"
          [routerLink]="[idOfNext]" (click)="goToNextFassung()">
    <md-icon>navigate_next</md-icon>
  </button>

  <button md-raised-button title="Hilfe" (click)="showHelp()">
    <md-icon>help</md-icon>
  </button>
</div>
