ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

li {
  padding-bottom: 5px;
  clear: left;
}

.entryTitle {
  float:left;
  width:120px;
  padding-left:10px;
  font-weight:bold;
}
