<div>
  <h3>Weitere Informationen</h3>
  <div class="flex-container" *ngIf="specialDescription">
    <div class="label">Besonderes:</div>
    <div class="content" [innerHtml]="specialDescription"></div>
  </div>
  <div class="flex-container" *ngIf="detailDescription">
    <div class="label">Details:</div>
    <div class="content" [innerHtml]="detailDescription"></div>
  </div>
  <!--<div class="flex-container" *ngIf="convoluteTitle === 'Verstreutes' && publishedIn && publishedIn.length > 0">
   <div class="label">Zeitschrift:</div>
   <div class="content">
     <rae-fassung-steckbrief-konvolut [konvolutIRI]="publishedIn"></rae-fassung-steckbrief-konvolut>
    </div>
  </div>-->
  <div class="flex-container" *ngIf="!lastAuthorizedPublication && convoluteTitle === 'Verstreutes'">
    <div class="label">Letzter Druck:</div>
    <div class="content">Verstreutes</div>
  </div>
  <div class="flex-container" *ngIf="lastAuthorizedPublication">
    <div class="label">Letzter Druck:</div>
    <div class="content">
      <rae-fassung-steckbrief-konvolut
        [konvolutIRI]="[lastAuthorizedPublication]"></rae-fassung-steckbrief-konvolut>
    </div>
  </div>
  <div class="flex-container" *ngIf="publishingState === 'unpublished'">
    <div class="label">Letzter Druck:</div>
    <div class="content">Unpubliziert</div>
  </div>
  <div class="flex-container" *ngIf="unauthorizedPublication && unauthorizedPublication.length > 0">
    <div class="label">Nachdruck:</div>
    <div class="content">
      <rae-fassung-steckbrief-konvolut [konvolutIRI]="unauthorizedPublication"></rae-fassung-steckbrief-konvolut>
    </div>
  </div>
  <div class="flex-container" *ngIf="isFinalVersion">
    <div class="label">Endfassung:</div>
    <div class="content">ja</div>
  </div>
  <div class="flex-container" *ngIf="textartMap[structure]">
    <div class="label">Textart:</div>
    <div class="content">{{ textartMap[structure] }}</div>
  </div>
  <div class="flex-container" *ngIf="carrierIRI">
    <div class="label">Signatur:</div>
    <div class="content">
      <rae-fassung-steckbrief-signatur [carrierIRI]="carrierIRI"></rae-fassung-steckbrief-signatur>
    </div>
  </div>
  <div class="flex-container" *ngIf="pageNumberDescription && pageNumberDescription !== '0'">
    <div class="label">Seite / Blatt:</div>
    <div class="content" [innerHtml]="pageNumberDescription"></div>
  </div>
  <div class="flex-container" *ngIf="publicationNumber">
    <div class="label">Textnr.:</div>
    <div class="content" [innerHtml]="publicationNumber"></div>
  </div>
  <div class="flex-container" *ngIf="nachlassPublicationDescription && nachlassPublicationDescription !== ' '">
    <div class="label">Werke:</div>
    <div class="content" [innerHtml]="nachlassPublicationDescription"></div>
  </div>
  <div class="flex-container" *ngIf="sameEditionAs && sameEditionAs.length > 0">
    <div class="label">Identisch mit:</div>
    <div class="content">
      <rae-fassung-steckbrief-konvolut [konvolutIRI]="sameEditionAs"></rae-fassung-steckbrief-konvolut>
    </div>
  </div>
  <div class="flex-container" *ngIf="hasStrophen">
    <div class="label">Strophen:</div>
    <div class="content">ja</div>
  </div>
  <div class="flex-container" *ngIf="isPartOfCycle">
    <div class="label">Zyklus:</div>
    <div class="content">ja</div>
  </div>
  <div class="flex-container" *ngIf="isInDialect">
    <div class="label">Mundart:</div>
    <div class="content">ja</div>
  </div>
  <div class="flex-container" *ngIf="referencePoemIRI && referenceTitle">
    <div class="label">Bezugstext:</div>
    <div class="content">
      <rae-fassung-steckbrief-fassung [fassungIRI]="referencePoemIRI" [linkText]="referenceTitle">
      </rae-fassung-steckbrief-fassung>
    </div>
  </div>
  <div class="flex-container" *ngIf="isWrittenWith">
    <div class="label">Schreibzeug:</div>
    <div class="content">{{ schreibzeugMap[isWrittenWith] }}</div>
  </div>
</div>
