<div>
  <h3>Weitere Informationen</h3>
  <ul>
    <li *ngIf="specialDescription" >
        <span class="entryTitle">Besonderes:</span>
        <span [innerHtml]="specialDescription"></span>
    </li>
    <li *ngIf="detailDescription" >
        <span class="entryTitle">Details:</span>
        <span  [innerHtml]="detailDescription"></span>
    </li>
    <!--<li *ngIf="convoluteTitle === 'Verstreutes' && publishedIn && publishedIn.length > 0">
      <span class="entryTitle">Zeitschrift:</span>
      <span >
          <rae-fassung-steckbrief-konvolut [konvolutIRI]="publishedIn"></rae-fassung-steckbrief-konvolut>
        </span>
    </li>-->
    <li *ngIf="!lastAuthorizedPublication && convoluteTitle === 'Verstreutes'">
      <span class="entryTitle">Letzter Druck:</span>
      <span>Verstreutes</span>
    </li>
    <li *ngIf="lastAuthorizedPublication" >
        <span class="entryTitle">Letzter Druck:</span>
        <span >
          <rae-fassung-steckbrief-konvolut
            [konvolutIRI]="[lastAuthorizedPublication]"></rae-fassung-steckbrief-konvolut>
        </span>
    </li>
    <li *ngIf="publishingState === 'unpublished'" >
        <span class="entryTitle">Letzter Druck:</span>
        <span >Unpubliziert</span>
    </li>
    <li *ngIf="unauthorizedPublication && unauthorizedPublication.length > 0" >
      <span class="entryTitle">Nachdruck:</span>
      <span >
          <rae-fassung-steckbrief-konvolut [konvolutIRI]="unauthorizedPublication"></rae-fassung-steckbrief-konvolut>
        </span>
    </li>
    <li *ngIf="isFinalVersion" >
      <span class="entryTitle">Endfassung:</span>
      <span >ja</span>
    </li>
    <li *ngIf="textartMap[structure]" >
      <span class="entryTitle">Textart:</span>
      <span >{{ textartMap[structure] }}</span>
    </li>
    <li *ngIf="carrierIRI" >
      <span class="entryTitle">Signatur:</span>
      <span >
          <rae-fassung-steckbrief-signatur [carrierIRI]="carrierIRI"></rae-fassung-steckbrief-signatur>
        </span>
    </li>
    <li *ngIf="pageNumberDescription" >
      <span class="entryTitle">Seite / Blatt:</span>
      <span  [innerHtml]="pageNumberDescription"></span>
    </li>
    <li *ngIf="publicationNumber" class="typeTextfield group2">
      <span class="entryTitle">Textnr.:</span>
      <span  [innerHtml]="publicationNumber"></span>
    </li>
    <li *ngIf="nachlassPublicationDescription && nachlassPublicationDescription !== ' '" >
      <span class="entryTitle">Werke:</span>
      <span  [innerHtml]="nachlassPublicationDescription"></span>
    </li>
    <li *ngIf="sameEditionAs && sameEditionAs.length > 0">
      <span class="entryTitle">Identisch mit:</span>
      <span >
          <rae-fassung-steckbrief-konvolut [konvolutIRI]="sameEditionAs"></rae-fassung-steckbrief-konvolut>
        </span>
    </li>
    <li *ngIf="hasStrophen" >
        <span class="entryTitle">Strophen:</span>
        <span >ja</span>
    </li>
    <li *ngIf="isPartOfCycle" >
        <span class="entryTitle">Zyklus:</span>
        <span >ja</span>
    </li>
    <li *ngIf="isInDialect" >
        <span class="entryTitle">Mundart:</span>
        <span >ja</span>
    </li>
    <li *ngIf="referencePoemIRI && referenceTitle" >
        <span class="entryTitle">Bezugstext:</span>
        <span >
          <rae-fassung-steckbrief-fassung
            [fassungIRI]="referencePoemIRI"
            [linkText]="referenceTitle">
          </rae-fassung-steckbrief-fassung>
        </span>
    </li>
    <li *ngIf="isWrittenWith" >
        <span class="entryTitle">Schreibzeug:</span>
        <span >{{ schreibzeugMap[isWrittenWith] }}</span>
    </li>
  </ul>
</div>
