div.flex-container {
  display: flex;
  padding-left: 10px;
}

.flex-container .label {
  flex: 0 0 150px;
  font-weight: bold;
}

.flex-container .content {
  flex: 1 1 auto;
}

:host ::ng-deep .flex-container .content * {
  margin: 0;
}
