<!--
<ng-container *ngFor="let diplIRI of diplomaticIRIs">
  <rae-fassung-diplomatisch-seiten [diplomaticIRI]="diplIRI" (propertiesReset)="addPage($event)"></rae-fassung-diplomatisch-seiten>
</ng-container>
-->

<div #diplomatischKarte>
  <div *ngFor="let p of pages">
    <h5>{{p['pagenumber']}}</h5>
    <div *ngIf="p['picData']" style="display: inline-block; vertical-align: top">
      <rae-image-frame
        [pictureData]="p['picData']"
        [initWidth]="cardWidth"
        (pictureIncreased)="pictureIncreased.emit(null)"
        (pictureReduced)="pictureReduced.emit(null)"></rae-image-frame>
    </div>
    <div style="display: inline-block; vertical-align: top">
      <rae-diplomatischer-text [textIRI]="p['diplIRI']"
                               [(gewaehlteSchicht)]="gewaehlteSchicht"
                               [(textIsMovable)]="textIsMovable">
      </rae-diplomatischer-text>
    </div>
    <rae-fassung-diplomatisch-seiten [pageIRI]="p['pageIRI']"
                                     (propertiesReset)="addPage($event)">
    </rae-fassung-diplomatisch-seiten>
  </div>
</div>
