<div #diplomatischKarte>
  <div *ngFor="let p of pages; let i = index">
    <div>
      <h4 style="display: inline-block;">{{ p['pagenumber'] }}</h4>
      <button md-button
              (click)="showPage[i] = !showPage[i]"
              style="display: inline-block;">
        <md-icon *ngIf="showPage[i]">clear</md-icon>
        <md-icon *ngIf="!showPage[i]">add</md-icon>
      </button>
    </div>
    <div *ngIf="showPage[i]" style="display: inline-block; vertical-align: top">

      <rae-image-frame *ngIf="p['picData']"
                       [origName]="p['origName']"
                       [pictureData]="p['picData']"
                       [initWidth]="cardWidth"
                       (pictureIncreased)="pictureIncreased.emit(null)"
                       (pictureReduced)="pictureReduced.emit(null)">
      </rae-image-frame>
    </div>
    <div *ngIf="p['diplIRI'] && showPage[i]" style="display: inline-block; vertical-align: top">
      <rae-diplomatischer-text [textIRI]="p['diplIRI']"
                               [(gewaehlteSchicht)]="gewaehlteSchicht"
                               [(textIsMovable)]="textIsMovable"
                               [(showStufe1)]="showStufe1"
                               [(showStufe2)]="showStufe2">
      </rae-diplomatischer-text>
    </div>
    <rae-fassung-diplomatisch-seiten [pageIRI]="p['pageIRI']"
                                     (propertiesReset)="addPage($event)">
    </rae-fassung-diplomatisch-seiten>
  </div>
</div>
