.rae-image-container {
  display: inline-block;
  vertical-align: top;
  width: 460px;
  padding: 5px;
  white-space: normal;
}

.rae-image_resizeable {
  width: 100%;
  resize: both;
  overflow: auto;
}

button.rae-image-small-button {
  min-width: 10px;
  height: 30px;
  line-height: normal;
  padding: 5px;
  font-size: 80%;
  vertical-align: middle;
}
