<div>

  <md-toolbar>

    <button md-button class="rae-image-small-button" (click)="increaseFrameSize()" title="Bild vergrössern">
      <md-icon>zoom_in</md-icon>
    </button>

    <button md-button class="rae-image-small-button" (click)="reduceFrameSize()" title="Bild verkleinern">
      <md-icon>zoom_out</md-icon>
    </button>

    <button md-button class="rae-image-small-button" (click)="resetSize()" title="Neu laden">
      <md-icon>cached</md-icon>
    </button>

    <span>({{ origName }})</span>

  </md-toolbar>

  <div [ngStyle]="{'height': height + px, 'width': width + px, 'overflow-y': overflow, 'resize': resize}"
       style="margin-top:18px;" #picFrame>
    <!--  <img src="http://test-02.salsah.org/core/sendlocdata.php?res=212767&qtype=full&reduce={{ zoomfactor }}"
           class="rae-image_resizeable"> -->
    <img src="{{ pictureIdBase }}{{ width }},/0/default.jpg" class="rae-image_resizeable">
  </div>
</div>
