<!--
For the kitchen sink

<br>
<p>The Image Grid component</p>
<br>
<button md-raised-button (click)="searchForDoctor()">Search Resource with Image Example</button>
<br/>
<br/>
<div class="rae-image-container" *ngFor="let image of myImages; let i = index">
  {{ image.value[0] }}
  <img id="{{ image.obj_id }}"
       src="http://test-02.salsah.org/core/sendlocdata.php?res={{ image.obj_id }}&reduce={{ zoomfactor }}">
  <button md-raised-button (click)="increaseSize()">Increase size</button>
  <button md-raised-button (click)="reduceSize()">Reduce size</button>
</div>
-->

<div>
  <md-card>
    <md-card-content *ngIf="ausgeklappt">

      <div [ngStyle]="{'height': height + px, 'width': width + px, 'overflow-y': overflow, 'resize': resize}">
        <img src="http://test-02.salsah.org/core/sendlocdata.php?res=212767&qtype=full&reduce={{ zoomfactor }}"
             class="rae-image_resizeable">
      </div>

    </md-card-content>

    <md-card-footer>
      <button md-button (click)="ausgeklappt = !ausgeklappt">
        <md-icon *ngIf="ausgeklappt">expand_less</md-icon>
        <md-icon *ngIf="!ausgeklappt">expand_more</md-icon>
        <span *ngIf="ausgeklappt">Bild verbergen</span>
        <span *ngIf="!ausgeklappt">Bild anzeigen</span>
      </button>


      <button md-button [mdMenuTriggerFor]="menu">
        <md-icon *ngIf="ausgeklappt">wallpaper</md-icon>
      </button>

      <md-menu #menu="mdMenu" yPosition="above">

        <button md-button (click)="increaseSize()">
          <md-icon *ngIf="ausgeklappt">zoom_in</md-icon>
          Erhöhe Bildqualität
        </button>


        <button md-button (click)="reduceSize()">
          <md-icon *ngIf="ausgeklappt">zoom_out</md-icon>
          Niedrigere Bildqualität
        </button>

        <button md-button (click)="increaseFrameSize()">
          <md-icon *ngIf="ausgeklappt">flip_to_front</md-icon>
          Bild vergrössern
        </button>

        <button md-button (click)="reduceFrameSize()">
          <md-icon *ngIf="ausgeklappt">flip_to_back</md-icon>
          Bild verkleinern
        </button>

        <br>

        <button md-button (click)="resetSize()">
          <md-icon *ngIf="ausgeklappt">cached</md-icon>
          Reset
        </button>

      </md-menu>

    </md-card-footer>
  </md-card>

</div>
