<form [formGroup]="layoutSettingsForm">
  <button md-raised-button
          [disabled]="!layoutSettingsForm.get('frameToggler').value || !layoutSettingsForm.get('textToggler').value || gridHeight <= -18"
          title="Kartenformat schrittweise verkleinern"
          (click)="textVerkleinern()">- Format
  </button>
  <button md-raised-button
          [disabled]="!layoutSettingsForm.get('frameToggler').value || !layoutSettingsForm.get('textToggler').value || gridHeight >= 18"
          title="Kartenformat schrittweise vergrößern"
          (click)="textVergroessern()">+ Format
  </button>
  <hr/>
  <div>
    <md-slide-toggle formControlName="frameToggler">
      {{layoutSettingsForm.get('frameToggler').value ? 'Rahmen' : 'Rahmenlos'}}
    </md-slide-toggle>
  </div>
  <hr/>
  <div>
    <md-slide-toggle formControlName="textToggler">
      {{layoutSettingsForm.get('textToggler').value ? 'Text' : 'Kein Text'}}
    </md-slide-toggle>
  </div>
  <hr/>
  <div>
    <md-select placeholder="Spalten" formControlName="colsSetter">
      <md-option value="1">1</md-option>
      <md-option value="2">2</md-option>
      <md-option value="3">3</md-option>
    </md-select>
  </div>
  <hr/>
  <div>
    <button md-button (click)="resetLayout()">Zurücksetzen</button>
  </div>
</form>
