.rae-poem-list-cols {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.rae-poem-list-grid {
  width: 100%;
}

.rae-poem-container {
  display: inline-block;
  vertical-align: top;
  width: 43%;
  padding: 5px;
  margin: 16px;
  white-space: normal;
}

.rae-poem-card {
  width: 90%;
}

.rae-poem-card-content-cols {
  overflow-y: auto;
  overflow-x: auto;
}

.rae-poem-card-content-grid {
  overflow-y: hidden;
  overflow-x: auto;
  resize: vertical;
  border-bottom-color: silver;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.rae-poem-card-grid {
  height: 90%;
  width: 90%;
}

.hidden {
  display: none;
}

.signalizeSearch {
  border-style: solid;
  border-color: #fffe9f;
}
