<div [ngClass]="{'rae-poem-list-grid': viewMode == 'grid', 'rae-poem-list-cols': viewMode == 'cols'}">

  <div class="rae-poem-container" *ngFor="let p of poemsInGrid; let i = index" [ngStyle]="{ 'width': columns }">

    <md-card class="rae-poem-card">

      <md-card-subtitle *ngIf="p[1]">{{p[1]}}</md-card-subtitle>

      <md-card-title #poemTitle>
        <a class="item" [routerLink]="p.obj_id.split('.ch')[1]" routerLinkActive="active">
          {{p[0]}}
        </a>
      </md-card-title>

      <md-card-content
        [ngClass]="{'rae-poem-card-content-grid': viewMode == 'grid', 'rae-poem-card-content-cols': viewMode == 'cols', 'hidden': !showText}"
        [ngStyle]="{'height': rahmen ? 'calc(20em - '+poemTitle.offsetHeight+'px + '+gridTextHeight+'em)' :  poemText.offsetHeight+'px', 'overflow-y': rahmen ? 'auto' : 'visible'}">
        <div class="rae-poem" [innerHTML]="highlight(p[2],searchTerm)">
        </div>
      </md-card-content>

      <br/>

      <md-card-footer style="position: static;">
        <div class="catItemTagsBlock" *ngIf="contentType == 'konvolut'">
          <span>Synopse:</span>
          <ul class="catItemTags">
            <li *ngFor="let s of p.valuelabel; let j = index">
              <a class="item" [routerLink]="['/synopsen/' + s]" routerLinkActive="active">
                {{s}}
              </a>
            </li>
          </ul>
        </div>
        <div class="catItemTagsBlock" *ngIf="contentType == 'synopse'">
          <span>Link zu Konvolut</span><!-- TODO link von Synopse zu Konvolut -->
        </div>
      </md-card-footer>
    </md-card>
  </div>
</div>
