<div class="rt-container">

  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <div id="k2Container" class="itemView">
                <div class="itemHeader">
                  <h2 class="itemTitle">Nachwort über das schweizerische Sprachdilemma</h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText">
                    <section class="edtext_druck edtext fliesstext">
                      <p>Vor ein paar Jahren wohnte ich im Schweizer Institut in Rom und trat in einem Brief an ein
                        anderes Mitglied des Instituts, einen Basler Juristen, dafür ein, daß als offizielle Haussprache
                        außer dem Französischen und dem Italienischen, da ja die Mehrheit der Stipendiaten aus der
                        deutschen Schweiz komme, auch das Deutsche verwendet werde. Ich erhielt ein ausführliches
                        Antwortschreiben, woraus ich einige Abschnitte hier zitieren möchte:</p>
                      <p><span class="zeile">02</span> »Wenn wir die Forderung aufstellen, in der Schweiz und in
                        schweizerischen Institutionen solle jedermann seine eigene Sprache verwenden, gilt es …
                        festzuhalten daß dies für ›Deutschschweizer‹ nur je ihr Dialekt sein kann. So kommt ftir mich,
                        der ich in Basel-Stadt aufgewachsen bin, als ›deutschschweizerische‹ Sprache allein das
                        ›Baseldytsch‹ in Frage, wie ftir Sie der in Ihrem Kanton gesprochene Dialekt, also nicht, was
                        Sie irrtümlicherweise anzunehmen scheinen, das Hochdeutsche. Die Dialekte der ›deutschen‹
                        Schweiz sind nämlich nicht nur wesentlich älter als das Hochdeutsche, sondern auch eigenständig
                        und jedenfalls für die kulturelle ›Individuation‹ des ›Deutschschweizers‹ von ungleich größerer
                        Bedeutung denn die importierte Schriftsprache, welche für uns eine Fremdsprache ist und immer
                        bleiben wird.</p>
                      <p><span class="zeile">03</span>Für Welschschweizer, Tessiner und Rätoromanen nun wäre es, auch
                        wenn sie sich noch so sehr darum bemühten, kaum möglich, unsere vielen und zum Teil doch sehr
                        unterschiedlichen ›deutschschweizer‹ Sprachen allesamt zu erlernen und zu verstehen. Wenn wir
                        somit mit ihnen leider nicht so sprechen können, wie jedem von uns ›der Schnabel gewachsen ist‹,
                        dann bleibt uns nurmehr übrig,&nbsp;<span class="pagina">105</span> uns in der Sprache an sie zu
                        wenden, die von ihnen und uns gemeinsam verstanden wird. Und dabei kommt nur das von uns
                        ›Deutschschweizern‹ einer gewissen Bildungsschicht in der Regel ebenfalls mehr oder weniger
                        beherrschte Französische oder Italienische in Betracht. Denn: Das Hochdeutsche, welches von den
                        betreffenden Miteidgenossen heute zumeist ebenfalls verstanden würde, stellt ja für uns
                        ›Deutschschweizer‹ im mündlichen Verkehr eine Fremdsprache dar und einer solchen sollte doch
                        wohl, der Eigenständigkeit und der ›Selbstrealisierung‹ unseres Landes zuliebe, im Gespräch
                        unter Schweizern eine der schweizerischen Sprachen (und dies sind, im Gegensatz zum Deutschen,
                        sowohl das Französische als auch das Italienische) vorgezogen werden.«</p>
                      <p><span class="zeile">04</span>Das ist nur eine von den in den letzten Jahrzehnten nicht eben
                        seltenen Äußerungen dessen, was ich Helvetismus nennen möchte, aber zweifellos die extremste,
                        die mir jemals begegnete. Unter Helvetismus. verstehe ich ein kulturpolitisches Programm, das
                        die deutsche Schweiz vom übrigen deutschen Sprachgebiet abtrennen und zu einer besonderen
                        sprachlich-kulturellen Einheit machen will. Er hat die Schweizer meiner Generation und noch mehr
                        die der jüngeren Generationen nachhaltig bestimmt. Seit meiner Schulzeit mußte ich mich damit
                        auseinandersetzen. Nicht zuletzt der Brief, aus dem ich zitiert habe, regte mich dazu an, über
                        den Gegenstand neu nachzudenken. Die folgenden Bemerkungen sind ein vorläufiges Ergebnis dieses
                        Nachdenkens.</p>
                      <p><span class="zeile">05</span>Als Muttersprache eines Menschen gilt gemeinhin, nicht nur im
                        deutschen Sprachbereich, primär die Hochsprache, in der er sich zuerst artikulieren gelernt hat,
                        in der er, zumindest, seine Schulbildung empfing. Auch in der Schweiz war das spätestens seit
                        der Aufklärung und noch bis vor kurzem nie ernstlich bestritten worden. Die Redensart von der
                        »deutschen Muttersprache« fand sich&nbsp;<span class="pagina">106</span> noch in meiner
                        Schulzeit in den Lesebüchern. Der Dialekt aber steht, so etwa die lange herrschende Meinung,
                        hinter der Hochsprache als deren gleichsam lokale und intime Variante und ältere Vorform.
                        Dialekt und Hochsprache wurden bis in die neueste Zeit nicht als Gegensatz empfunden, sondern
                        als zwei verschiedene Stufen, Erscheinungsweisen derselben Muttersprache.</p>
                      <p><span class="zeile">06</span>Ein historischer und geographischer Überblick läßt zudem erkennen,
                        daß die Grenze zwischen Hochsprache und Dialekt fließt. Ein Dialekt kann zur Hochsprache
                        aufsteigen, eine Hochsprache zum Dialekt absinken. Derart etwa sind aus dem Lateinischen, in
                        einem Prozeß des Ab-und Wiederaufstiegs, die romanischen Sprachen entstanden. Und der zitierte
                        Brief legt die Vermutung nahe, daß für seinen Verfasser wenigstens die alemannischen Dialekte in
                        der Schweiz schon hochsprachliche Eigenschaften anzunehmen beginnen. Wenn man aber heute, nicht
                        nur in der Schweiz, darüber klagt, daß die deutsche Hochsprache den Dialekt verdränge und sich
                        an seine Stelle gesetzt habe, so stimmt das nur in einem sehr eingeschränkten Sinn. Denn der
                        alemannische Dialekt war bisher zu keiner Zeit Hoch- oder Schriftsprache. Diese Funktion hatte
                        die längste Zeit, auch im deutschen Sprachraum, das Latein. Der Dialekt wurde nie geschrieben
                        und weder in der Schule noch in der Kirche, noch vor Gericht verwendet. Neben das Latein tritt
                        dann allmählich eine regionale, in der Schweiz und Süddeutschland also eine oberdeutsche
                        Gemeinsprache, die zwar überall mundartliche Elemente enthält, aber niemals identisch ist mit
                        dem gesprochenen Dialekt. Sie befindet sich gleichsam auf halbem Weg zwischen diesem und der neu
                        hochdeutschen Schriftsprache. Wer sich für den Verlauf dieser Entwicklung interessiert, sehe
                        sich etwa die Giebelbilder auf den Luzerner Holzbrücken an: Die Sprüche, welche die
                        dargestellten Szenen erklären, alle wohl zwischen dem&nbsp;<span class="pagina">107</span>
                        frühen 17. und dem späten 18. Jahrhundert entstanden, mischen auf eine für uns zuweilen drollige
                        Weise dialektale und hochdeutsche Sprachelemente. Man will offensichtlich eine Sprache
                        schreiben, die zwar volkstümlich ist, aber zugleich in einem weiteren Umkreis verstanden werden
                        kann. Der Übergang zwischen Dialekt und Hochsprache ist gleitend, diese mischt sich fortwährend
                        mit jenem. Das Gleiche können wir, ähnlich ungezwungen und naiv, heute noch in der
                        Umgangssprache in Bayern oder Schwaben, auf dem Land vor allem, beobachten während in der
                        Schweiz der Unterschied zwischen gesprochener und geschriebener Sprache zwar objektiv vielleicht
                        nicht größer geworden ist, aber subjektiv immer mehr als Gegensatz empfunden wird.</p>
                      <p><span class="zeile">07</span>Dabei kann das Verhältnis zwischen Hochsprache und Dialekt
                        naturgemäß nur ein hierarchisches sein: Die Hochsprache ist zwar, darin haben ihre Kritiker
                        durchaus recht, die jüngere und künstlichere, auch rationalere, aber oder gerade deshalb die
                        verbindliche, normsetzende Form einer Sprache. Der Dialekt ist sozusagen ihre Naturform, er ist
                        die Sprache des täglichen Gebrauchs für den privaten Bereich und wird normalerweise nur in einem
                        engen territorialen Umkreis verstanden. Solange der Dialekt echter Dialekt ist, wechselt der
                        Sprecher, kaum daß er seine engere Heimat verläßt, reflexartig über zur Hochsprache, die ihm als
                        die zwar unpersönlichere, aber dafür allgemeiner verständliche Form seiner Muttersprache
                        geläufig ist.</p>
                      <p><span class="zeile">08</span>Und was hier, bildlich gesprochen, von der Horizontalen gesagt
                        ist, gilt ähnlich von der Vertikalen. Wenn der Dialektsprecher in eine Situation kommt, wo er
                        sich intellektuell (nicht emotional!) differenzierter ausdrücken muß, wo ein höherer Grad der
                        Abstraktion gefordert ist, wechselt er gleichfalls automatisch zur Hochsprache über als zu jener
                        Form der Muttersprache, die für den Transport&nbsp;<span class="pagina">108</span>
                        wissenschaftlicher Inhalte und für die genaue begriffliche Unterscheidung geschaffen und
                        geeignet ist.</p>
                      <p><span class="zeile">09</span>In der Schweiz nun funktionieren diese Reflexe nicht mehr. In der
                        Mehrzahl der Fälle, in denen der Normaleuropäer, auch wenn er einen Dialekt beherrscht und sich
                        seiner in bestimmten Situationen bedient, zur Hochsprache übergeht, hält der Deutschschweizer am
                        Dialekt fest. Zum Teil ist das der Überrest eines älteren Verhaltens, aus der Zeit, in der sich
                        die Hochsprache noch nicht durchgesetzt hatte und der Gebrauch des Dialekts noch verbreiteter
                        und selbstverständlicher war als heute. Aber für die Erklärung des Phänomens wichtiger sind
                        andere Momente. Und mir scheint, daß diese immer mehr in den Vordergrund treten.</p>
                      <p><span class="zeile">10</span>Das Hochdeutsche gehört in der Schweiz nicht mehr zu den Merkmalen
                        der Identität, weder der nationalen noch der lokalen und schon gar nicht der individuellen. Ein
                        Deutschschweizer, wenn man ihn fragt, was er sei, wird sofort und ohne zu überlegen antworten:
                        Schweizer. Wenn man dann weiter in ihn dringt, wird er das spezifizieren mit Zürcher, Berner,
                        Basler o.ä., aber kaum je mit Deutschschweizer. Und selbst wenn er das einmal täte, seine
                        Sprachzugehörigkeit der ausdrücklichen Erwähnung wert fande, dächte er dabei normalerweise an
                        seinen Heimatdialekt und nur im Ausnahmefall und nebenher an das Hochdeutsche. Die in der
                        Schweiz gesprochenen alemannischen Dialekte liegen offenbar gerade auf der Schwelle, jenseits
                        deren sie notwendig zur Hochsprache werden. Dafür gibt es viele Anzeichen. So übersetzt etwa
                        neuerdings die Simultananlage im Parlament des zweisprachigen Kantons Bern nur vom Französischen
                        ins Berndeutsche und umgekehrt, der Gebrauch des Hochdeutschen ist gar nicht mehr vorgesehen.
                        Mindestens bis in die dreißiger Jahre dieses Jahrhunderts jedoch war Hochdeutsch die
                        selbstverständlichste Verhandlungssprache&nbsp;<span class="pagina">109</span> in allen
                        deutschschweizer Kantonsparlamenten und Kantonsregierungen, von den Bundesbehörden in Bern gar
                        nicht zu reden. Heute soll es sogar schon Universitätslehrer geben, die ihre Vorlesungen und
                        Seminare in Dialekt halten. In der Schule sprechen ohnehin seit Jahrzehnten die Lehrer mit den
                        Schülern überwiegend Dialekt; Hochdeutsch ist Unterrichtssprache nur noch im allerengsten Sinn,
                        dient nur noch zur Übermittlung des Lehrstoffs. Die Klassendiskussionen, nicht nur in den
                        Volksund Hauptschulen, sondern auch auf den Gymnasien und in den Lehrerbildungsanstalten, werden
                        in Dialekt geführt. Etwas, das vor hundert, vor fünfzig Jahren noch unvorstellbar gewesen wäre.
                        Wer kann sich da wundern, daß die Jugend gegenüber dem Hochdeutschen ein Unbehagen empfindet,
                        sich darin unsicher fühlt und, wo immer es angeht, vermeidet, hochdeutsch zu sprechen? Wer also
                        das Hochdeutsche als Fremdsprache bezeichnet, kann sich, zumindest was den mündlichen Gebrauch
                        angeht, auf eine Menge Argumente stützen. Aber er muß wissen: es ist zur Fremdsprache erst
                        geworden, lange Zeit galt es nicht dafür. Gottfried Keller und Jacob Burckhardt, ihrer Herkunft
                        und Bildung nach so verschieden voneinander wie nur möglich, hätten diese Vorstellung, falls sie
                        überhaupt jemals darauf stießen, zweifellos rur absurd gehalten. Heute würden sie vielleicht
                        zögern mit ihrem Urteil: Zu vieles weist darauf hin, daß die deutsche Hochsprache in der Schweiz
                        bald nur noch Schriftsprache, im mündlichen Gebrauch jedoch überall vom Dialekt verdrängt sein
                        wird. Bis zum Zweiten Weltkrieg war ja das Hochdeutsche nicht nur in allen öffentlichen und
                        offiziellen Reden, sondern auch in Ansprachen bei Vereins-und Familienfeiern, wenn nicht
                        selbstverständlich, so doch die Regel. Heute ist das Umgekehrte der Fall: Wer einen
                        Geburtstagstoast hochdeutsch ausbringt, fallt aus dem Rahmen. <span class="pagina">110</span>
                      </p>
                      <p><span class="zeile">11</span> Beteiligt an dieser Entwicklung sind auch die elektronischen
                        Massenmedien. Wenn diese etwa in der Bundesrepublik, wo Hochdeutsch auch Umgangssprache ist, die
                        sprachliche Planierung in Richtung auf ein farbloses Fernsehdeutsch fordern, bestätigen und
                        stärken sie in der Schweiz den Dialekt in seiner beherrschenden Stellung. Fernsehen und
                        Rundfunk, im Ehrgeiz, den Leuten nach dem Munde zu reden, den Mann und die Frau von der Straße
                        ohne Stilisierung und Überhöhung so zu zeigen, wie sie sind, können nicht daran interessiert
                        sein, Menschen, die sonst nie in ihrem Leben auf die Idee kämen, hochdeutsch zu sprechen,
                        ausgerechnet vor dem Mikrophon und der Kamera dies tun zu lassen.</p>
                      <p><span class="zeile">12</span> Die Schweizer lieben ihre Hochsprache nicht, viel eher scheint
                        es, daß sie sie hassen. Immer wieder hört man Klagen darüber, wie abstrakt, gemütlos, seelenlos
                        sie sei, und das gerade von den Gebildeten, die so tun, als gäbe es weder den »Grünen Heinrich«
                        noch »Die Kultur der Renaissance in Italien« noch »Andorra«, als wären sie in ihrer Schulzeit
                        nie von »Augen, meine lieben Fensterlein« und dem »Römischen Brunnen« bezaubert gewesen. Sie
                        stellen sich genau so an, als ob man ihnen das Hochdeutsche aufgezwungen hätte, und nennen es
                        verächtlich eine »importierte« Sprache. Als ob nicht alle Hochsprachen, das liegt in ihrem Wesen
                        als überregionale Idiome, überall außer in der Gegend ihrer Entstehung »importiert« wären. Um
                        bei der unsern zu bleiben, das Hochdeutsche ist in der Schweiz nicht mehr und nicht weniger
                        »importiert« als in ganz Westdeutschland und wurde hier zuerst einmal früher und leichter
                        angenommen als etwa in Alt-Bayern.</p>
                      <p><span class="zeile">13</span> Die Ursachen dieses Hasses müssen also anderswo liegen. Zum
                        Beispiel in der, wenn auch nur indirekten, Erfahrung des Hitlerregimes, welche die Entstehung
                        eines nicht nur politisch begründeten schweizerischen Nationalbewußtseins, eben dessen, was ich
                        Helvetismus nannte, <span class="pagina">111</span> kräftig gefordert hat. Die Schweizer des
                        19.J ahrhunderts unterschieden genau zwischen dem »Schweizervolk« und den Nationalitäten, aus
                        denen es sich zusammensetzte. Johann Kaspar Bluntschli drückte mit seinem Satz: »Die deutschen
                        Schweizer sind und bleiben Angehörige und Genossen der großen deutschen Nation« eine seiner Zeit
                        durchaus geläufige Meinung aus. Die Schweizer hielten sich für ein durch seine Institutionen und
                        seine Geschichte geeintes Volk, aber sprachlich und kulturell (was auch immer unter »Kultur« man
                        damals verstand), nahmen sie nach wie vor teil am Leben von drei verschiedenen Nationen, deren
                        Angehörige zur Hauptsache außerhalb des Landes wohnten. Bis tief in unser Jahrhundert, in die
                        Zeit der Weltkriege hinein, sah man eben darin eine Mission der Schweiz, daß sie durch das
                        friedliche Zusammenleben von Teilen dreier großer, allzuoft miteinander zerstrittener Nationen
                        Europas sich diesen als Vorbild anbot. Seither hat sich das Pathos, mit dem die Staaten früher
                        ihre Existenz rechtfertigten, längst ebenso erledigt, wie das gesamte politisch-kulturelle Klima
                        sich verändert hat. Hier sei nur daran erinnert, daß den Schweizern des vergangenen
                        Jahrhunderts, den Gründern des Bundesstaates 1848, den Reformern von 1874, eben nicht daran lag,
                        die Schweiz sprachlich und kulturell von ihrer Umwelt abzugrenzen, sondern im Gegenteil daran,
                        ihre politische Einheit, Eigenart und Unabhängigkeit bei gleichzeitiger Zugehörigkeit zu
                        verschiedenen Nationalitäten zu behaupten. Die Gründerväter des modernen Bundesstaates
                        verstanden daher unter»Vielsprachigkeit« etwas anderes als deren heutige Lobredner. Für diese
                        handelt es sich dabei lediglich um die banale Feststellung, daß in der Schweiz mehrere Idiome
                        gesprochen werden; jene dagegen waren stolz darauf, daß in der Schweiz drei große Kultursprachen
                        sich unter dem Dach eines Staates begegneten. Wenn die Bundesverfassungen von 1848 und 1874 die
                        deutsche <span class="pagina">112</span> Sprache als »Nationalsprache« vor dem Französischen und
                        Italienischen nennen, so ist damit nicht dieser oder jener Dialekt, auch nicht die Gesamtheit
                        aller in der Schweiz gesprochenen Dialekte gemeint, sondern eindeutig, das ergibt sich aus dem
                        Kontext der zeitgenössischen Literatur, die deutsche Hochsprache und nur diese. In dieselbe
                        Richtung weisen die staatlichen Schulordnungen seit der Helvetik: Erste Aufgabe der Schule sei
                        es, dem Schüler zur mündlichen und schriftlichen Beherrschung seiner Muttersprache, und das ist
                        für damalige Begriffe natürlich das Hochdeutsche, zu verhelfen.</p>
                      <p><span class="zeile">14</span> Seit man nach den beiden Weltkriegen in ganz Mitteleuropa die
                        französische Definition übernommen hat, wonach die Nation einfach der Staat ist, wurde die bis
                        dahin weitverbreitete Ansicht, daß die Schweiz, sprachlichkulturell verstanden, von Deutschen,
                        Franzosen und Italienern bewohnt sei, durch die These abgelöst, es gebe Schweizer deutscher,
                        französischer und italienischer Sprache. Ein auf den ersten Blick kaum bemerkbarer, tatsächlich
                        aber gravierender Unterschied. Das Problem der doppelten Loyalität, einerseits gegenüber dem
                        Staat, dem »Vaterland«, anderseits gegenüber der Sprachgemeinschaft, die immer, wenigstens
                        unterschwellig, auch als »Nation« empfunden wurde, dieses Problem, das den Schweizern im Ersten
                        Weltkrieg schwer zu schaffen machte, schien aufeinmal wie durch ein Wunder erledigt. Die
                        Sprachnation gab es nicht mehr, sie konnte folglich auch keine Loyalität beanspruchen, übrig
                        blieb einzig der Staat.</p>
                      <p><span class="zeile">15</span> Auf ihn bezog sich nunmehr alles. Wie der am Anfang zitierte
                        Basler Rechtskundige meint, »der Eigenständigkeit und ›Selbstrealisierung‹ unseres Landes
                        zuliebe« sollte fortan die deutsche Hochsprache, die zahllosen, und wahrlich nicht den
                        schlechtesten, Schweizern über zweihundert Jahre lang geistige Heimat gewesen war, wenn <span
                          class="pagina">113</span> nicht völlig abgeschafft, so doch zurückgedrängt, ihrer
                        verbindlichen Bedeutung als einer Sprache der allgemeinen öffentlichen Kommunikation beraubt,
                        ihre Verwendung dem Belieben des einzelnen anheimgestellt werden. Ein deutscher Sprachraum
                        existiert zwar noch für die Praxis des Kulturbetriebs, nicht mehr aber für das Bewußtsein und
                        für das Gefühl weiter Kreise der schweizerischen Intelligenz. Und damit ist, genau genommen, der
                        deutschen Hochsprache in der Schweiz überhaupt die Basis entzogen.</p>
                      <p><span class="zeile">16</span> Wie aber kam es dazu, daß das Hochdeutsche hier zuerst, wenn auch
                        langsam und zögernd wie in den meisten Gegenden Süddeutschlands, angenommen, nachher aber wieder
                        abgestoßen wurde? Die europäischen Nationen, das Wort hier wieder im früher gebräuchlichen Sinn
                        als Bezeichnung für eine primär sprachlich-kulturelle Einheit verstanden, bildeten sich
                        allmählich in einem jahrhundertelangen Einschmeizungsprozeß. Je intensiver eine Landschaft an
                        diesem Prozeß teilnahm, desto schneller und vollständiger wurde sie eingeschmolzen. Die deutsche
                        Schweiz beteiligte sich zwar zeitweise aktiv an der Bildung der modernen deutschen Sprachnation,
                        aber offenbar nicht lange und intensiv genug, um auch nur den relativ geringen Grad der
                        Einschmelzung vieler Gegenden Süddeutschlands etwa zu erreichen. Zwischen der Spätaufklärung und
                        dem Ersten Weltkrieg, vor allem um die letzte Jahrhundertwende, schien es dann allerdings, die
                        Schweiz sei im Begriff, sich sehr schnell dem allgemeinen Sprachstand anzugleichen. Das war
                        vielleicht die Folge der für das europäische 19. Jahrhundert bezeichnenden Verbindung von
                        nationalromantischen und rationalistischaufklärerischen Motiven. Die durch den vermehrten
                        Gebrauch der Hochsprache gegebene Annäherung an Deutschland befriedigte sowohl jene, welche die
                        Wurzeln der Eidgenossenschaft im mittelalterlichen Reich sahen <span class="pagina">114</span>
                        und behaupteten, sie habe nicht nur dessen älteste und beste Traditionen, sondern noch einige
                        altgermanische dazu für die Nachwelt bewahrt, wie auch die andern, die sich davon eine direktere
                        Teilnahme am kulturellen, wissenschaftlich-technischen und ökonomischen Fortschritt versprachen.
                        Wie dem auch sei, tatsächlich hatte sich in den Jahren vor dem Ersten Weltkrieg das Hochdeutsche
                        als Instrument der öffentlichen Kommunikation durchgesetzt und drang allmählich sogar in den
                        privaten Umgang vorwiegend akademischer Gesellschaftskreise ein. Von Ressentiments war damals
                        offenbar wenig zu spüren.</p>
                      <p><span class="zeile">17</span> Die Veränderung der Dinge, die sich schließlich als ein völliger
                        Umsturz erweisen sollte, setzte mit dem Ersten Weltkrieg ein. Wie die Schweizer nach dem
                        Dreißigjährigen Krieg, zusammen mit ganz Europa, immer mehr in den kulturellen Sog Frankreichs,
                        der damaligen kontinentalen Vormacht, geraten und am Ende von ihr militärisch besetzt und
                        politisch beherrscht worden waren, fürchteten sie jetzt, dem expansiven Deutschen Reich
                        gegenüber in eine ähnliche Lage zu kommen. Es bedurfte dann nur noch Hitlers, damit sich die
                        »deutsche Muttersprache« in die »importierte Fremdsprache« verwandelte, die sich von anderen
                        Fremdsprachen allenfalls dadurch unterscheidet, daß man sie zwar noch schreibt, dafür aber auch
                        haßt.</p>
                      <p><span class="zeile">18</span> In der Auseinandersetzung um Hochsprache und Dialekt geht es aber
                        um mehr und Wichtigeres als politische Opportunität oder gar Mode. Es geht um zwei Konzeptionen
                        der Kultur. Ich meine hier nicht den alten und, so scheint es mir wenigstens, müßigen Streit um
                        Kultur und Zivilisation, sondern zwei Auffassungen, wovon man wiederum, grob vereinfachend, die
                        eine als die eher französische, die andere als die eher deutsche bezeichnen könnte. Nur verlief
                        hier die Entwicklung umgekehrt wie beim Begriff der Nation. Während sich hier die westliche
                        Definition, wonach Nation und Staat nur zwei verschiedene <span class="pagina">115</span>
                        Ausdrücke für dieselbe Sache sind (das Wort »Nationalstaat« wird so überflüssig, denn jeder
                        Staat ist Nationalstaat), durchgesetzt hat, ist, was den Begriff der Kultur angeht, die im
                        späten 18.Jahrhundert formulierte deutsche und osteuropäische Auffassung, die ich die
                        folkloristische nennen möchte, seit den Weltkriegen immer allgemeiner geworden. Kultur ist ihr
                        zufolge die Gesamtheit der zu einer bestimmten Zeit an einem bestimmten Ort vorhandenen
                        menschlichen Sitten, Einrichtungen und Produktionen, die man, wie Flora und Fauna, nicht zu
                        kritisieren oder gar zu verändern, sondern einfach zur Kenntnis zu nehmen, und, so, wie sie ist,
                        zu akzeptieren hat.</p>
                      <p><span class="zeile">19</span> Die Gegenmeinung, die nicht nur die französische Staatskultur
                        spätestens seit dem I 7.Jahrhundert und danach bis zum Ersten Weltkrieg, wenn auch mit
                        Schwankungen und regionalen Unterschieden, den ganzen europäischen Kulturkreis bestimmte,
                        versteht, wie das schon die hellenistisch-römische Spätantike getan hatte, Kultur als ein
                        bewußtes Erzeugnis des menschlichen Geistes, als einen human geordneten Kosmos, der nicht
                        zuletzt auf der Überwindung des Partikulären zugunsten einer möglichst allgemeinen
                        Übereinstimmung beruht. Das liefe dann am Ende im Politischen auf den Universalstaat, im
                        Sprachlichen auf die Universalsprache hinaus. Indes die folkloristische Kultur ihre Vollendung
                        im Ministaat ala Monaco und in der Lokalsprache ala Baseldeutsch fände.</p>
                      <p><span class="zeile">20</span> Für unseren historischen Augenblick, dämmerig und vieldeutig, wie
                        er sich darstellt, gilt wohl, daß beide Auffassungen ihre partielle Richtigkeit haben. Es käme
                        darauf an, den Kompromiß für die Praxis zu finden. Der bloße Spontaneismus, der Kult des nur
                        Partikulären, Lokalen und Individuellen bringt eben bestenfalls Folklore hervor, endet in
                        Primitivität und Anarchie. Eine systematisch durchgebildete National-oder gar Universalkultur
                        <span class="pagina">116</span> läuft Gefahr, in abstrakten Regeln zu erstarren, von Generation
                        zu Generation leerer und schematischer zu werden, Form ohne Inhalt, im negativen Sinn
                        klassizistisch.</p>
                      <p><span class="zeile">21</span> In der Schweiz ist die Gefahr des Versinkens im Folklorismus
                        zweifellos größer. Die Mode der Zeit trifft sich hier mit einer alten, dem ganzen deutschen
                        Sprachgebiet eigentümlichen Neigung. Zwar gewann mit der Aufklärung auch hier die Idee einer
                        allgemeinen Humanität, die sich in einer möglichst allgemeinen Sprache äußern müsse, an Boden,
                        setzte sich auch hier die Nationalsprache, die es ja schon seit mindestens zweihundert Jahren
                        gab, gegen das absterbende Latein einerseits, gegen die verschiedenen Dialekte und
                        Regionalsprachen anderseits als Hoch-und Schriftsprache durch. Darüber darf man freilich nicht
                        vergessen, daß bis tief ins 19.J ahrhundert hinein zumindest jeder Oberdeutsche noch ganz
                        selbstverständlich einen Dialekt sprach. Dem jungen Goethe, wie er nach Leipzig kommt, ist das
                        Reden »nach der Schrift«, wie er es nennt, fremd und ungewohnt.</p>
                      <p><span class="zeile">22</span> Damals befand sich die Schweiz noch in Übereinstimmung mit einem
                        großen Teil des übrigen deutschen Sprachgebiets. Das Nebeneinander von Dialekt und Hochsprache
                        war selbstverständlich und fiel, im Unterschied zu heute, niemandem auf. Die Reisenden des 18.
                        und frühen 19.Jahrhunderts verloren, soweit mir wenigstens bekannt ist, in ihren Briefen und
                        Berichten über die sprachliche Struktur der deutschen Schweiz kein Wort. Wohl eben darum, weil
                        sie sich von derjenigen der angrenzenden Landschaften deutscher Sprache nicht oder nur
                        unerheblich unterschied. Gar von einer Abneigung der Schweizer gegen das Hochdeutsche scheint
                        auch um 1800 niemand etwas bemerkt zu haben.</p>
                      <p><span class="zeile">23</span> Was sich in den letzten Jahrzehnten ereignete, ist eine
                        Regression, der Versuch, hinter die Aufklärung zurückzugehen. Und zwar in einem durchaus
                        romantischen Sinn, <span class="pagina">117</span> nämlich zurückzukehren in einen
                        ursprünglichen, heilen und natürlichen Zustand, den es so niemals gab, in eine von der übrigen
                        Welt abgeschlossene, von allen fremden Einflüssen gereinigte, gleichsam authentische Schweiz.
                        Und diese »Rückkehr« bewerkstelligte man, was die Sprache angeht, zuerst einmal dadurch, daß man
                        einfach stehen blieb, sich nicht mehr von der Stelle rührte. Da sich aber alles andere ringsum
                        weiterbewegte, fiel man unversehens aus den alten Zusammenhängen hinaus: man veränderte sich
                        dadurch, daß man sich nicht veränderte. Mah behielt also die alte, früher allgemeine Doppelheit:
                        Dialekt hier – Hochsprache dort, bewußt bei, machte von einem bestimmten Augenblick an die
                        fortschreitende Annäherung der gesprochenen an die geschriebene Sprache nicht mehr mit. Im
                        Gegenteil, man verbannte das Hochdeutsche wieder aus vielen Bereichen des öffentlichen und
                        privaten Gebrauchs, wo es zum Teil schon seit Generationen fest etabliert schien. Das konnte
                        jedoch nur gelingen, wenn man gegen die Hochsprache ein Ressentiment faßte, es nährte und
                        pflegte. Das Hochdeutsche, dreihundert Jahre lang als Vorbild und Norm gültig, mußte zum
                        Gegenstand der Abneigung gemacht werden, wenn man es aus seiner scheinbar unerschütterlichen
                        Stellung vertreiben wollte. So ergab sich eine ganz neue Situation. Denn der frühere Zustand der
                        Trennung von Hochsprache und Dialekt war naiv gewesen, eine natürliche und unvermeidliche Etappe
                        auf dem Weg der sprachlichen Entwicklung: Das Hochdeutsche lag damals gleichsam vorn, als das
                        angestrebte Ziel. Heute jedoch liegt es hinten, als ein historisches Bleigewicht zieht es die
                        Schweiz in eine Vergangenheit zurück, die sie sonst endgültig überwunden zu haben glaubt. So
                        jedenfalls empfinden es viele, vor allem auch junge Schweizer. Nach meiner Beobachtung gibt es
                        gerade auch bei den Intellektuellen nur eine kleine Minderheit, die ein unverkrampftes,
                        ressentimenfreies <span class="pagina">118</span> Verhältnis zum Hochdeutschen hat und sich
                        seiner mündlich ebenso leicht und gern bedient wie schriftlich.</p>
                      <p><span class="zeile">24</span> Das Vordringen des Dialekts aufKosten der Hochsprache hat, wie
                        gesagt, auch Gründe, die mit der Schweiz und ihren besonderen Verhältnissen nichts zu tun haben:
                        die allgemeine, überall in Westeuropa zu beobachtende Abwertung der Hochsprachen als Überreste
                        des bürgerlichen Zeitalters, als Herrschaftsinstrumente des Zentralstaates und seiner
                        Bürokratie. Und dann die Massenmedien, vor allem das Fernsehen, die, wie ich es schon
                        darzustellen versuchte, zur Hochsprache ein zumindest zwiespältiges Verhältnis haben. Nur in der
                        Schweiz kommen zu den allgemeinen Gründen, verstärkend, die besonderen lokalen dazu. In Bayern
                        etwa, in Venetien oder in Neapel gibt es Umstände, die, aller Wahrscheinlichkeit nach, die
                        italienische, bzw. deutsche Hochsprache trotz allem nicht untergehen lassen: das Interesse der
                        Wirtschaft und der Verwaltung an einer Gemeinsprache, die überall verstanden, gesprochen und
                        geschrieben wird; das besondere ideologische Interesse des nach wie vor mächtigen überregionalen
                        Staates an einer Nationalsprache, die das Bewußtsein der nationalen Einheit und Identität erhält
                        und befordert; der Zustrom von Menschen, die den Lokaldialekt nicht sprechen, als Folge der
                        Niederlassungsfreiheit und der Bevölkerungsmischung innerhalb der einzelnen Staaten seit nunmehr
                        über einem Jahrhundert. Daß von all diesen Umständen, die den Hochsprachen anderswo zu Hilfe
                        kommen, der deutschen Hochsprache in der Schweiz kein einziger von Nutzen ist, weiß jeder, der
                        die schweizerische Situation kennt.</p>
                      <p><span class="zeile">25</span> Sie besteht darin, daß das Hochdeutsche in der Schweiz im Begriff
                        ist, als Landessprache abzusterben. Heute nähern wir uns bereits dem Punkt, wo es nur noch als
                        Schriftsprache dient, im Unterschied zur Lage vor zweidreihundert Jahren, als es schon
                        Schriftsprache war, auf <span class="pagina">119</span> dem Weg, allmählich zur öffentlichen
                        Verkehrssprache zu werden. War das Hochdeutsche damals in der Offensive, so ist es heute in der
                        Defensive, in einer hoffnungslosen Defensive, wie ich glaube. Eine Sprache, deren Gebrauch nicht
                        nur tunlichst vermieden, sondern von weiten Kreisen, wahrscheinlich sogar der Mehrheit der
                        Bevölkerung geftihlsmäßig abgelehnt wird, hat ihre Berechtigung als Ausdrucks-und
                        Kommunikationsmittel dieser Bevölkerung verloren. Sie repräsentiert, außer vielleicht ein paar
                        Literaten, die sich im übrigen hüten, sich unumwunden zu ihr zu bekennen, niemanden und nichts
                        mehr. Glaubten die »Progressiven«, die Liberalen und Sozialisten des 19.Jahrhunderts noch, sie
                        seien auf das Hochdeutsche angewiesen zur Verbreitung ihrer Ideen, gibt es heute dafür keine
                        Entsprechung mehr. Nein, gerade in der intellektuellen Führungsschicht bestehen die größten
                        Reserven gegen das Hochdeutsche, in diesen Kreisen vor allem lehnt man es als »fremd« und
                        »importiert« ab. Und das dürfte am Ende den Ausschlag geben: eine Sprache, die allgemein für
                        eine Fremdsprache gehalten wird, ist eine Fremdsprache. Daran ändert der Umstand, daß sie immer
                        noch eine kümmerliche Existenz als Schriftsprache fuhrt, so scheint mir, nicht das
                        Geringste.Jahrhundertealte Gewohnheiten, mögen sie ihre Begründung auch längst verloren haben,
                        sind hartnäckig.</p>
                      <p><span class="zeile">26</span> In Wirklichkeit ist das Alemannische in der Schweiz nahe daran,
                        selber zur Hochsprache zu werden. Im Augenblick freilich ist es noch keine. Denn das
                        Hochdeutsche behauptet, außer als Schriftsprache, noch ein paar wenige, jedoch wichtige
                        Positionen als, wenn auch nicht unbestrittene, Unterrichts-, Kirchen-, Parlaments-, Gerichts-
                        und Mediensprache. Es scheint mir aber nur eine Frage der Zeit, daß es auch aus diesen
                        Positionen vom Alemannischen (»Schweizerdeutschen«) verdrängt wird. Immer vorausgesetzt, die
                        Einstellung der Schweizer zu der gesamten <span class="pagina">120</span> Problematik bleibt so,
                        wie sie sich nun schon seit Jahrzehnten darstellt. Dann wird der nächste Schritt nicht mehr
                        lange auf sich warten lassen, man wird den bisherigen Dialekt auch zu schreiben anfangen. Und
                        wenn meine Analyse stimmt, ist das nur zu begrüßen. Die Annahme des Alemannischen als Hoch-und
                        Schriftsprache wird die Schweizer, wenn sie sich mit dem Hochdeutschen schon nicht befreunden
                        können, von ihrer sprachlichen Schizophrenie heilen, ihr Verhältnis zu sich selbst und damit
                        auch zu ihren Nachbarn entspannen. Vor allem die Beziehung zu Deutschland, gekennzeichnet von
                        ftinfuundert Jahren des Schwankens, der Ablösung, der Wiederannäherung und der erneuten
                        Ablösung, ein höchst komplexes Verhältnis der Haßliebe, worin freilich der Haß in den letzten
                        funfzig Jahren zweifellos bei weitem überwog, wird sich endlich entscheiden. Denn der Haß
                        überwog nicht zuletzt, weil die endgültige, auch sprachliche Trennung offenbar längst als
                        überfällig empfunden wird. Er hat die Funktion, das Eindringen des Hochdeutschen in die
                        gesprochene Sprache, die allmähliche Substitution des Dialekts durch die deutsche Gemeinsprache
                        zu verhindern. Er meint, den Hassenden nicht bewußt, aber völlig zu Recht: Eine Sprache, die man
                        nicht sprechen will, soll man auch nicht schreiben.</p>
                      <p><span class="zeile">27</span> Das Hochdeutsche ist die Nabelschnur, mit der die Schweiz, wie
                        widerwillig auch immer, bis auf den heutigen Tag an Deutschland festgewachsen ist. Die
                        Nabelschnur fault längst, man schneide sie, wenn man sie nicht wiederbeleben kann und will,
                        durch, und man wird sehen, wie frei und unbefangen die Schweizer der Welt und gerade auch
                        Deutschland gegenübertreten werden. Sie werden endlich, jedenfalls darf man es hoffen, mit sich
                        selbst einig sein und so reden, wie sie schreiben, so schreiben, wie sie reden.</p>
                      <p><span class="zeile">28</span> Für den Anwalt einer weiteren, sei es auch noch so
                        schattenhaften, <span class="pagina">121</span> Präsenz der deutschen Hochsprache in der Sch
                        weiz bliebe als Argument allenfalls der Hinweis auf den praktischen Vorteil, den die Anlehnung
                        an eine allen Bevölkerungsklassen verständliche Groß-und Weltsprache zweifellos hat. Dagegen ist
                        zu sagen, daß heute alle kontinentaleuropäischen Sprachen ihre Weltgeltung weithin verloren
                        haben. Die Rolle als Weltverkehrssprache ist, für den historischen Augenblick wenigstens, dem
                        Englischen zugefallen. Diese Sprache zu erlernen, kann keiner umhin, der sich am kulturellen,
                        wirtschaftlichen und politischen Leben der Gegenwart direkt und aktiv beteiligen will. Daß aber,
                        anderseits, eine solche universale Verkehrssprache, so nützlich sie ist, eine nationale Sprache,
                        worin sich das ganze Leben eines Landes so umfassend und authentisch wie möglich artikulieren
                        sollte, nicht ohne weiteres ersetzen kann, versteht sich wohl von selbst.</p>
                      <p><span class="zeile">29</span> Es ergäbe sich dann freilich noch die schwierige Entscheidung
                        darüber, wie diese Hoch-und Schriftsprache, welche die zahllosen schweizerischen Lokalidiome
                        überwölben müßte, am Ende aussehen soll. Wird man einen Dialekt, z.B. den Stadt-Zürcher oder
                        Aargauer, zur Schriftsprache machen? Oder ist es nicht realistischer, und angesichts des
                        Schul-und Kulturfoderalismus relativ leicht, in jedem Kanton die führende Mundart, z.B. die der
                        Hauptstadt, für verbindlich zu erklären? Die Sprachvielfalt, die zuerst einmal entstünde, ließe
                        sich, denke ich, für eine Übergangsperiode in Kauf nehmen. Mit der Zeit würde sich die Zahl
                        dieser ja objektiv nur sehr wenig voneinander verschiedenen Schriftsprachen immer mehr
                        verringern, diejenigen der wichtigsten Zentren würden sich allmählich durchsetzen. Schließlich
                        blieben vielleicht noch Zürichdeutsch, Baseldeutsch und Berndeutsch übrig, die anderen könnten
                        sich als lokale Varianten im mündlichen Gebrauch noch für eine,je nach den besonderen Umständen,
                        kürzere oder längere Frist halten. Sei <span class="pagina">122</span> dem aber wie immer, der
                        weitere Verlauf, wenn nur einmal die grundsätzliche Entscheidung für eine »schweizerdeutsche«
                        Hoch-und Schriftsprache gefallen ist, läßt sich im Einzelnen nicht voraussehen und ist auch
                        nicht so wichtig.</p>
                      <p><span class="zeile">30</span> Wichtig ist nur: der Anachronismus der schroffen Trennung von
                        geschriebener und gesprochener Sprache ist endlich überwunden; der Schweizer kann und darf, wie
                        alle anderen Europäer heute das wenigstens grundsätzlich können und dürfen, so sprechen, wie er
                        schreibt, so schreiben, wie er spricht.</p>
                      <p><span class="zeile">31</span> Man mag die hier skizzierte Entwicklung beklagen, den hier
                        formulierten Vorschlag ablehnen. Wer, wie ich selbst, die Balance des 19. Jahrhunderts von
                        Kultur-und Staatsnation noch erlebt hat, in der doppelten Loyalität zur einen und zur anderen
                        aufwuchs, wird es wohl als unzumutbar, ja geradezu absurd empfinden, eine Wahl zwischen den
                        beiden zu treffen. Aber wenn mich nicht alles täuscht, hat die weitaus überwiegende Zahl der
                        Deutschschweizer, wodurch auch immer veranlaßt, diese Wahl getroffen. Die Balance existiert
                        nicht mehr. Der heutige Schweizer erlebt sein Land als einen geschlossenen, von seiner nächsten
                        Umgebung durch eine zwar unsichtbare, aber desto schärfere Linie abgetrennten Raum. Stuttgart
                        liegt ihm ferner als New York. Aber erst wenn er die Sprache, die er nun einmal für die einzige
                        ihm wirklich zugehörige hält, auch bewußt und voll akzeptiert, ist er wirklich bei sich
                        angekommen, dort, wohin er über die Stationen von 1499 und 1648 offenbar gelangen wollte. Erst
                        mit einer Schweizer Sprache ist er im Rahmen seines heutigen Selbstverständnisses, so wenigstens
                        fürchte ich, wirklich »frei und unabhängig« im Sinn der historischen Formel, frei auch von
                        Ressentiments und Komplexen im Umgang mit der Vergangenheit seines Landes. Und das wäre immerhin
                        ein Gewinn.</p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
