<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId5793"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style='float:right'></div>
                <div class="itemHeader">
                  <h2 class="itemTitle">{{title}}</h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText">
                    <h3><strong>Kuno Raeber Lyrik. Historisch-kritische Online-Edition<br/></strong></h3>
                    <h4><span style="background-color: #c0c0c0;">Übersicht</span></h4>
                    <p>
                      Die Textdaten sind (entsprechend ihrem Medium und der archivalischen Ordnung) durchgehend <br/>in
                      4 <strong>Textzeugentypen</strong> gegliedert:
                    </p>
                    <p>
                      Notizbucheintragungen / Manuskripte / Typoskripte / Drucke (vgl. unten, zum <em>Hauptmenü</em>)
                    </p>
                    <p>
                      Diese Textzeugentypen sind ihrerseits in zeitlich bestimmte <strong>Konvolute</strong> (vorwiegend
                      Jahresperioden) <br/>unterteilt, z.B. Notizbuch 1979, Manuskript-Konvolut 1979 (vgl. unten, zu
                      <em>Basisseite</em>)
                    </p>
                    <p>
                      Ein Gedicht durchläuft i.d.R. mehrere oder alle Textzeugen-Typen. Jede separate Textniederschrift
                      <br/>wird als "<strong>Fassung</strong>" bezeichnet. Die Fassungen bilden die kleinsten
                      Texteinheiten der Edition <br/>(vgl. unten, zu <em>Textseite</em>).<br/>Die Zusammenschau der
                      Fassungen eines Gedichtes wird durch die <em>synoptische Darstellung</em> <br/>ermöglicht (vgl.
                      dort).
                    </p>
                    <h4>Beispiel</h4>
                    <ul>
                      <li>Hauptmenü (oben, horizontal): <br/>→ Unter <span
                        style="text-decoration: underline;"><em>Druck</em></span> (vierter Menüpunkt) das Bändchen <span
                        style="text-decoration: underline;"><em>Reduktionen (1981)</em></span> anklicken.
                      </li>
                      <li>Basisseite <em>Reduktionen 1981</em> (allgemeine Infos zum Gedichtband):<br/>→ Im
                        alphabetischen Register rechts (<em>Reduktionen (alph.)</em>) scrollen zum Titel <br/><span
                          style="text-decoration: underline;"><em>Lider gesenkt</em></span>, anklicken.
                      </li>
                      <li>Textseite <em>Lider gesenkt</em> (edierter Text und Zusatzinformationen):<br/>→ Unter <em>Weitere
                        Fassungen</em> (zuunterst) die Notizbuchfassung <span style="text-decoration: underline;"><em>Baum</em></span>
                        anklicken
                      </li>
                      <li>Textseite <em>Baum</em> (Notizbuch 1979):<br/>→ Im Popupfeld rechts oben [Text] <span
                        style="text-decoration: underline;"><em>Text + Dipl.</em></span> anwählen <br/>(Unter dem Text
                        werden nun das Handschriften-Bild und die Umschrift eingeblendet).<br/>→ Die Option [<span
                          style="color: #3366ff;">2]</span> über der Umschrift anklicken <br/>(Die Einfügungen in und
                        neben den Zeilen werden blau eingeblendet).<br/>→ Auf das Vergrößerungssymbol über dem ersten
                        Bild klicken. <br/>(Das Register wird bei der Vergrößerung ausgeblendet, beim Verkleinern wieder
                        <br/>eingeblendet).<br/>→ Oben rechts an der Seite auf <em>Synopse</em> klicken.
                      </li>
                      <li>&nbsp;Synopse zu <em>Lider gesenkt</em>:<br/>Alle 8 Gedichtfassungen werden in chronologischer
                        Reihenfolge angezeigt. <br/>→ Auf Option [<em>3 Spalten</em>] (oben rechts) klicken.
                        (Dreispalten-Ansicht)<br/>→ Auf Option [<em>Erst + Letzt</em>] (oben rechts) klicken. <br/>(Erste
                        letzte Fassung werden angezeigt)<br/>→ Auf den blauen Titel Baum klicken (Rückkehr zur Textseite
                        der Notizbuchfassung)
                      </li>
                    </ul>
                    <p>&nbsp;</p>
                    <h4><span style="background-color: #c0c0c0;"><strong>Startseite</strong></span></h4>
                    <p>Über das <span class="emphase">Hauptmenü</span> oben lassen sich alle Bereiche der Edition
                      erschließen:</p>
                    <ul>
                      <li><em>Notizbuch</em>: Auflistung der für die Gedichte relevanten Notizbücher</li>
                      <li><em>Manuskript</em>: Auflistung der archivalischen Manuskript-Konvolute (oft
                        Jahresperioden).<br/>Diese Konvolute enthalten ihrerseit Dossiers mit losen A4-Blättern
                      </li>
                      <li><em>Typoskript</em>: Auflistung der Typoskript-Konvolute (meist Jahresperioden)</li>
                      <li><em>Druck</em>: Selbständige Gedichtpublikationen und Verstreut publizierte Gedichte&nbsp;
                      </li>
                      <li><em> Material</em>: Weitere Materialien (Tagebuch-Eintragungen), pdf-Dateien mit den <br/>edierten
                        Texten der Notizbücher, Übersicht über die Werkausgabe usw.
                      </li>
                      <li><em>Infos</em>: Lebens- und Werkdaten, Archivsignaturen usw.</li>
                      <li><em>Suche</em>: Differenzierte Suche über den ganzen Textbestand (edierte Texte);<br/>Titelregister
                        der publizierten und unpublizierte Gedichte
                      </li>
                    </ul>
                    <p>Das Hauptmenü ist auf allen Seiten verfügbar.</p>
                    <p>Die selbständigen <em>Drucke</em> können auch durch Anklicken der Umschlagbilder aufgerufen
                      werden.</p>
                    <p>(Das Anmeldeformular unten dient internen Zwecken)</p>
                    <p>[<strong>Die Testversion beschränkt sich auf die Textzeugen aus dem Zeitraum 1979-1988</strong>]
                    </p>
                    <h4><br/><span class="emphase" style="background-color: #c0c0c0;">Basisseite</span></h4>
                    <p>Die Basisseiten bilden den Einstieg in ein Notizbuch, ein Manuskript- oder Typoskriptkonvolut
                      <br/>(z. B. <em>Notizbuch 1979, Manuskripte 1979-1983</em>).</p>
                    <p>Gliederung in vier Bereiche:</p>
                    <ul>
                      <li>Hauptmenü (oben)</li>
                      <li><strong>Steckbrief </strong>des Notizbuchs, der Gedichtsammlung, des Konvoluts (Periode)<br/>(Bei
                        Notizbüchern Link zu einer Gesamt-Reproduktion als pdf-Datei)
                      </li>
                      <li><strong>Kurzanzeige</strong> der ersten Texte: Datierung, Titel, Fassung (A, B …), Textanfang
                        <br/>(das Kästchen lässt sich durch vertikales Ziehen an der untern rechten Ecke erweitern),
                        <br/>Link zur <em>Synopse</em> (Simultananzeige aller Gedichtfassungen)
                      </li>
                      <li><span class="emphase">Registerspalte</span> am rechten Rand:<br/>- Alphabetisches
                        Titelregister <br/>- Abfolge-Register (nach Textabfolge, ausnahmsweise nach Datum,
                        geordnet)<br/>- <strong>Suchen</strong>: Einfache Volltextsuche im aktuellen Konvolut
                      </li>
                    </ul>
                    <p>Die Registerspalte (wichtigste Navigationsmöglichkeit innerhalb der Konvolute) <br/>ist auf jeder
                      Seite (außer Startseite) verfügbar.</p>
                    <p>&nbsp;</p>
                    <h4 class="emphase"><span style="background-color: #c0c0c0;">Textseite</span></h4>
                    <p>Die Textseite enthält den edierten Text einer Gedichtfassung und wichtige Kurzinformationen.</p>
                    <h5><strong>Textdarstellung</strong>:</h5>
                    <p>Schriftdifferenzierungen:</p>
                    <ul>
                      <li>
                        <section class="edtext_druck">Druckfassung</section>
                      </li>
                      <li>
                        <section class="edtext_hs">Handschrift</section>
                      </li>
                      <li>
                        <section class="edtext_typo">Typoskript</section>
                      </li>
                    </ul>
                    <p>Diakritische Zeichen:</p>
                    <p>// = Seitenwechsel (mit Seitenangabe: // <span class="pagina">005</span>)<br/>||&nbsp; =
                      Spaltenwechsel innerhalb Seite<br/>[…] = Textabbruch</p>
                    <p>xx = unlesbare Zeichenfolge<br/>¿&nbsp;&nbsp; = unsichere Entzifferung des davorstehenden
                      Wortes<br/><em>kursiv</em> = Hervorhebung durch den Autor<br/><span
                        class="herausgeber">Anmerkung</span> = Anmerkung durch Hrsg.</p>
                    <p>Lange Verszeilen werden gebrochen <br/>(mit Einrückung der Fortsetzungszeile)</p>
                    <p>Titel:</p>
                    <p>…* (hinter dem Titel) = Titel (Anfangszeile) durch Hrsg.<br/>* = Stufenbezeichnung durch
                      Herausgeber (z.B. A*)</p>
                    <h5><br/><span class="emphase">Kurzinformationen</span>:</h5>
                    <ul>
                      <li><em>Details</em><br/>Anmerkungen zu einzelnen Textstellen, z.B. Variante oder Emendation</li>
                      <li><em>Besonderes </em><br/>Erläuterung zum Textzeugen</li>
                      <li><em>Druck<br/></em>Endstufe (<em>Gedichtsammlung</em>, <em>Verstreutes</em> oder <em>unpubliziert</em>)
                      </li>
                      <li><em>Seite / Blatt</em> <br/>(Notizbuchseite bzw. Blatt innerhalb eines archivalischen
                        Dossiers)
                      </li>
                      <li><em>Signatur</em><br/>Archiv-Standort (ohne den allgemeinen Vorspann <em>SLA-Raeber-</em>),
                        <br/>z.B. <span class="itemExtraFieldsValue">A-5-b/02_001</span> (<span
                          class="itemExtraFieldsValue">A-5-b/02</span> = Konvolut; _001 = Dossier 1 im Konvolut)
                      </li>
                      <li><em>Textart</em><br/>Mundartgedicht, gereimte Verse, Rhythmische Prosa usw.</li>
                      <li><em>Strophen</em><br/>"ja", wenn der Text untergliedert ist</li>
                      <li><em>Mehrteilig</em><br/>"ja", wenn der Text Teil eines Zyklus ist</li>
                      <li><em>Stufe</em><br/>Zur Bezeichnung des letzten Textzeugen eines Gedichts ("Endfassung")</li>
                      <li><em>Bezugstext</em><br/>Bezugnahme (mit Link) auf einen anderen Text (ähnlichen Inhalts o.ä.)
                      </li>
                      <li><em>Zeitschrift</em><br/>Quellenangabe bei verstreut gedruckten Texten</li>
                      <li>Nachdruck<br/>Nachdrucke bereits veröffentlichter Texte (ohne editorische Relevanz)</li>
                      <li><em>Identisch mit</em><br/>(bei hellgrauem Text):Textgleichheit der aktuellen Fassung mit
                        einer anderen<br/>(v. a. bei Typoskripten, die mit den nachfolgenden Drucken textgleich sind)
                      </li>
                      <li><em>Weitere Fassungen</em><br/>Links zu allen weiteren Textzeugen (Fassungen) des aktuellen
                        Gedichts
                      </li>
                      <li><em>Synopse</em><br/>Link zur synoptischen Darstellung aller Fassungen des aktuellen Gedichts
                      </li>
                    </ul>
                    <p>Der edierte Text kann innerhalb des Anzeigerahmens gescrollt werden. <br/>Der Rahmen lässt sich
                      durch Ziehen an der rechten unteren Ecke vergrößern / verkleinern <br/>oder durch die Option [-/+
                      Kasten] ganz beseitigen.</p>
                    <p>Die <span class="emphase">Schalterleiste </span>oben (unterm Hauptmenü) dient einigen nützlichen
                      Funktionen:</p>
                    <ul>
                      <li>Pfadangabe (links): ermöglicht das Aufrufen der übergeordneten Basisseite</li>
                      <li>-/+ <em>Register</em>: Ausschalten der Registerspalte (nützlich bei diplomatischer Wiedergabe)
                      </li>
                      <li><em>Reset</em>: Neuladen der Seite (Zurücksetzen aller Manipulationen)</li>
                      <li>-/+ <em>Rahmen</em>: Textrahmen entfernen (Text in voller Länge sichtbar)</li>
                      <li>Anzeige des vorhergehenden / nächsten edierten Textes:
                        <button type="button" class="vor_rueck icon-backward" style="float: none;"></button>
                        /
                        <button type="button" class="vor_rueck icon-forward" style="float: none;"></button>
                      </li>
                      <li>Anzeige des vorhergehenden / nächsten Textes + diplomat. Darstellung:
                        <button type="button" class="vor_rueck icon-arrow-right-3" style="float: none;"><span
                          class="button_text">dipl</span></button>
                        <button type="button" class="vor_rueck icon-arrow-left-3" style="float: none;"><span
                          class="button_text">dipl</span></button>
                      </li>
                      <li>Hilfe-Button<br/><br/>darunter: <br/><br/></li>
                      <li>Link zur <em>Synoptischen Darstellung</em> aller Fassungen</li>
                      <li>Schalter zur Anwahl der <em>Diplomatischen Darstellung<br/></em>(Edierter Text + diplomatische
                        Darstellung / nur diplomatische Darstellung / nur Text)
                      </li>
                    </ul>
                    <p>&nbsp;</p>
                    <h4><span style="background-color: #c0c0c0;"><strong>Diplomatische Darstellung</strong></span></h4>
                    <p>Die Basisdarstellung ist eine optische Wiedergabe ohne genetische Information:</p>
                    <p>Streichungen: <span class="streichung">Streichungen</span><br/>Überschreibungen: <span
                      class="unsicher">A</span><span class="ersetzung">a</span>ber (kleines a ersetzt A)<br/>Unsichere
                      Lesung: unsicher<span style="font-size: 8pt;" class="unsicher">¿<br/></span>Unterpunktung
                      (Wiederherstellung): <span class="punktierung" style="font-weight: normal; color: #6e6e6e;">Streichung + Wiederherstellung</span><br/>Streichung
                      innerhalb einer Streichung: <span class="streichung_doppel streichung"
                                                        style="font-weight: normal; color: #6e6e6e;">Streichung innerhalb Streichung</span><span
                        style="font-size: 8pt;" class="unsicher"><span
                        class="streichung streichung_doppel"></span> </span></p>
                    <p>Einweiszeichen durch Autor: nach oben ↑; nach unten ↓; Zielmarke ↔</p>
                    <p>Zeilenbruch durch Hrsg. (bei überlangen Zeilen): ..... <span class="zitat">Überlange Zeile</span>
                      <br/><span class="weiss">Zeilenbruch durch Hrsg. (bei überlangen Zeilen): Überlange</span> <span
                        class="zitat">| Rest</span><br/><br/>Aufhebung eines Zeilenbruchs bei kurzem Zeilenrest: .....
                      <span class="zitat">Hauptzeile | Zeilenrest</span></p>
                    <p><strong>Genetische Schichten</strong></p>
                    <p>Durch die 4 Optionsschalter können drei genetische Schichten ausgezeichnet werden:</p>
                    <ul>
                      <li>Option 0: Basisdarstellung</li>
                      <li>Option 1: <span style="color: #993300;">Braunfärbung</span> frühester Textpassagen (selten
                        verwendet; interpretierend)
                      </li>
                      <li>Option 2: <span class="einfuegung">Einfügungen</span> über, unter, zwischen den Zeilen <br/>(keine
                        Auszeichnung übergreifenden Zusammenhänge)
                      </li>
                      <li>Option 3: <span style="color: #ff0000;">Rotfärbung</span> der letztgültigen (nichtgetilgten)
                        Textschicht
                      </li>
                    </ul>
                    <p>
                      <strong>Darstellung und Handling:<br/></strong>Paralleldarstellung von Abbildung der
                      Handschriftenseite + diplomatischer Umschrift.<br/>Die Darstellung variiert je nach Größe des
                      Browser-Fensters und der Größe der Abbildung. <br/>Bei Raumproblemen wird die Umschrift unterhalb
                      der Abbildung plaziert.
                    </p>
                    <p>Ändern der<strong> Abbildungs-Größe:</strong></p>
                    <ul>
                      <li>Stufenweises Ändern durch Anklicken der Lupen über dem Bild. <br/>(Beim Vergrößern <span
                        class="icon-zoom-in"></span> wird das Register ausgeblendet, <br/>beim Verkleinern&nbsp;&nbsp;
                        <span class="icon-zoom-out"></span>wieder eingeblendet)
                      </li>
                      <li>Stufenloses Vergrößern/Verkleinern durch Ziehen an der rechten unteren Ecke <br/>(funktioniert
                        nicht beim Internet-Explorer)
                      </li>
                    </ul>
                    <p>Zur Erhöhung der Übersichtlichkeit können die einzelnen Bildseiten mit zugehöriger <br/>Umschrift
                      aus- bzw. eingeblendet werden:(Kreuz-Symbol <span class="icon-delete"></span> über dem Bild).</p>
                    <p>Die <strong>Umschrift</strong> lässt sich durch Ziehen der Maus an beliebiger Stelle verschieben,
                      <br/>z.B. besser positionieren oder neben den edierten Text stellen. <br/>Der Verschiebe-Modus
                      wird durch Anklicken des Buttons rechts neben den <br/>Textschicht-Optionen&nbsp;<span
                        style="background-color: #c0c0c0;">&nbsp;↔</span> aktiviert bzw. ausgeschaltet.</p>
                    <p>(Verschiebungen werden durch den Reset-Schalter (oben) rückgängig gemacht.</p>
                    <p>&nbsp;</p>
                    <h4 class="emphase"><span style="background-color: #c0c0c0;">Synopsen</span></h4>
                    <p>In der Synopse werden alle Fassungen eines Gedichtes gleichzeitig angezeigt. <br/>Zur Otpimierung
                      der Vergleichsmöglichkeiten sind mehrere Optionen verfügbar. <br/>Die meisten dienen der Reduktion
                      der Anzeigen.</p>
                    <p>Buttonleiste oben (mehrere Texte gleichzeitig betreffend):</p>
                    <ul>
                      <li>&nbsp;<em>-/+ Text</em>: Texte aus-/einblenden (nur Titel anzeigen)</li>
                      <li><em>- Format / + Format:</em> alle Textrahmen vergrößern / verkleinern<em><br/></em></li>
                      <li>-/+ Rahmen: alle Textrahmen entfernen (Texte in unterschiedlicher Größe)</li>
                      <li><em>Erst + Letzt</em>: nur ersten und letzten Textzeugen anzeigen</li>
                      <li><em>Typoskr.</em>: Typoskripte aus-/einblenden (ebenso bei Manuskripten und Notizbüchern)</li>
                      <li><em>3 Spalten</em>: 3 Spalten anzeigen</li>
                      <li>[...]: Identische Textfassungen ausblenden</li>
                      <li><em>Reset</em>: Neuladen der Seite</li>
                    </ul>
                    <p>Bei jedem einzelnen Text lässt sich</p>
                    <ul>
                      <li>das ganze Element (Textrahmen) verstecken (<span class="icon-delete"></span>)</li>
                      <li>der Textkörper ausblenden (<span class="icon-menu-2"></span>),</li>
                      <li>der Rahmen durch Ziehen rechts unten vertikal vergrößern / verkleinern).</li>
                    </ul>
                    <p>Durch Kombination der verschiedenen Optionen sind variable Anordnungen möglich.<br/><br/></p>
                    <h4 class="emphase"><span style="background-color: #c0c0c0;">Suchen</span></h4>
                    <p>Zu den Suchkriterien vgl. die Erläuterungen neben dem Eingabeformular.</p>
                    <h5 class="emphase">Fundstellen</h5>
                    <p>Sämtliche Fundstellen werden gleichzeitig aufgelistet, jeder Textzeuge kann in einem separaten
                      <br/>Rahmen vergrößert/verkleinert oder ausgeschaltet werden kann (analog der Synopse). <br/>Die
                      Textzeugen lassen sich einschränken:</p>
                    <ul>
                      <li>zeitlich: durch Ausschalten von Jahrzehnten</li>
                      <li>durch Ausschalten von Textzeugentypen (Notizbücher / Handschriften / Typoskripte)</li>
                    </ul>
                  </div>
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

