<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div id="rt-content-top">
          <div class="rt-grid-12 rt-alpha rt-omega">
            <div class="rt-block ">
              <div class="module-surround">
                <div class="module-content">
                  <!-- FIXME: Braucht es folgenden Navigationsblock? -->
                  <!-- <ul itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li>
                      Aktuelle Seite: &nbsp;
                    </li>

                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                    <span itemprop="name">
                        Material                    </span>

                      <span class="divider">
                        <img src="/lyrik/media/system/images/arrow.png" alt="">                    </span>
                      <meta itemprop="position" content="1">
                    </li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                                    <span itemprop="name">
                        pdf-Dateien                    </span>

                      <meta itemprop="position" content="2">
                    </li>
                  </ul>-->
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <!-- FIXME: Braucht es folgenden JavaScript-Block? -->
              <!-- Zusatz wm -->

              <!-- Item navigation I, wm -->
              <!-- FIXME: Wird diese Navigationsleiste benötigt? -->
              <!--              <div id="nav_buttons">
                              <button type="button" class="icon-help" title="Hilfe" onclick="Hilfe()"> </button>                    <a href="/lyrik/index.php/material/pdf-dateien/notizbuecher/item/6224-pdf">
                              <button type="button" class="vor_rueck icon-forward" title="nächster Text"></button>            </a>
                              <a href="/lyrik/index.php/material/pdf-dateien/notizbuecher/item/6224-pdf?showall=1">
                                <button type="button" class="icon-arrow-right-3 vor_rueck" title="nächster Text + Bild/Umschrift"><span class="button_text">dipl</span></button>            </a>
                              <button type="button" id="Button_Reset" title="neu laden" onclick="Neuladen()">Reset</button>            <button type="button" id="Button_Scroll" title="Texte separat scrollen aus-/einschalten">- /+ Rahmen</button>
                              <button id="Button_Register" type="button" class="vor_rueck" title="Registerspalte aus-/einschalten">- /+ Register</button>    </div>-->
              <span id="startOfPageId5784"></span>
              <div id="k2Container" class="itemView">

                <!-- Plugins: BeforeDisplay -->
                <!-- K2 Plugins: K2BeforeDisplay -->

                <!-- einfügung Synopse wm (vgl. unten) -->
                <div class="itemTagsBlock" style='float:right'></div>
                <div class="itemHeader">
                  <!-- Item title -->
                  <h2 class="itemTitle">{{title}}</h2>
                </div>

                <!-- Plugins: AfterDisplayTitle -->
                <!-- K2 Plugins: K2AfterDisplayTitle -->


                <div class="itemBody">

                  <!-- Plugins: BeforeDisplayContent -->
                  <!-- K2 Plugins: K2BeforeDisplayContent -->

                  <!-- Item text -->
                  <div class="itemFullText">
                    <p class="markierung">Verantwortlich:</p>
                    <p>Walter Morgenthaler<br/>Postfach 402<br/>CH-4005 Basel</p>
                    <p><span id="cloak97580">Diese E-Mail-Adresse ist vor Spambots geschützt! Zur Anzeige muss JavaScript eingeschaltet sein!</span>
                      <script type='text/javascript'>
                        //<!--
                        document.getElementById('cloak97580').innerHTML = '';
                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                        var path = 'hr' + 'ef' + '=';
                        var addy97580 = '&#105;nf&#111;' + '&#64;';
                        addy97580 = addy97580 + 'wm&#111;rg&#101;nth&#97;l&#101;r' + '&#46;' + 'ch';
                        var addy_text97580 = '&#105;nf&#111;' + '&#64;' + 'wm&#111;rg&#101;nth&#97;l&#101;r' + '&#46;' + 'ch';
                        document.getElementById('cloak97580').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy97580 + '\'>' + addy_text97580 + '<\/a>';
                        //-->
                      </script>
                      <br/>
                      <a href="http://www.wmorgenthaler.ch">www.wmorgenthaler.ch</a>
                    </p>
                    <p class="markierung">Mitherausgeber:</p>
                    <p>Thomas Binder<br/>
                      <span id="cloak1713">Diese E-Mail-Adresse ist vor Spambots geschützt! Zur Anzeige muss JavaScript eingeschaltet sein!</span>
                      <script type='text/javascript'>
                        //<!--
                        document.getElementById('cloak1713').innerHTML = '';
                        var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                        var path = 'hr' + 'ef' + '=';
                        var addy1713 = 'th&#111;m&#97;s_b&#105;nd&#101;r' + '&#64;';
                        addy1713 = addy1713 + 'h&#105;sp&#101;&#101;d' + '&#46;' + 'ch';
                        var addy_text1713 = 'th&#111;m&#97;s_b&#105;nd&#101;r' + '&#64;' + 'h&#105;sp&#101;&#101;d' + '&#46;' + 'ch';
                        document.getElementById('cloak1713').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy1713 + '\'>' + addy_text1713 + '<\/a>';
                        //-->
                      </script>
                    </p>
                    <p><span class="markierung">Nachlassbetreuung und Reproduktionen:</span></p>
                    <p>Schweizerisches Literaturarchiv, Bern</p>
                    <p><span class="markierung">Rechteinhaber</span>:</p>
                    <p>Private Nachlasserben</p>
                    <p><span class="markierung">Längerfristige Datensicherung und Programmpflege</span>:</p>
                    <p><a href="http://www.NIE-INE.ch" target="_blank">NIE-INE</a> <br/>(Nationale Infrastruktur für
                      Editionen <br/>&nbsp;- Infrastructure nationale pour les éditions)</p>
                    <p class="markierung">Das Projekt wird unterstützt durch:</p>
                    <p class="grau"><span style="font-size: 14pt;">Christoph Geiser Stiftung</span></p>
                    <p><img alt="LandisGyrStiftung Logo" src="/assets/jpg/LandisGyrStiftung_Logo.jpg" width="200"
                            height="13"/></p>
                  </div>
                  <!-- nächste Zeilen neu wm -->
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

