<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId5784"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style='float:right'></div>
                <div class="itemHeader">
                  <h2 class="itemTitle">{{ title }}</h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText" style="margin-left:10px;">
                    <p class="markierung" style="margin-left:-10px; margin-top:10px;">Verantwortlich:</p>
                    <p>Walter Morgenthaler<br/>Postfach 402<br/>CH-4005 Basel</p>
                    <a
                      href="mailto:&#105;&#110;&#102;&#111;&#064;&#119;&#109;&#111;&#114;&#103;&#101;&#110;&#116;&#104;&#097;&#108;&#101;&#114;&#046;&#099;&#104;">&#105;&#110;&#102;&#111;&#064;&#119;&#109;&#111;&#114;&#103;&#101;&#110;&#116;&#104;&#097;&#108;&#101;&#114;&#046;&#099;&#104;</a>
                    <br/>
                    <a href="http://www.wmorgenthaler.ch">www.wmorgenthaler.ch</a>
                    <p class="markierung" style="margin-left:-10px; margin-top:10px;">Mitherausgeber:</p>
                    <p>Thomas Binder</p>
                    <a
                      href="mailto:&#116;&#104;&#111;&#109;&#097;&#115;&#095;&#098;&#105;&#110;&#100;&#101;&#114;&#064;&#104;&#105;&#115;&#112;&#101;&#101;&#100;&#046;&#099;&#104;">&#116;&#104;&#111;&#109;&#097;&#115;&#095;&#098;&#105;&#110;&#100;&#101;&#114;&#064;&#104;&#105;&#115;&#112;&#101;&#101;&#100;&#046;&#099;&#104;</a>
                    <br/><br/>
                    <p><span class="markierung" style="margin-left:-10px; margin-top:10px;">Nachlassbetreuung und Reproduktionen:</span>
                    </p>
                    <p>Schweizerisches Literaturarchiv, Bern</p>
                    <p><span class="markierung" style="margin-left:-10px; margin-top:10px;">Rechteinhaber</span>:</p>
                    <p>Private Nachlasserben</p>
                    <p><span class="markierung" style="margin-left:-10px; margin-top:10px;">Technische Umsetzung</span>:<br/>
                      <a href="http://www.NIE-INE.ch" target="_blank">NIE-INE</a><br/>(Nationale
                      Infrastruktur für
                      Editionen&nbsp;- Infrastructure nationale pour les éditions)<br/>
                      Aktuelle Version der Seite: <a href={{releaseurl}} target="_blank">{{releaseversion}}</a>
                      (<a href="https://github.com/nie-ine/raeber-website/issues">Issue Tracking</a>)<br/>
                      <a href="mailto:sebastian.schuepbach@unibas.ch">Melden</a> von nicht-inhaltlichen Fehlern
                    </p>
                    <p><span class="markierung" style="margin-left:-10px; margin-top:10px;">Langfristige
                      Datensicherung</span>:<br/><a href="http://dasch.swiss">DaSCH</a><br/>(Data & Service
                      Center for the Humanities)</p>
                    <p class="markierung" style="margin-left:-10px; margin-top:10px;">Das Projekt wird unterstützt
                      durch:</p>
                    <p class="grau"><span style="font-size: 14pt;">Christoph Geiser Stiftung</span></p>
                    <p><img alt="LandisGyrStiftung Logo" src="../../assets/jpg/LandisGyrStiftung_Logo.jpg" width="200"
                            height="13"/></p>
                  </div>
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

