<p>Diese Seite nutzt die Nationale Infrastruktur für Editionen (NIE-INE),
  um die Historisch-kritische Online-Edition der Lyrik Kuno Raebers
  langfristig zu sichern und verfügbar zu halten. Sie wird mittelfristig
  alle Inhalte der Historisch-kritischen Online-Edition der Lyrik Kuno
  Raebers zugänglich machen. Gegenwärtig wird hier der Forschungsstand vom
  Oktober 2017 präsentiert. Bis zum endgültigen Abschluss der editorischen
  Arbeiten finden Sie den aktuellen Stand der Edition unter kunoraeber.ch.
</p>
<hr/>
<p>
  Il presente sito web utilizza l'Infrastruttura nazionale per le edizioni
  (NIE-INE) per mettere a disposizione del pubblico e per assicurare la
  sostenibilità a lungo termine dell'edizione storico-critica digitale
  della lirica di Kuno Raeber. A medio termine, tutti i contenuti di
  questa edizione saranno resi accessibili sul sito. Al momento,
  quest'ultimo presenta lo stato della ricerca fino al mese di ottobre
  2017. Fino al compimento del lavoro editoriale, lo stato più recente
  dell'edizione può essere consultato all'indirizzo kunoraeber.ch.
</p>
<hr/>
<p>
  Ce site web utilise l'Infrastructure Nationale pour les Editions
  (NIE-INE) afin de mettre à disposition du public l'édition
  historico-critique numérique de la poésie de Kuno Raeber ainsi
  que d'assurer la soutenabilité de ce type d'édition à long terme. À
  moyen terme, tous les contenus de cette édition seront mis à disposition
  sur le site, qui présente actuellement l'état de la recherche jusqu'au
  mois d'octobre 2017. D'ici à l'achèvement du travail éditorial, l'état
  le plus récent peut être consulté à l'adresse kunoraeber.ch.
</p>
<button md-raised-button [mat-dialog-close]="true">OK</button>
