<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId2697"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style="float:right">
                </div>
                <div class="itemHeader">
                  <h2 class="itemTitle" style="padding-left: 30px;">
                    {{ title }}
                  </h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText">
                    <table>
                      <tbody>
                      <tr>
                        <td style="vertical-align: top;">1922 &nbsp;</td>
                        <td>geboren in Klingnau (AG)</td>
                        <td>&nbsp;</td>
                        <td>(Familienname (Zehnder)</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">ab 1926</td>
                        <td>Kindheit in Luzern</td>
                        <td>&nbsp;</td>
                        <td>großväterlicher Betrieb des Verlags Räber</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1935</td>
                        <td>Kantonsschule Luzern</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1943</td>
                        <td>Studium in Basel (Geschichte, Philosophie)</td>
                        <td>&nbsp;</td>
                        <td>Einfluss von Hans Urs von Balthasar</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1945</td>
                        <td>Noviziat in Balzers (LI)</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1946</td>
                        <td>Viermonatiger Aufenthalt in Paris</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">&nbsp;</td>
                        <td>Studium Geschichte und Philosophie in Basel</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1950</td>
                        <td>Promotion bei Werner Kaegi über Sebastian Franck</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">&nbsp;</td>
                        <td>Heirat mit Mareile Georgi</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1951</td>
                        <td>Leitung der Schweizer Schule in Rom</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1952-1955</td>
                        <td>Assistent für Geschichte am Leibniz Kolleg, Universität Tübingen</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1955-1957</td>
                        <td>Tutor am Europa-Kolleg, Hamburg</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">ab 1958</td>
                        <td>Als freier Schriftsteller in München</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1959</td>
                        <td>Scheidung</td>
                        <td>&nbsp;</td>
                        <td>Bekenntnis zur Homosexualität</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1963</td>
                        <td>sechsmonatiger Aufenthalt in Griechenland</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1967</td>
                        <td>Poet in residence am Oberlin College, Ohio</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1969</td>
                        <td>Ehrengabe der Bayerischen Aademie der Schönen Künste</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1973</td>
                        <td>Tukan-Preis der Landeshauptstadt München</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1977</td>
                        <td>Stipendiat des Istituto Svizzero in Rom</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1988</td>
                        <td>Werkpreis der Luzerner Literaturförderung</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">&nbsp;</td>
                        <td>Reise nach Ägypten</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1989</td>
                        <td>Preis der Schweizerischen Schillerstiftung</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1991</td>
                        <td>Kunstpreis der Stadt Luzern</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1990-1992</td>
                        <td>Pflegeheim für Aids-Kranke in Basel</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1992</td>
                        <td>gestorben in Basel</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                    <p><br>Detaillierte biographische Informationen, Tagebuchauszüge und Briefstellen finden sich in
                      <br>Bd. 7 der <a [routerLink]="['/werkausgabe']">Werkausgabe</a> von Christiane
                      Wyrwa und Matthias Klein.</p></div>
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

