<div class="rt-container">

  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId6228"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style="float:right">
                </div>
                <div class="itemHeader">
                  <span class="itemDateCreated">{{ creationDate }}</span>
                  <h2 class="itemTitle" style="padding-left: 30px;">
                    {{ title }}
                  </h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText">
                    <p>Eine Sammlung von Textkonvoluten, zum Download als pdf-Dateien bereitgestellt in zwei
                      Formaten:</p>
                    <ul>
                      <li>Einzelblatt-Version: je zwei Seiten auf einem A4-Blatt quer</li>
                      <li>Broschüren-Version: Die Seiten sind so auf den Blättern angeordnet, dass sich die ineinander
                        gelegten Blätter bei doppelseitigem Druck als Broschüre falten und heften lassen.<br>Dies setzt
                        entsprechende Druckereinstellungen voraus: doppelseitiger Druck, Querformat, "an langer Kante
                        spiegeln"
                      </li>
                    </ul>
                    <p>&nbsp;</p>
                    <table style="width: 567px; height: 74px;" border="1">
                      <caption>Notizbücher (edierte Texte)</caption>
                      <tbody>
                      <tr>
                        <td style="width: 150px;">Notizbuch 1979 (I)</td>
                        <td style="width: 80px;">S, 1-78</td>
                        <td>Einzelgedichte</td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1979_1_Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1979_1.pdf">Broschüre</a></td>
                      </tr>
                      <tr>
                        <td style="width: 150px;">Notizbuch 1979 (II)</td>
                        <td style="width: 80px;">S. 79-142</td>
                        <td>Einzelgedichte</td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1979-2_Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1979-2.pdf">Broschüre</a></td>
                      </tr>
                      <tr>
                        <td style="width: 150px;">Notizbuch 1979-82</td>
                        <td style="width: 80px;">Alle Texte</td>
                        <td>Mundart-Gedichte&nbsp;</td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_79-82_Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_79-82.pdf">Broschüre</a></td>
                      </tr>
                      <tr>
                        <td>Notizbuch 1980-88 (I)</td>
                        <td style="width: 100px;">S. 1-75</td>
                        <td>Zyklen + Einzelgedichte</td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1980-88_1_Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1980-88_1.pdf">Broschüre</a></td>
                      </tr>
                      <tr>
                        <td>Notizbuch 1980-88 (II)</td>
                        <td style="width: 120px;">S. 76-152</td>
                        <td>Zyklen + Einzelgedichte</td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1980-88_2_Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1980-88_2.pdf">Broschüre</a></td>
                      </tr>
                      <tr>
                        <td>Notizbuch 1980-88 (III)</td>
                        <td style="width: 120px;">S. 153-213</td>
                        <td>Zyklen + Einzelgedichte</td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1980-88_3_Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/notizbuecher/Notizbuch_1980-88_3.pdf">Broschüre</a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- nächste Zeilen neu wm -->
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="itemLinks">
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="itemToolbar">
                  <ul>
                    <span style="font-size:0.8em;">Änderung:             Sonntag, 21 Mai 2017            </span>
                  </ul>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

