<div class="rt-container">

  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div id="rt-content-top">
          <div class="rt-grid-12 rt-alpha rt-omega">
            <div class="rt-block ">
              <div class="module-surround">
                <div class="module-content">
                  <!--
                                        <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                                          <li>
                                            Aktuelle Seite: &#160;
                                          </li>

                                          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                                      <span itemprop="name">
                                          Material					</span>

                                            <span class="divider">
                                          <img src="/lyrik/media/system/images/arrow.png" alt="" />					</span>
                                            <meta itemprop="position" content="1">
                                          </li>
                                          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                                                      <span itemprop="name">
                                          pdf-Dateien					</span>

                                            <meta itemprop="position" content="2">
                                          </li>
                                        </ul>
                                        -->
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <!-- Zusatz wm -->
              <!--           <script src="/lyrik/media/eorisis-jquery/ui/1.11.4/jquery-ui.min.js"></script>
                         <script type="text/javascript">

                           function Neuladen() {
                             location.reload();
                           }

                           function Hilfe() {
                             hilfefenster=window.open("/lyrik/infos/hilfe/Hilfe-Textseite.htm","Hilfe","scrollbars=yes,width=600,height=400,resizable=yes,location=no,menubar=no,status=no,toolbar=no,left=0,top=0");
                             hilfefenster.window.focus();
                           }

                           function Erste_Hilfe() {
                             hilfefenster=window.open("infos/hilfe/Hilfe-Kurz.htm","Hilfe","scrollbars=yes,width=600,height=400,resizable=yes,location=no,menubar=no,status=no,toolbar=no,left=0,top=0");
                             hilfefenster.window.focus();
                           }

                           jQuery(document).ready(function(){
                             if (window.name != "printWindow") {

                               jQuery(".spezial").hide();

                               jQuery(".itemTitle").css("padding-left","30px");
                               jQuery(".edtext").addClass("scrollen").css("padding-left","25px");
                               jQuery("#mjsp-menu-select").remove().clone().appendTo(".itemTitle").css({"float":"right","margin-left":"5px"});
                               jQuery("#mjsp-menu-select select").css({"width":"100px"});
                               jQuery("#Button_Scroll").click(

                                 function() {
                                   jQuery(".edtext").toggleClass("scrollen","false");
                                 });

                               jQuery(".schicht-0_button").attr("title","Anfangszustand ohne Auszeichnung");
                               jQuery(".schicht-1_button").attr("title","Grundschicht (kleiner Verbund), nur ausnahmsweise ausgezeichnet");
                               jQuery(".schicht-2_button").attr("title","Texteinfügung entgegen dem linearen Verlauf der Niederschrift");
                               jQuery(".schicht-3_button").attr("title","Endschicht (Basis für edierten Text)");
                               jQuery(".move_button").attr("title","Umschrift verschiebbar machen");
                               jQuery(".transkription").find("*").css({"font-weight":"normal","color":"#6e6e6e"});
                               jQuery(".zeile").css("color","red");
                               jQuery(".markierung").css("color","#d00501;");
                               jQuery(".herausgeber").css("color","#d00501;");
                               jQuery(".ersetzung").css("font-weight","bold");
                               jQuery(".streichung_typo").css("color","darkgray");
                               jQuery(".streichung_typo").find("*").css("color","darkgray");
                               jQuery(".icon-delete").attr("title","Bild + Umschrift aus-/einschalten");
                               jQuery(".icon-zoom-out").attr("title","Bild verkleinern");
                               jQuery(".icon-zoom-in").attr("title","Bild vergrössern (+ Register ausschalten)");
                               jQuery(".bildnummer").attr("title","Archivalische Bildsignatur");

                               jQuery(".schicht-0_button").click(function() {
                                   jQuery(".transkription").css("color","#6e6e6e");
                                   jQuery(".transkription").find("*").css("color","#6e6e6e");
                                   jQuery(".zeile").css("color","red");
                                   jQuery(".markierung").css("color","#d00501");
                                   jQuery(".herausgeber").css("color","#d00501");
                                   jQuery(".streichung_typo").css("color","darkgray");
                                   jQuery(".streichung_typo").find("*").css("color","darkgray");
                                 }
                               )

                               jQuery(".schicht-1_button").click(function() {
                                   jQuery(".transkription").css("color","gray");
                                   jQuery(".transkription").find("*").css("color","gray");
                                   jQuery(".schicht1").css({"font-weight":"normal","color":"maroon"});
                                   jQuery(".schicht1 span").css({"font-weight":"normal","color":"maroon"});
                                 }
                               )

                               jQuery(".schicht-2_button").click(function() {
                                   jQuery(".transkription").css("color","#6e6e6e");
                                   jQuery(".transkription").find("*").css("color","#6e6e6e");
                                   jQuery(".einfuegung").css("color","#007FFF").contents().css("color","#007FFF");
                                   jQuery(".einfuegung_typo").css("color","steelblue").contents().css("color","steelblue");
                                   jQuery(".einfuegung_gestr_typo").css("color","steelblue").contents().css("color","steelblue");
                                   jQuery(".streichung_typo").css("color","darkgray");
                                   jQuery(".streichung_typo").find("*").css("color","darkgray");
                                   jQuery(".einfuegung_gestr").css("color","#007FFF").contents().css("color","#007FFF");
                                   jQuery(".markierung").css("color","#d00501");
                                   jQuery(".zeile").css("color","red");
                                 }
                               )

                               jQuery(".schicht-3_button").click(function() {
                                   jQuery(".transkription").css("color","red");
                                   jQuery(".transkription").find("*").css("color","red");
                                   jQuery(".einfuegung_gestr").css("color","#6e6e6e");
                                   jQuery(".einfuegung_gestr").find("*").css("color","#6e6e6e");
                                   jQuery(".unsicher_gestr").css("color","#6e6e6e");
                                   jQuery(".streichung").css("color","#6e6e6e");
                                   jQuery(".streichung").find("*").css("color","#6e6e6e")
                                   jQuery(".streichung_typo").css("color","darkgray");
                                   jQuery(".streichung_typo").find("*").css("color","darkgray");
                                   jQuery(".ueberschrieben").css("color","#6e6e6e");
                                   jQuery(".streichung_doppel").css("color","#6e6e6e");
                                   jQuery(".blocktilgung").css("color","#6e6e6e");
                                   jQuery(".blocktilgung").find("*").css("color","#6e6e6e");
                                 }
                               )

                               jQuery("#Button_Register").toggle(function() {
                                   jQuery(".rt-grid-3").hide();
                                   jQuery(".rt-grid-9").css( {width:"100%"});
                                 },
                                 function() {
                                   Neuladen();
                                 }
                               )

                               jQuery(".move_button").toggle(function() {
                                   jQuery(".umschrift").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                   jQuery(".umschrift2").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                   jQuery(".umschrift_typo").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                 },
                                 function() {
                                   jQuery(".umschrift").draggable({disabled: true}).css( {cursor:"auto"});
                                   jQuery(".umschrift2").draggable({disabled: true}).css( {cursor:"auto"});
                                   jQuery(".umschrift_typo").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                 }
                               )

                               jQuery(".icon-delete").toggle(function() {
                                   jQuery(this).nextAll().hide();
                                 },
                                 function() {
                                   jQuery(this).nextAll().show();
                                   jQuery(this).parent().find(".spezial").hide();
                                 }
                               )

                               jQuery(".icon-zoom-in1").toggle(function() {
                                   jQuery(this) .next().css({"width":"800px","height":"500px"});
                                   jQuery(".rt-grid-3").hide();
                                   jQuery(".rt-grid-9").css( {width:"100%"});
                                 },
                                 function() {
                                   jQuery(this) .next().css("width","460px");
                                   jQuery(".rt-grid-9").css( {width:"82%"});
                                   jQuery(".rt-grid-3").show();
                                 }
                               )


                               jQuery(".icon-zoom-in2").toggle(function() {
                                   jQuery(this).parent().find(".diplom_bild").css({"width":"1200px","height":"500px"});
                                   jQuery(".rt-grid-3").hide();
                                   jQuery(".rt-grid-9").css( {width:"100%"});
                                 },
                                 function() {
                                   jQuery(this) .next().css("width","460px");
                                   jQuery(".rt-grid-9").css( {width:"82%"});
                                   jQuery(".rt-grid-3").show();
                                 }
                               )


                               jQuery(".icon-zoom-in").click(function() {
                                 breit = jQuery(this).parent().find("div").eq(0).css("width");
                                 breit1 = String(Number(breit.substr(0,3))+200)+"px";
                                 jQuery(this).parent().find("div").eq(0).css({"width":breit1});
                                 jQuery(".rt-grid-3").hide();
                                 jQuery(".rt-grid-9").css( {width:"100%"});
                               })

                               jQuery(".icon-zoom-out").click(function() {
                                 breit = jQuery(this).parent().find("div").eq(0).css("width");
                                 breit1 = String(Number(breit.substr(0,3))-200)+"px";
                                 jQuery(this).parent().find("div").eq(0).css({"width":breit1});
                                 jQuery(".rt-grid-3").show();
                                 jQuery(".rt-grid-9").css( {width:"82%"});
                               })

                               jQuery(".pagina").click(function() {
                                   var nr= $(this).text();
                                   alert(nr);
                                   $("img:contains(nr)").delete;
                                 }
                               )
                             };
                           })
                         </script>
       -->
              <!-- Item navigation I, wm -->
              <!--          <div id="nav_buttons">
                          <button type="button" class="icon-help" title="Hilfe" onClick="Hilfe()"> </button>

                          <a href="/lyrik/index.php/material/pdf-dateien/synopsen/item/6224-pdf">
                            <button type="button" class="vor_rueck icon-backward" title="vorangehender Text"></button>			</a>


                          <a href="/lyrik/index.php/material/pdf-dateien/synopsen/item/6224-pdf?showall=1">
                            <button type="button" class="icon-arrow-left-3 vor_rueck" title="vorangehender Text + Bild/Umschrift"><span class="button_text">dipl</span></button>			</a>
                          <button type="button" id="Button_Reset" title="neu laden" onClick="Neuladen()">Reset</button>			<button type="button" id="Button_Scroll" title="Texte separat scrollen aus-/einschalten">- /+ Rahmen</button>
                          <button id="Button_Register" type="button" class="vor_rueck" title="Registerspalte aus-/einschalten">- /+ Register</button>    </div>

      -->

              <!-- Start K2 Item Layout -->
              <span id="startOfPageId6229"></span>

              <div id="k2Container" class="itemView">

                <!-- Plugins: BeforeDisplay -->

                <!-- K2 Plugins: K2BeforeDisplay -->


                <!-- einfügung Synopse wm (vgl. unten) -->
                <div class="itemTagsBlock" style='float:right'>
                </div>


                <div class="itemHeader">
                  <span class="itemDateCreated">{{creationDate}}</span>
                  <h2 class="itemTitle">{{title}}</h2>
                </div>

                <!-- Plugins: AfterDisplayTitle -->

                <!-- K2 Plugins: K2AfterDisplayTitle -->


                <div class="itemBody">

                  <!-- Plugins: BeforeDisplayContent -->

                  <!-- K2 Plugins: K2BeforeDisplayContent -->

                  <!-- Item text -->
                  <div class="itemFullText">
                    <p>Eine Sammlung von Textkonvoluten, zum Download als pdf-Dateien bereitgestellt in zwei
                      Formaten:</p>
                    <ul>
                      <li>Einzelblatt-Version: je zwei Seiten auf einem A4-Blatt quer</li>
                      <li>Broschüren-Version: Die Seiten sind so auf den Blättern angeordnet, dass sich die ineinander
                        gelegten Blätter bei doppelseitigem Druck als Broschüre falten und heften lassen.<br/>Dies setzt
                        entsprechende Druckereinstellungen voraus: doppelseitiger Druck, Querformat, "an langer Kante
                        spiegeln"
                      </li>
                    </ul>
                    <table style="width: 564px; height: 55px;" border="1">
                      <caption>Synopsen</caption>
                      <tbody>
                      <tr>
                        <td class="emphase">De Chräbs&nbsp;</td>
                        <td>Fassungen 1982-85&nbsp;</td>
                        <td>Hochdeutsch + Mundart</td>
                        <td><a href="../../assets/pdf/synopsen/Chraebs-Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/synopsen/Chraebs.pdf">Broschüre</a></td>
                      </tr>
                      <tr>
                        <td class="emphase">&nbsp;Är heig</td>
                        <td>&nbsp;Fassungen 1982-85</td>
                        <td>&nbsp;Hochdeutsch + Mundart</td>
                        <td>&nbsp;</td>
                        <td><a href="../../assets/pdf/synopsen/Er_habe.pdf">Broschüre</a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- nächste Zeilen neu wm -->
                  <div class="clr"></div>


                  <!-- Plugins: AfterDisplayContent -->

                  <!-- K2 Plugins: K2AfterDisplayContent -->

                  <div class="clr"></div>
                </div>


                <div class="itemLinks">


                  <div class="clr"></div>
                </div>


                <div class="clr"></div>


                <div class="itemToolbar">
                  <ul>


                    <!-- wm -->
                    <span style="font-size:0.8em;">Änderung:             Sonntag, 21 Mai 2017            </span>
                    <!-- Print Button -->
                    <!-- TODO: Druckfunktionalität implementieren! -->
                    <li>
                      <a class="itemPrintLink" rel="nofollow"
                         href="/lyrik/index.php/material/pdf-dateien/synopsen?tmpl=component&amp;print=1"
                         onclick="window.open(this.href,'printWindow','width=900,height=600,location=no,menubar=no,resizable=yes,scrollbars=yes'); return false;">
                        <span>Drucken</span>
                      </a>
                    </li>
                  </ul>
                  <div class="clr"></div>
                </div>
                <!-- FIXME: Braucht es hier eine Navigationleiste? -->
                <!--                <div class="itemNavigation">
                                  <span class="itemNavigationTitle">Blättern zurück / vor:</span>
                                  <a class="itemNext" href="/lyrik/index.php/material/pdf-dateien/notizbuecher/item/6224-pdf">
                                    pdf »
                                  </a>
                                </div>-->
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
