<div class="rt-container">

  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId6229"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style='float:right'>
                </div>
                <div class="itemHeader">
                  <span class="itemDateCreated">{{creationDate}}</span>
                  <h2 class="itemTitle">{{title}}</h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText">
                    <p>Eine Sammlung von Textkonvoluten, zum Download als pdf-Dateien bereitgestellt in zwei
                      Formaten:</p>
                    <ul>
                      <li>Einzelblatt-Version: je zwei Seiten auf einem A4-Blatt quer</li>
                      <li>Broschüren-Version: Die Seiten sind so auf den Blättern angeordnet, dass sich die ineinander
                        gelegten Blätter bei doppelseitigem Druck als Broschüre falten und heften lassen.<br/>Dies setzt
                        entsprechende Druckereinstellungen voraus: doppelseitiger Druck, Querformat, "an langer Kante
                        spiegeln"
                      </li>
                    </ul>
                    <table style="width: 564px; height: 55px;" border="1">
                      <caption>Synopsen</caption>
                      <tbody>
                      <tr>
                        <td class="emphase">De Chräbs&nbsp;</td>
                        <td>Fassungen 1982-85&nbsp;</td>
                        <td>Hochdeutsch + Mundart</td>
                        <td><a href="../../assets/pdf/synopsen/Chraebs-Bll.pdf">Blätter</a></td>
                        <td><a href="../../assets/pdf/synopsen/Chraebs.pdf">Broschüre</a></td>
                      </tr>
                      <tr>
                        <td class="emphase">&nbsp;Är heig</td>
                        <td>&nbsp;Fassungen 1982-85</td>
                        <td>&nbsp;Hochdeutsch + Mundart</td>
                        <td>&nbsp;</td>
                        <td><a href="../../assets/pdf/synopsen/Er_habe.pdf">Broschüre</a></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="itemLinks">
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="itemToolbar">
                  <ul>
                    <span style="font-size:0.8em;">Änderung:             Sonntag, 21 Mai 2017            </span>
                  </ul>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
