<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId5603"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style='float:right'></div>
                <div class="itemHeader">
                  <h2 class="itemTitle">{{ title }}</h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText">
                    <p><span class="emphase">Übersetzungen</span> <strong></strong><span id="publisher-link"></span></p>
                    <ul>
                      <li>On Kuno Raeber’s New York Poems. By Christiane Wyrwa. In World Literature Today, Nov. 2014.<br />(<a href="https://www.worldliteraturetoday.org/2014/november/kuno-raebers-new-york-poems-christiane-wyrwa" target="_blank" class="emphase">Link</a>)<br /><br /></li>
                      <li>Be Quiet. Selected Poems by Kuno Raeber. Übers. von Stuart Friebert. Berkeley: Tiger Bark Press 2015.<br /><br /></li>
                      <li><span id="productTitle">Watch Out. Selected Poems of Kuno Raeber. Übers. von Stuart Friebert. Lost Horse Press 2016.<br /><br /></span></li>
                      <li>Votivs. Selected Poems from the Literary Remains Kuno Raeber. Übers. von Stuart Friebert, mit Christiane Wyrwa. <span id="productTitle">Lost Horse Press 2017 (dt. Textvorlage: Werke, Bd. 7).<br />&nbsp;<br /></span></li>
                    </ul>
                    <ul>
                      <li>Kuno Raeber. <span class="titel">Poesie</span> a cura e con traduzione di Annarosa Zweifel Azzone. Lugano: ADV Publishing House 2016.</li>
                    </ul>	  </div>
                  <!-- nächste Zeilen neu wm -->
                  <div class="clr"></div>
                </div>
              </div>
              <div class="clr"></div>
              <div class="clr"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
