<div class="rt-container">
  <div class="component-content normal">
    <span id="startOfPageId5603"></span>
    <div id="k2Container" class="itemView">
      <div class="itemTagsBlock" style='float:right'></div>
      <div class="itemHeader">
        <time class="itemDateCreated">Dienstag, 01 September 2015</time>
        <h2 class="itemTitle">{{title}}</h2>
      </div>
      <div class="itemBody">
        <div class="itemFullText">
          <p class="normal">
            <span style="font-size: 10pt;">(Herausgegeben von Christiane Wyrwa und Matthias Klein)</span>
          </p>
          <table style="width: 90%;">
            <tbody>
            <tr>
              <td style="width: 50px;">: Bd. 1</td>
              <td style="width: 250px;">LYRIK</td>
              <td style="width: 180px;">&nbsp;</td>
              <td>&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Gesicht im Mittag</td>
              <td>(1950)</td>
              <td rowspan="35" style="vertical-align: top;">
                <p><img alt="Werke 1und7" src="/assets/jpg/Werke_1und7.jpg" width="400" height="406"/></p>
                <p><br/><span class="emphase">Bd. 1 der Werkausgabe</span> enthält die von Kuno Raeber in 6
                  Bändchen publizierten Gedichte mit einem informativen Nachwort, knappen Erläuterungen und
                  Übertragungen der Mundartgedichte ins Hochdeutsche.</p>
                <p><span class="emphase">Bd. 7 der Werkausgabe</span> enthält eine bedeutende Zahl
                  nachgelassener Gedichte in ihrer jeweils letzten Gestalt (meist Typoskript-Fassungen).</p>
                <p>In der <span class="emphase">Online-Edition</span> hingegen stellen die Druck-Fassungen
                  lediglich die letzte Stufe innerhalb komplexer genetischer Zusammenhänge dar.</p>
                <p>Die Online-Edition stützt sich in der Textwiedergabe ausschliesslich* auf Raebers lyrischen
                  Nachlass und auf die Erstausgaben. Sie erleichtert aber durch Seitenverweise den Einbezug
                  der Werkausgabe.</p>
                <p>(* ausgenommen die Reproduktionen der Kunstkarten von 1984, die dankbar aus Bd. 7 (scaneg
                  Verlag) übernommen wurden.)</p>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Die verwandelten Schiffe&nbsp;&nbsp;</td>
              <td>(1957)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>gedichte</td>
              <td>(1960)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>FLUSSUFER</td>
              <td>(1963)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Reduktionen</td>
              <td>(1981)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Abgewandt Zugewandt</td>
              <td>(1985)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Bd. 2&nbsp;&nbsp;</td>
              <td>ERZÄHLENDE PROSA</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Die Lügner sind ehrlich</td>
              <td>(1960, Roman)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Calabria</td>
              <td>(1961, Reiseskizzen) &nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Die Düne</td>
              <td>(1964, Erzählung)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Der Brand</td>
              <td>(1965, Hörspiel)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Mißverständnisse</td>
              <td>(1968, Erzählungen)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Bd. 3</td>
              <td>ROMANE UND DRAMEN</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Alexius unter der Treppe oder&nbsp;<br/>Geständnisse vor einer Katze</td>
              <td>(1973, Roman)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Das Ei</td>
              <td>(1981, Roman)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Vor Anker</td>
              <td>(1982, Schauspiel)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Bd. 4</td>
              <td>ROMANE UND DRAMEN</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Bocksweg</td>
              <td>(1985, Schauspiel)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Wirbel im Abfluß</td>
              <td>(1989, Roman)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Bilder Bilder</td>
              <td>(1994, Erzählungen)</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Bd. 5</td>
              <td>ESSAYS UND KLEINE SCHRIFTEN &nbsp;&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td colspan="3">——————————</td>
            </tr>
            <tr>
              <td>Bd. 6</td>
              <td>AUS DEM NACHLASS I</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Lebensbericht</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Tagebücher</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Korrespondenz</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Bd. 7</td>
              <td>AUS DEM NACHLASS II</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Gedichte</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Prosa</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>Aufsätze</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            </tbody>
          </table>
          <p>&nbsp;<span style="font-size: 10pt;">Bd. 1-5 erschienen bei Nagel &amp; Kimche (2002-2004), Bd. 6-7 im scaneg Verlag München (2010).</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

