<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <!-- FIXME: Braucht es den folgenden JavaScript-Block? -->
              <!-- Zusatz wm -->
              <!--              <script src="/lyrik/media/eorisis-jquery/ui/1.11.4/jquery-ui.min.js"></script>
                            <script type="text/javascript">

                              function Neuladen() {
                                location.reload();
                              }

                              function Hilfe() {
                                hilfefenster=window.open("/lyrik/infos/hilfe/Hilfe-Textseite.htm","Hilfe","scrollbars=yes,width=600,height=400,resizable=yes,location=no,menubar=no,status=no,toolbar=no,left=0,top=0");
                                hilfefenster.window.focus();
                              }

                              function Erste_Hilfe() {
                                hilfefenster=window.open("infos/hilfe/Hilfe-Kurz.htm","Hilfe","scrollbars=yes,width=600,height=400,resizable=yes,location=no,menubar=no,status=no,toolbar=no,left=0,top=0");
                                hilfefenster.window.focus();
                              }

                              jQuery(document).ready(function(){
                                if (window.name != "printWindow") {

                                  jQuery(".spezial").hide();

                                  jQuery(".itemTitle").css("padding-left","30px");
                                  jQuery(".edtext").addClass("scrollen").css("padding-left","25px");
                                  jQuery("#mjsp-menu-select").remove().clone().appendTo(".itemTitle").css({"float":"right","margin-left":"5px"});
                                  jQuery("#mjsp-menu-select select").css({"width":"100px"});
                                  jQuery("#Button_Scroll").click(

                                    function() {
                                      jQuery(".edtext").toggleClass("scrollen","false");
                                    });

                                  jQuery(".schicht-0_button").attr("title","Anfangszustand ohne Auszeichnung");
                                  jQuery(".schicht-1_button").attr("title","Grundschicht (kleiner Verbund), nur ausnahmsweise ausgezeichnet");
                                  jQuery(".schicht-2_button").attr("title","Texteinfügung entgegen dem linearen Verlauf der Niederschrift");
                                  jQuery(".schicht-3_button").attr("title","Endschicht (Basis für edierten Text)");
                                  jQuery(".move_button").attr("title","Umschrift verschiebbar machen");
                                  jQuery(".transkription").find("*").css({"font-weight":"normal","color":"#6e6e6e"});
                                  jQuery(".zeile").css("color","red");
                                  jQuery(".markierung").css("color","#d00501;");
                                  jQuery(".herausgeber").css("color","#d00501;");
                                  jQuery(".ersetzung").css("font-weight","bold");
                                  jQuery(".streichung_typo").css("color","darkgray");
                                  jQuery(".streichung_typo").find("*").css("color","darkgray");
                                  jQuery(".icon-delete").attr("title","Bild + Umschrift aus-/einschalten");
                                  jQuery(".icon-zoom-out").attr("title","Bild verkleinern");
                                  jQuery(".icon-zoom-in").attr("title","Bild vergrössern (+ Register ausschalten)");
                                  jQuery(".bildnummer").attr("title","Archivalische Bildsignatur");

                                  jQuery(".schicht-0_button").click(function() {
                                      jQuery(".transkription").css("color","#6e6e6e");
                                      jQuery(".transkription").find("*").css("color","#6e6e6e");
                                      jQuery(".zeile").css("color","red");
                                      jQuery(".markierung").css("color","#d00501");
                                      jQuery(".herausgeber").css("color","#d00501");
                                      jQuery(".streichung_typo").css("color","darkgray");
                                      jQuery(".streichung_typo").find("*").css("color","darkgray");
                                    }
                                  )

                                  jQuery(".schicht-1_button").click(function() {
                                      jQuery(".transkription").css("color","gray");
                                      jQuery(".transkription").find("*").css("color","gray");
                                      jQuery(".schicht1").css({"font-weight":"normal","color":"maroon"});
                                      jQuery(".schicht1 span").css({"font-weight":"normal","color":"maroon"});
                                    }
                                  )

                                  jQuery(".schicht-2_button").click(function() {
                                      jQuery(".transkription").css("color","#6e6e6e");
                                      jQuery(".transkription").find("*").css("color","#6e6e6e");
                                      jQuery(".einfuegung").css("color","#007FFF").contents().css("color","#007FFF");
                                      jQuery(".einfuegung_typo").css("color","steelblue").contents().css("color","steelblue");
                                      jQuery(".einfuegung_gestr_typo").css("color","steelblue").contents().css("color","steelblue");
                                      jQuery(".streichung_typo").css("color","darkgray");
                                      jQuery(".streichung_typo").find("*").css("color","darkgray");
                                      jQuery(".einfuegung_gestr").css("color","#007FFF").contents().css("color","#007FFF");
                                      jQuery(".markierung").css("color","#d00501");
                                      jQuery(".zeile").css("color","red");
                                    }
                                  )

                                  jQuery(".schicht-3_button").click(function() {
                                      jQuery(".transkription").css("color","red");
                                      jQuery(".transkription").find("*").css("color","red");
                                      jQuery(".einfuegung_gestr").css("color","#6e6e6e");
                                      jQuery(".einfuegung_gestr").find("*").css("color","#6e6e6e");
                                      jQuery(".unsicher_gestr").css("color","#6e6e6e");
                                      jQuery(".streichung").css("color","#6e6e6e");
                                      jQuery(".streichung").find("*").css("color","#6e6e6e")
                                      jQuery(".streichung_typo").css("color","darkgray");
                                      jQuery(".streichung_typo").find("*").css("color","darkgray");
                                      jQuery(".ueberschrieben").css("color","#6e6e6e");
                                      jQuery(".streichung_doppel").css("color","#6e6e6e");
                                      jQuery(".blocktilgung").css("color","#6e6e6e");
                                      jQuery(".blocktilgung").find("*").css("color","#6e6e6e");
                                    }
                                  )

                                  jQuery("#Button_Register").toggle(function() {
                                      jQuery(".rt-grid-3").hide();
                                      jQuery(".rt-grid-9").css( {width:"100%"});
                                    },
                                    function() {
                                      Neuladen();
                                    }
                                  )

                                  jQuery(".move_button").toggle(function() {
                                      jQuery(".umschrift").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                      jQuery(".umschrift2").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                      jQuery(".umschrift_typo").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                    },
                                    function() {
                                      jQuery(".umschrift").draggable({disabled: true}).css( {cursor:"auto"});
                                      jQuery(".umschrift2").draggable({disabled: true}).css( {cursor:"auto"});
                                      jQuery(".umschrift_typo").draggable({disabled:false,cursor:"move"}).css( {cursor:"move"});
                                    }
                                  )

                                  jQuery(".icon-delete").toggle(function() {
                                      jQuery(this).nextAll().hide();
                                    },
                                    function() {
                                      jQuery(this).nextAll().show();
                                      jQuery(this).parent().find(".spezial").hide();
                                    }
                                  )

                                  jQuery(".icon-zoom-in1").toggle(function() {
                                      jQuery(this) .next().css({"width":"800px","height":"500px"});
                                      jQuery(".rt-grid-3").hide();
                                      jQuery(".rt-grid-9").css( {width:"100%"});
                                    },
                                    function() {
                                      jQuery(this) .next().css("width","460px");
                                      jQuery(".rt-grid-9").css( {width:"82%"});
                                      jQuery(".rt-grid-3").show();
                                    }
                                  )


                                  jQuery(".icon-zoom-in2").toggle(function() {
                                      jQuery(this).parent().find(".diplom_bild").css({"width":"1200px","height":"500px"});
                                      jQuery(".rt-grid-3").hide();
                                      jQuery(".rt-grid-9").css( {width:"100%"});
                                    },
                                    function() {
                                      jQuery(this) .next().css("width","460px");
                                      jQuery(".rt-grid-9").css( {width:"82%"});
                                      jQuery(".rt-grid-3").show();
                                    }
                                  )


                                  jQuery(".icon-zoom-in").click(function() {
                                    breit = jQuery(this).parent().find("div").eq(0).css("width");
                                    breit1 = String(Number(breit.substr(0,3))+200)+"px";
                                    jQuery(this).parent().find("div").eq(0).css({"width":breit1});
                                    jQuery(".rt-grid-3").hide();
                                    jQuery(".rt-grid-9").css( {width:"100%"});
                                  })

                                  jQuery(".icon-zoom-out").click(function() {
                                    breit = jQuery(this).parent().find("div").eq(0).css("width");
                                    breit1 = String(Number(breit.substr(0,3))-200)+"px";
                                    jQuery(this).parent().find("div").eq(0).css({"width":breit1});
                                    jQuery(".rt-grid-3").show();
                                    jQuery(".rt-grid-9").css( {width:"82%"});
                                  })

                                  jQuery(".pagina").click(function() {
                                      var nr= $(this).text();
                                      alert(nr);
                                      $("img:contains(nr)").delete;
                                    }
                                  )
                                };
                              })
                            </script>-->
              <span id="startOfPageId5603"></span>
              <div id="k2Container" class="itemView">

                <!-- Plugins: BeforeDisplay -->
                <!-- K2 Plugins: K2BeforeDisplay -->

                <!-- einfügung Synopse wm (vgl. unten) -->
                <div class="itemTagsBlock" style='float:right'></div>
                <div class="itemHeader">
                  <!-- Date created -->
                  <span class="itemDateCreated">Dienstag, 01 September 2015</span>
                  <!-- Item title -->
                  <h2 class="itemTitle">{{title}}</h2>
                </div>

                <!-- Plugins: AfterDisplayTitle -->
                <!-- K2 Plugins: K2AfterDisplayTitle -->

                <div class="itemBody">

                  <!-- Plugins: BeforeDisplayContent -->
                  <!-- K2 Plugins: K2BeforeDisplayContent -->

                  <!-- Item text -->
                  <div class="itemFullText">
                    <p class="normal">
                      <span style="font-size: 10pt;">(Herausgegeben von Christiane Wyrwa und Matthias Klein)</span>
                    </p>
                    <table style="width: 90%;">
                      <tbody>
                      <tr>
                        <td style="width: 50px;">: Bd. 1</td>
                        <td style="width: 250px;">LYRIK</td>
                        <td style="width: 180px;">&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Gesicht im Mittag</td>
                        <td>(1950)</td>
                        <td rowspan="35" style="vertical-align: top;">
                          <p><img alt="Werke 1und7" src="/assets/jpg/Werke_1und7.jpg" width="400" height="406"/></p>
                          <p><br/><span class="emphase">Bd. 1 der Werkausgabe</span> enthält die von Kuno Raeber in 6
                            Bändchen publizierten Gedichte mit einem informativen Nachwort, knappen Erläuterungen und
                            Übertragungen der Mundartgedichte ins Hochdeutsche.</p>
                          <p><span class="emphase">Bd. 7 der Werkausgabe</span> enthält eine bedeutende Zahl
                            nachgelassener Gedichte in ihrer jeweils letzten Gestalt (meist Typoskript-Fassungen).</p>
                          <p>In der <span class="emphase">Online-Edition</span> hingegen stellen die Druck-Fassungen
                            lediglich die letzte Stufe innerhalb komplexer genetischer Zusammenhänge dar.</p>
                          <p>Die Online-Edition stützt sich in der Textwiedergabe ausschliesslich* auf Raebers lyrischen
                            Nachlass und auf die Erstausgaben. Sie erleichtert aber durch Seitenverweise den Einbezug
                            der Werkausgabe.</p>
                          <p>(* ausgenommen die Reproduktionen der Kunstkarten von 1984, die dankbar aus Bd. 7 (scaneg
                            Verlag) übernommen wurden.)</p>
                        </td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Die verwandelten Schiffe&nbsp;&nbsp;</td>
                        <td>(1957)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>gedichte</td>
                        <td>(1960)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>FLUSSUFER</td>
                        <td>(1963)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Reduktionen</td>
                        <td>(1981)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Abgewandt Zugewandt</td>
                        <td>(1985)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>Bd. 2&nbsp;&nbsp;</td>
                        <td>ERZÄHLENDE PROSA</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Die Lügner sind ehrlich</td>
                        <td>(1960, Roman)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Calabria</td>
                        <td>(1961, Reiseskizzen) &nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Die Düne</td>
                        <td>(1964, Erzählung)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Der Brand</td>
                        <td>(1965, Hörspiel)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Mißverständnisse</td>
                        <td>(1968, Erzählungen)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>Bd. 3</td>
                        <td>ROMANE UND DRAMEN</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Alexius unter der Treppe oder&nbsp;<br/>Geständnisse vor einer Katze</td>
                        <td>(1973, Roman)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Das Ei</td>
                        <td>(1981, Roman)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Vor Anker</td>
                        <td>(1982, Schauspiel)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>Bd. 4</td>
                        <td>ROMANE UND DRAMEN</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Bocksweg</td>
                        <td>(1985, Schauspiel)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Wirbel im Abfluß</td>
                        <td>(1989, Roman)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Bilder Bilder</td>
                        <td>(1994, Erzählungen)</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>Bd. 5</td>
                        <td>ESSAYS UND KLEINE SCHRIFTEN &nbsp;&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td colspan="3">——————————</td>
                      </tr>
                      <tr>
                        <td>Bd. 6</td>
                        <td>AUS DEM NACHLASS I</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Lebensbericht</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Tagebücher</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Korrespondenz</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>Bd. 7</td>
                        <td>AUS DEM NACHLASS II</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Gedichte</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Prosa</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>Aufsätze</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      </tbody>
                    </table>
                    <p>&nbsp;<span style="font-size: 10pt;">Bd. 1-5 erschienen bei Nagel &amp; Kimche (2002-2004), Bd. 6-7 im scaneg Verlag München (2010).</span>
                    </p>
                  </div>
                  <!-- nächste Zeilen neu wm -->
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

