<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId636"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style='float:right'></div>
                <div class="itemHeader">
                  <h2 class="itemTitle">{{title}}
                  </h2>
                </div>
                <div class="itemBody">
                  <div class="itemFullText">
                    <table style="width: 600px; height: 448px;">
                      <tbody>
                      <tr>
                        <td>&nbsp;</td>
                        <td class="emphase">Lyrik</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>1950</td>
                        <td>GESICHT IM MITTAG</td>
                        <td>&nbsp;</td>
                        <td>Vineta Verlag</td>
                      </tr>
                      <tr>
                        <td>1957&nbsp;</td>
                        <td>Die verwandelten Schiffe</td>
                        <td>&nbsp;</td>
                        <td>Luchterhand</td>
                      </tr>
                      <tr>
                        <td>1960</td>
                        <td>GEDICHTE</td>
                        <td>&nbsp;</td>
                        <td>Claassen</td>
                      </tr>
                      <tr>
                        <td>1963</td>
                        <td>FLUSSUFER</td>
                        <td>&nbsp;</td>
                        <td>Claassen</td>
                      </tr>
                      <tr>
                        <td>1981</td>
                        <td>Reduktionen</td>
                        <td>&nbsp;</td>
                        <td>Ullstein</td>
                      </tr>
                      <tr>
                        <td>1985</td>
                        <td>Abgewandt Zugewandt</td>
                        <td>&nbsp;</td>
                        <td>Ammann</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                        <td class="emphase">Prosa</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      </tr>
                      <tr></tr>
                      <tr>
                        <td style="vertical-align: top;">1960&nbsp;</td>
                        <td>Die Lügner sind ehrlich<br/>(Neuauflage 1983)</td>
                        <td style="vertical-align: top; width: 100px;">Roman</td>
                        <td style="vertical-align: top;">Claassen<br/>Ullstein</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1961</td>
                        <td>Calabria<br/>(Neuauflage 1982)</td>
                        <td style="vertical-align: top; width: 100px;">Reiseskizzen</td>
                        <td style="vertical-align: top;">
                          <p>Biederstein<br/>Ullstein</p>
                        </td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1964</td>
                        <td>Die Düne</td>
                        <td style="vertical-align: top; width: 100px;">Erzählung</td>
                        <td style="vertical-align: top;">(Werke, Bd. 2)</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1968</td>
                        <td>Mißverständnisse. 33 Kapitel</td>
                        <td style="vertical-align: top; width: 100px;">Erzählungen</td>
                        <td style="vertical-align: top;">Biederstein</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">&nbsp;</td>
                        <td>(Neuauflage 1981)</td>
                        <td style="vertical-align: top; width: 100px;">&nbsp;</td>
                        <td style="vertical-align: top;">Ullstein</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1973</td>
                        <td style="vertical-align: top;">
                          <p>Alexius unter der Treppe <br/>oder Geständnisse vor einer Katze<br/>(Neuauflage 1982)</p>
                        </td>
                        <td style="vertical-align: top; width: 100px;">Roman</td>
                        <td style="vertical-align: top;">Luchterhand<br/>&nbsp;<br/>Ullstein</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1981</td>
                        <td>Das Ei</td>
                        <td style="vertical-align: top; width: 100px;">Roman</td>
                        <td style="vertical-align: top;">Erb</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1989</td>
                        <td>Sacco di Roma</td>
                        <td style="vertical-align: top; width: 100px;">Roman</td>
                        <td style="vertical-align: top;">Ammann</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1994*</td>
                        <td>Bilder Bilder</td>
                        <td style="vertical-align: top; width: 100px;">Erzählungen</td>
                        <td style="vertical-align: top;">Ammann</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">&nbsp;</td>
                        <td>&nbsp;</td>
                        <td style="vertical-align: top; width: 100px;">&nbsp;</td>
                        <td style="vertical-align: top;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">&nbsp;</td>
                        <td class="emphase">Dramatisches</td>
                        <td style="vertical-align: top; width: 100px;">&nbsp;</td>
                        <td style="vertical-align: top;">&nbsp;</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1957</td>
                        <td>Der Opernabend / Eine Komödie</td>
                        <td style="vertical-align: top; width: 100px;">Komödie</td>
                        <td style="vertical-align: top;">(Werke, Bd. 7)</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1964</td>
                        <td>Der Brand</td>
                        <td style="vertical-align: top; width: 100px;">Hörspiel</td>
                        <td style="vertical-align: top;">(Werke, Bd. 2)</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1966</td>
                        <td>Der Tod des Diokletian <br/>Ein Funkgedicht für sechs Personen, davon eine stumm</td>
                        <td style="vertical-align: top; width: 100px;">Hörspiel</td>
                        <td style="vertical-align: top;">(Werke, Bd. 7)</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1992</td>
                        <td>Vor Anker.<br/>Ein bürgerliches Trauerspiel in neunzehn Auftritten<br/>(entstanden 1982)
                        </td>
                        <td style="vertical-align: top; width: 100px;">Schauspiel</td>
                        <td style="vertical-align: top;">scaneg</td>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;">1989</td>
                        <td>Bocksweg. Ein Mysterium in zwölf Bildern<br/>(entstanden 1984)</td>
                        <td style="vertical-align: top; width: 100px;">Schauspiel</td>
                        <td style="vertical-align: top;">scaneg</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>

