<div class="rt-container">
  <div class="component-content normal">
    <span id="startOfPageId636"></span>
    <div id="k2Container" class="itemView">
      <div class="itemTagsBlock" style='float:right'></div>
      <div class="itemHeader">
        <h2 class="itemTitle">{{title}}
        </h2>
      </div>
      <div class="itemBody">
        <div class="itemFullText">
          <table style="width: 600px; height: 448px;">
            <tbody>
            <tr>
              <td>&nbsp;</td>
              <td class="emphase">Lyrik</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td><time>1950</time></td>
              <td><cite>GESICHT IM MITTAG</cite></td>
              <td>&nbsp;</td>
              <td>Vineta Verlag</td>
            </tr>
            <tr>
              <td><time>1957</time>&nbsp;</td>
              <td><cite>Die verwandelten Schiffe</cite></td>
              <td>&nbsp;</td>
              <td>Luchterhand</td>
            </tr>
            <tr>
              <td><time>1960</time></td>
              <td><cite>GEDICHTE</cite></td>
              <td>&nbsp;</td>
              <td>Claassen</td>
            </tr>
            <tr>
              <td><time>1963</time></td>
              <td><cite>FLUSSUFER</cite></td>
              <td>&nbsp;</td>
              <td>Claassen</td>
            </tr>
            <tr>
              <td><time>1981</time></td>
              <td><cite>Reduktionen</cite></td>
              <td>&nbsp;</td>
              <td>Ullstein</td>
            </tr>
            <tr>
              <td><time>1985</time></td>
              <td><cite>Abgewandt Zugewandt</cite></td>
              <td>&nbsp;</td>
              <td>Ammann</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td class="emphase">Prosa</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr></tr>
            <tr>
              <td style="vertical-align: top;"><time>1960</time>&nbsp;</td>
              <td><cite>Die Lügner sind ehrlich</cite><br/>(Neuauflage 1983)</td>
              <td style="vertical-align: top; width: 100px;">Roman</td>
              <td style="vertical-align: top;">Claassen<br/>Ullstein</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1961</time></td>
              <td><cite>Calabria</cite><br/>(Neuauflage 1982)</td>
              <td style="vertical-align: top; width: 100px;">Reiseskizzen</td>
              <td style="vertical-align: top;">
                <p>Biederstein<br/>Ullstein</p>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1964</time></td>
              <td><cite>Die Düne</cite></td>
              <td style="vertical-align: top; width: 100px;">Erzählung</td>
              <td style="vertical-align: top;">(Werke, Bd. 2)</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1968</time></td>
              <td><cite>Mißverständnisse</cite>. 33 Kapitel</td>
              <td style="vertical-align: top; width: 100px;">Erzählungen</td>
              <td style="vertical-align: top;">Biederstein</td>
            </tr>
            <tr>
              <td style="vertical-align: top;">&nbsp;</td>
              <td>(Neuauflage 1981)</td>
              <td style="vertical-align: top; width: 100px;">&nbsp;</td>
              <td style="vertical-align: top;">Ullstein</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1973</time></td>
              <td style="vertical-align: top;">
                <p><cite>Alexius unter der Treppe <br/>oder Geständnisse vor einer Katze</cite><br/>(Neuauflage 1982)</p>
              </td>
              <td style="vertical-align: top; width: 100px;">Roman</td>
              <td style="vertical-align: top;">Luchterhand<br/>&nbsp;<br/>Ullstein</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1981</time></td>
              <td><cite>Das Ei<</cite>/td>
              <td style="vertical-align: top; width: 100px;">Roman</td>
              <td style="vertical-align: top;">Erb</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1989</time></td>
              <td><cite>Sacco di Roma</cite></td>
              <td style="vertical-align: top; width: 100px;">Roman</td>
              <td style="vertical-align: top;">Ammann</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1994*</time></td>
              <td><cite>Bilder Bilder</cite></td>
              <td style="vertical-align: top; width: 100px;">Erzählungen</td>
              <td style="vertical-align: top;">Ammann</td>
            </tr>
            <tr>
              <td style="vertical-align: top;">&nbsp;</td>
              <td>&nbsp;</td>
              <td style="vertical-align: top; width: 100px;">&nbsp;</td>
              <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
              <td style="vertical-align: top;">&nbsp;</td>
              <td class="emphase">Dramatisches</td>
              <td style="vertical-align: top; width: 100px;">&nbsp;</td>
              <td style="vertical-align: top;">&nbsp;</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1957</time></td>
              <td><cite>Der Opernabend / Eine Komödie</cite></td>
              <td style="vertical-align: top; width: 100px;">Komödie</td>
              <td style="vertical-align: top;">(Werke, Bd. 7)</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1964</time></td>
              <td><cite>Der Brand</cite></td>
              <td style="vertical-align: top; width: 100px;">Hörspiel</td>
              <td style="vertical-align: top;">(Werke, Bd. 2)</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1966</time></td>
              <td><cite>Der Tod des Diokletian</cite> <br/>Ein Funkgedicht für sechs Personen, davon eine stumm</td>
              <td style="vertical-align: top; width: 100px;">Hörspiel</td>
              <td style="vertical-align: top;">(Werke, Bd. 7)</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1992</time></td>
              <td><cite>Vor Anker</cite>.<br/>Ein bürgerliches Trauerspiel in neunzehn Auftritten<br/>(entstanden 1982)
              </td>
              <td style="vertical-align: top; width: 100px;">Schauspiel</td>
              <td style="vertical-align: top;">scaneg</td>
            </tr>
            <tr>
              <td style="vertical-align: top;"><time>1989</time></td>
              <td><cite>Bocksweg</cite>. Ein Mysterium in zwölf Bildern<br/>(entstanden 1984)</td>
              <td style="vertical-align: top; width: 100px;">Schauspiel</td>
              <td style="vertical-align: top;">scaneg</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
