<div class="rt-container">
  <div id="rt-main" class="mb12">
    <div class="rt-container">
      <div class="rt-grid-12 ">
        <div class="rt-block">
          <div id="rt-mainbody">
            <div class="component-content">
              <span id="startOfPageId636"></span>
              <div id="k2Container" class="itemView">
                <div class="itemTagsBlock" style='float:right'></div>
                <div class="itemHeader">
                  <h2 class="itemTitle">{{ title }}
                  </h2>
                </div>
                <!--TODO : add all router links -->
                <div class="itemBody">
                  <div class="itemFullText">
                    <p>Verzeichnet sind die von Raeber in Zeitschriften, Zeitungen und Sammelwerken veröffentlichten
                      Texte (Verstreutes). Ausgeschlossen sind bloße Nachdrucke, die auf selbständigen Publikationen
                      basieren.<br/>
                      Rot hervorgehoben sind die Letztfassungen von Gedichten.
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Schweizer Rundschau</span>;
                        Monatsschrift für Geistesleben und Kultur, 1944/45, Heft 8, November 1944, S. 534-536 (3-teiliger Zyklus)
                        <br/>-
                        <a routerLink="" style="color:red;">Mendrisiotto 1-3</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Wort und Tat</span>.
                        Internationale Monatsschrift 3, Oktober 1946, S. 129 (1 Gedicht)<br/>
                      - <a routerLink="" style="color:red;">Tag und Nacht</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Die Tat</span>, Nr. 197, 22. 7. 1950, S. 5 (2 Gedichte)<br/>(dazu Brief von Max Rychner, 18.7.1950)<br/>
                        - <a routerLink="">Willst du ganz enthüllen jener Gottheit</a><br/>
                        - <a routerLink="" style="color:red;">Du näherst dich</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Renaissance</span>. Gespräche und Mitteilungen, Dez. 1950, Heft1, S.
                        12-14 (3 Gedichte)<br/>
                      - <a routerLink="" style="color:red;">Engel des Lichts</a><br/>
                      - <a routerLink="" style="color:red;">Was ist im trüben Moor das Reinere</a><br/>
                      - <a routerLink="" style="color:red;">Wo denn anders ist dieser Strauch</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Die Tat</span>, Nr. 188, 14.7.1951, S. 13 (3 Gedichte)<br/>
                      Exemplar mit Widmung: <span class="zitat">Meiner lieben Mutter / Kuno / 18. 8.51</span><br/>
                        (dazu Brief von Max Rychner, 3.7.1951)<br/>
                      - <a routerLink="" style="color:red;">Eine schwere Dolde lässt</a><br/>
                      - <a routerLink="" style="color:red;">Wäre dieser Strom doch schon erhoben</a><br/>
                      - <a routerLink="" style="color:red;">Nimmer fand ich die Rose</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Nachrichten</span>, Nr. 27, 1.2.1951, 3. Blatt,&nbsp; S. 8 (1 Gedicht)<br/>
                        - <a routerLink="">Das Schutzbild</a><br/>
                      </span>
                    </p>
                    <p>
                        <span class="itemExtraFieldsValue">
                          <span class="emphase">Konturen</span>. Blätter für junge Dichtung 2, Sept. 1953, S. 15
                          (3 Gedichte)<br/>
                          - <a routerLink="">Der Gang</a><br/>
                          - <a routerLink="" style="color:red;">Die Jagd</a><br/>
                          - <a routerLink="">Der Pfau</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Akzente</span> (1954), Heft 2 (April), S. 177-179 (7 Gedichte: <span class="titel">Der Gang</span>)<br/>
                        - <a routerLink="">Der Pfau</a><br/>
                        - <a routerLink="">Der Baum</a><br/>
                        - <a routerLink="">Der Trauerbaum</a><br/>
                        - <a routerLink="">Die verwandelten Schiffe</a><br/>
                        - <a routerLink="">Der Gang</a><br/>
                        - <a routerLink="">Der Schläfer</a><br/>
                        - <a routerLink="">Der Entrückte</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Hortulus</span>. Illustrierte Zweimonatsschrift für neue
                        Dichtung 4 (1954), Heft 1 (März), S. 16 (1 Gedicht)<br/>
                      (dazu Brief von Hans Rudolf Hilty, 25.3.1954)<br/>
                        - <a routerLink="" style="color:red;">Auf der Insel gehn die gestrandeten Schiffer</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Hortulus</span> 4 (1954), Heft 3 (Sept.), S. 54-57 (9 Gedichte: <span class="titel">Etüden</span>); <br/>
                        Separatdruck mit Widmung (Schachtel 93): <span class="zitat">Avec les salutations les plus cordiales / K.R.<br/></span>
                      - <a routerLink="" style="color:red;">Die Entführung</a><br/>
                      - <a routerLink="">Die Harfe </a><br/>
                      - <a routerLink="" style="color:red;">Der Trunk</a><br/>
                      - <a routerLink="">Die Oase</a><br/>
                      - <a routerLink="" style="color:red;">Der süß Quell</a><br/>
                      - <a routerLink="">Ankunft in derOase</a><br/>
                      - <a routerLink="">Auf der Schaukel</a><br/>
                      - <a routerLink="">Das Haupt unterm Linnen</a><br/>
                      - <a routerLink="">Der Spiegel</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Renaissance</span>. Gespräche und Mitteilungen, Einsiedeln, Sept. 1954, Heft 4, S. 9 (2 Gedichte)<br/>
                      - <a routerLink="">An den toten Sänger</a><br/>
                      - <a routerLink="" style="color:red;">Votivbild</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Hortulus</span> 5 (1955), Heft 2 (Juni), S. 42 (1 Gedicht)<br/>
                      - <a routerLink="">Beim Anzünden der Zigarette</a><br/>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Merkur</span>. Deutsche Zeitschrift für europäisches Denken, Nr. 87
                        (1955), S. 449-451 (4 Gedichte)<br/>
                        (dazu Brief von Hans Paeschke, 30.12.1954; Absagen der Redaktion hatte Raeber zuvor am
                        18.5.1950, am 8.11.1950 und am 2.9.1951 erhalten)<br/>
                      - <a routerLink="">Abend</a><br/>
                      - <a routerLink="">Die drei Kammern</a><br/>
                      - <a routerLink="" style="color:red;">Lied aus der Wiege</a><br/>
                      - <a routerLink="">Die heilige Katharina</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Jahresring</span> 1956/57. Ein Querschnitt durch die deutsche Literatur und Kunst der Gegenwart. Stuttgart 1956, S. 214-216 (3 Gedichte)<br/>
                      - <a routerLink="">Tag und Nacht</a><br/>
                      - <a routerLink="">Die Sirenen</a><br/>
                      - <a routerLink="">Römische Reklamen</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Merkur</span>, Nr. 102 (1956), Heft 8 (August), S. 761-763 (4 Gedichte)<br/>
                      - <a routerLink="">Karussell</a><br/>
                      - <a routerLink="">Der Fudschijama</a><br/>
                      - <a routerLink="">Der tote Vogel</a><br/>
                      - <a routerLink="">Am Flußhafen</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Hortulus</span> 6 (1956), Heft 2 (Juni), S. 51 (1 Gedicht)<br/>
                      - <a routerLink="">Das inwendige Licht</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Hortulus</span> 6 (1956), Heft 4, (Dezember) S. 110-111 (1 Gedicht)<br/>
                      - <a routerLink="">Die Wespen</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Transit</span>. Lyrikbuch der Jahrhundertmitte. 1956. Hrsg. mit Randnotizen von Walter Höllerer.
                        Frankfurt a.M.. Suhrkamp 1956, S. 17, 205-206, 271 (3 Gedichte, je thematisch zugeordnet)<br/>
                      - <a routerLink="">Der Gang</a><br/>
                      - <a routerLink="">Am Flußhafen</a><br/>
                      - <a routerLink="">Der Pfau</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">ensemble</span>. Ein Schweizer Beitrag zur zeitgenössischen Lyrik. Bd. 1. Hrsg. von Peter Lehner.
                        Bern: Benteli 1958, S. 58-65 (7 Gedichte, 3 davon Nachdrucke aus <span class="titel">Die
                        verwandelten Schiffe</span> und <span class="titel">Gedichte</span>)<br/>
                      - <a routerLink="" style="color:red;">Flüsse, Bäume, Winde</a><br/>
                      - <a routerLink="" style="color:red;">Der Schacht</a><br/>
                      - <a routerLink="" style="color:red;">Vita contemplativa</a><br/>
                      - <a routerLink="" style="color:red;">Im Zimmer</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Lyrik unserer Zeit</span>. Hrsg. von Horst Wolff. Dortmund: Städtische Volksbüchereien 1958.<br/>
                      - <a routerLink="" style="color:red;">Im Zimmer</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Süddeutsche Zeitung</span>, Nr. 112, 10./11. 5. 1958 (1 Gedicht)<br/>
                      - <a routerLink="" style="color:red;">Der Fischteich</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Die Zeit</span>, 22.5.1958, S. ??<br/>
                      - <a routerLink="" style="color:red;">Es gibt dich also</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Die Zeit</span>, Nr. 22, 29.5.1958, S. 5 (1 Gedicht)<br/>
                      - <a routerLink="">Der heilige Sebastian von Peter Paul Rubens </a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Zeitung</span>, 1.6.1958, Bl. 6 (2 Gedichte)<br/>
                      - <a routerLink="">Peter Paul Rubens: Der heilige Sebastian</a><br/>
                      - <a routerLink="">Die Engelsburg: Kaiser Hadrian spricht</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Hortulus</span> 8 (1958), Heft 3 (Juni), S 94 (1 Gedicht)<br/>
                      - <a routerLink="">Requiem für N.N.</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Merkur</span>, Nr. 133 (1959), Heft 3 (März), S. 231-233 (3 Gedichte)<br/>
                      - <a routerLink="" style="color:red;">Das Einhorn</a><br/>
                      - <a routerLink="">Quasi morto</a><br/>
                      - <a routerLink="">Die Staubwolke</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Zeitung</span>,Fernausgabe Nr. 65, 7.3.1959, Blatt 11 (3 Gedichte) <br/>
                        Literatur und Kunst / <span class="titel">Junge Autoren an der Arbeit</span> (zusammen mit Hans
                        Magnus Enzensberger, Rainer Brambach, Walter Gross)<br/>
                      - <a routerLink="">Metamorphose der Löwen</a><br/>
                      - <a routerLink="">Windmühlen</a><br/>
                      - <a routerLink="">Neapel: Pizzofalcone</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Deutsche Hefte</span>, Heft 63, Okt. 1959, S. 587-591(9 Zyklen-Gedichte)<br/>
                      - <a routerLink="">Miracula St. Marci I-IX</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Süddeutsche Zeitung</span>, Nr. 68, 19./20.3.1960 (1 Gedicht)<br/>
                      - <a routerLink="">Die Münze</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">blätter + bilder</span>. Eine Zeitschrift für Dichtung, Musik und Malerei, hrsg. von Horst Bienek und Hans Platschek, 1961,
                        Heft 12 (Jan./Febr.), S. 72-73 (3 Gedichte)<br/>
                        (vgl. Raeber an Horst Bienek, 20.3.1961)<br/>
                      - <a routerLink="" style="color:red;">Das Ohr des Dionysos</a><br/>
                      - <a routerLink="">Ginster</a><br/>
                      - <a routerLink="">Pantheon</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Zeitung</span>, 9.7.1961, Blatt 6, Sonntagsausgabe Nr. 2591 (4 Gedichte)<br/>
                        Literatur und Kunst / <span class="titel">Schweizer Autoren</span><br/>
                      - Flug<br/>
                      - Einsamer<br/>
                      - <a routerLink="">Der Spiegel</a><br/>
                      - <a routerLink="" style="color:red;">Seestück</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Das Schönste</span> 7 (1961), Nr. 8 (August). München: Kindler und Schiermeyer Verlag. S. 53 (2 Gedichte)<br/>
                      - <a routerLink="">Vogel</a><br/>
                      - <a routerLink="">November</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Süddeutsche Zeitung</span>, 15.6.1963 (2 Gedicht-Nachdrucke)<br/>
                        Darunter: <span class="zitat">Aus dem soeben im Claassen-Verlag, Hamburg, erschienenen
                        Gedichtband "Flußufer".</span><br/>
                      - <a routerLink="">Flucht</a><br/>
                      - <a routerLink="">Halkyonische Tage</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Lyrik aus dieser Zeit</span> 2 (1963/64). Hrsg. von Kurt Leonhard und Karl Schwedhelm. München/Eßlingen: Bechtle Verlag, S. 57 (1 Gedicht)<br/>
                      - <a routerLink="" style="color:red;">Türe </a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Süddeutsche Zeitung</span>, Nr. 266, 6./7.11.1965 (1 Gedicht)<br/>
                      - <a routerLink="" style="color:red;">Tausendundeine Nacht: Wüste</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Merkur</span>, Nr. 219 (1966), Heft 6 (Juni), S. 549-550 (5 Gedichte)<br/>
                      - <a routerLink="" style="color:red;">Der Ton</a><br/>
                      - <a routerLink="" style="color:red;">Die Kugel</a><br/>
                      - <a routerLink="" style="color:red;">See</a><br/>
                      - <a routerLink="" style="color:red;">Einsicht</a><br/>
                      - <a routerLink="" style="color:red;">Wenn du mit entfalteten Flügeln</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Lyrik aus dieser Zeit</span> 3 (1965/66). Hrsg. von Wolfgang Weyrauch und Johannes Poethen. München/Esslingen: Bechtle Verlag, S. 70 (2 Gedichte)<br/>
                      - <a routerLink="" style="color:red;">Nachmittag am Meer</a><br/>
                      - <a routerLink="" style="color:red;">An der Tür</a><br/>
                      - <a routerLink="" style="color:red;">Keller</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Süddeutsche Zeitung</span>, Nr. 49, 26./27.2.1966 (4 Gedichte)<br/>
                      - <a routerLink="" style="color:red;">Bei genauerem Hinschaun I-IV</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Zeitung</span>, Fernausgabe Nr. 63 Blatt 21 (Literatur und
                        Kunst), 5.3.1966 (5 Gedichte)<br/>
                        Lyrikseite: <span class="titel">Schweizer Autoren</span> (Beat Brechbühl, Hand Rudolf Hilty,
                        Kuno Raeber, Urban Gwerder, Manfred Gsteiger, Heide Keller, Gerhard Meier, Kurt Frey), mit
                        Einleitung<br/>
                      - <a routerLink="" style="color:red;">HASENGEDICHTE I-V</a><br/><br/>
                        Panorama moderner Lyrik deutschsprechender Länder. Gütersloh 1966, S. 416
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Antoinette Vischer</span>. Dokumente zu einem Leben für das Cembalo zusammengestellt von Ule Troxler
                        hrsg. von Markus Kutter. Basel: Birkhäuser Vrlag 1976, S. 178<br/>
                      - <a routerLink="">Hasengedichte IX</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Zürcher Festival der Poesie</span>, 22. Sept. 1979 in der Roten Fabrik, S. 14 (3 Gedichte)<br/>
                      - <a routerLink="">Glück</a><br/>
                      - <a routerLink="">Täuschungen</a><br/>
                      - <a routerLink="">Wirf dich hinab</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Luzerner Neueste Nachrichten</span>, Nr. 295, 21.12.1979, S. 25 (9
                        Gedichte)<br/>
                        <span class="zitat">Diese Gedichte sind eine Auswahl bisher unveröffentlichter Arbeiten des in München lebenden Luzerner Schriftstellers Kuno Raeber (geboren 1922).
                          Der Autor ist einer der drei Stipendiaten, denen Mitte Dezember von der Luzerner
                          Literaturförderung 12 000 Franken für ein Werkjahr zugesprochen wurde.</span><br/>
                      - <a routerLink="">Untergetaucht</a><br/>
                      - <a routerLink="">Sommer und Winter</a><br/>
                      - <a routerLink="">Gefunden verloren</a><br/>
                        - <a routerLink="">Wohnungen</a><br/>
                        - <a routerLink="">Stillung</a><br/>
                        - <a routerLink="">Unverändert Verändert</a><br/>
                        - <a routerLink="">Rose</a><br/>
                        - <a routerLink="">Hinab</a><br/>
                      - <a routerLink="">Denkmal</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">orte</span>. Schweizer Literaturzeitschrift, H. 27, Dez. 1979/Jan. 1980 (1 Gedicht)<br/>
                      - <a routerLink="">Wären nicht …</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Zeitung</span>, Nr. 57, 8.9./3.1980  (7 Gedichte)<br/>
                        Beigabe zu dem längeren Artikel <span class="titel">Mythen als Seelenbilder / Begegnung mit
                        Kuno Raeber</span>. Anmerkung: <span class="zitat">Aus dem Manuskript des Gedichtbandes
                        «Reduktionen»</span><br/>
                      - <a routerLink="">Täuschungen</a><br/>
                      - <a routerLink="">Lauschen</a><br/>
                      - <a routerLink="">Grotten</a><br/>
                         - <a routerLink="">Schleusen</a><br/>
                         - <a routerLink="">Baum</a><br/>
                        - <a routerLink="">Sommer</a><br/>
                      - <a routerLink="">Worte</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Süddeutsche Zeitung</span>, Nr. 265, 15./16.11.1980 (2 Gedichte)<br/>
                        <span class="zitat">Die Gedichte von Kuno Raeber erscheinen im Frühjahr nächsten Jahres in Rogners Edition bei Ullstein unter dem Titel
                          "Reduktionen"</span><br/>
                      - <a routerLink="">Drüben</a><br/>
                      - <a routerLink="">Aufgerissen</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Zeitung</span>, Nr. 128, 4./5.6.1983  (11 Gedichte)<br/>
                        (2 Seiten, mit Foto, vorweg zu Raebers Abgewandt Zugewandt 1985, mit Essay <span
                        class="titel">Das schweizerische Sprachdilemma</span>)<br/>
                        Kommentarspalte:<br/><span class="titel">Schrift-Mundart?</span><br/>
                        <span class="zitat">[…] Parallel zu diesem Essay und zu hochdeutschen Gedichten hat Kuno Raeber in den letzten zwei Jahren auch Lyrik in Luzerner Alemannisch
                          geschrieben, um auszuprobieren, ob und wieweit der Dialekt ihm selbst als künstlerisches Ausdrucksmittel dienen könnte. Der Essay und die Gedichte, von denen
                          wir hier einige vorstellen, sollen zusammen in einem Buch mit dem Titel «Abgewandt Zugewandt» erscheinen. Die Entscheidung für oder gegen die Einführung der
                          Mundart als Sprache der öffentlichen Kommunikation und der Literatur wird nach Raeber
                          allerdings eine politische sein.</span><br/>
                      - Escorial<br/>
                      - Escorial<br/>
                      - Meerkrebs<br/>
                        - De Chräbs<br/>
                        - New York<br/>
                        - De Alexius am Empire State<br/>
                        - Aber hinaus<br/>
                        - Vorsi<br/>
                        - Die Kugel<br/>
                        - Alles hinab<br/>
                      - Abgewandt Zugewandt
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Luzerner Neuste Nachrichten</span>, Nr. 169, 23.7.1983 (7 Gedichte)<br/>
                        (Beibehaltung des in den Typoskripten verwendeten ïe, allerdings mit Trema auf dem e)<br/>
                        <span class="zitat">[…] Raeber hat in den letzten zwei Jahren viele Gedichte in Luzerner Alemannisch geschrieben; daneben entstand Lyrik
                          in hochdeutscher Sprache. Sie sollen im Herbst in einem Buch mit dem Titel «Abgewandt Zugewandt» erscheinen, der auch einen Essay Raebers über
                          das Schweizer Sprachdilemma Hochdeutsch-Mundart enthält. Raeber glaubt, dass das Alemannische, der Dialekt, «in der Schweiz nahe daran» ist, «selber
                          zur Hochsprache zu werden», dass die Balance zwischen beiden Idiomen nicht mehr existiert
                          .</span><br/><br/>
                        <span class="zitat">Der «Auslandschweizer» Raeber warnt vor der Eingleisigkeit: «Der heutige Schweizer erlebt sein Land als einen geschlossenen,
                          von seiner nächsten Umgebung durch eine zwar unsichtbare, aber desto schärfere Linie
                          abgetrennten Raum. Stuttgart liegt ihm ferner als New York».</span><br/>
                      - <a routerLink="">Schwöre</a><br/>
                      - <a routerLink="">Schlöttli ond Gschtältli</a><br/>
                      - <a routerLink="">Fredetal</a><br/>
                        - <a routerLink="">Neu York I/II/IV</a><br/>
                      - <a routerLink="">De Schoppe</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Tages-Anzeiger</span>, 21.10.1983, S. 27 (5 Gedichte)<br/>
                        <span class="zitat">Unter dem Titel «Abgewandt Zugewandt» soll demnächst ein Gedichtband des Luzerners Kuno Raeber erscheinen: Raeber lebt seit 1958 in München.
                          Die Gedichte, von denen wir hier einen Eindruck vermitteln wollen, sind zweisprachig: Hochdeutsch und Luzerner Alemannisch. Mit dem Spannungsfeld zwischen
                          Mundart und sogenannter Schriftsprache befasst sich Raeber seit längerer Zeit: davon zeugt auch das Nachwort des Gedichtbandes «Über das schweizerische
                          Sprachdilemma».</span><br/>
                      - <a routerLink="">Gfrörni</a><br/>
                      - <a routerLink="">Kennst Du nicht?</a><br/>
                      - <a routerLink="">Lichtung</a><br/>
                        - <a routerLink="">De Chöbel</a><br/>
                      - <a routerLink="">S Libli</a>
                      </span>
                    </p>
                    <p>
                      <span class="itemExtraFieldsValue">
                        <span class="emphase">Neue Zürcher Zeitung</span>, Nr. 291, 14./15.12.1991, S. 27 (4
                        Gedicht-Nachdrucke aus <span class="titel">Reduktionen</span>)<br/>
                        Im Hinblick auf die Zusprechung des Luzerner Kunstpreises am 15.12.1991
                      </span>
                    </p>
                    <p>→ Umfangreiche Zusammenstellung von verstreuten Texten in D-3-a-01/a-t (Schachtel 92)</p>
                  </div>
                  <div class="clr"></div>
                  <div class="clr"></div>
                </div>
                <div class="clr"></div>
                <div class="clr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
