.rae-poem-list-cols {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

.rae-poem-list-grid {
  width: 100%;
}

.rae-poem-container {
  display: inline-block;
  vertical-align: top;
  width: 460px;
  padding: 5px;
  white-space: normal;
}

.rae-poem-card-cols {
  height: initial;
  width: 90%;
}

.rae-poem-card-grid {
  height: 90%;
  width: 90%;
}

.rae-poem-card-content-cols {
  overflow-y: auto;
  overflow-x: auto;
  height: auto !important;
}

.rae-poem-card-content-grid {
  overflow-y: hidden;
  overflow-x: auto;
  resize: vertical;
  height: 140px;
  border-bottom-color: silver;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
