<div >



  <div *ngFor="let i of array" >

    <md-select placeholder="Select Property" >
      <md-option *ngFor="let property of myProperties" [value]="property.id">
        {{ property.label }}
      </md-option>
    </md-select>

    <md-select placeholder="Select logical Operator" >
      <md-option *ngFor="let operator of availableboolOperators" [value]="operator.operator">
        {{ operator.name }}
      </md-option>
    </md-select>

    <md-input-container>
      <input mdInput placeholder="Search for this word" >
    </md-input-container>
    <p></p>


  </div>
  <button md-button (click)="increaseArrayElement()">
    <md-icon >note_add</md-icon>
  </button>
</div>
