header {
  z-index: 2;
}

md-sidenav-container {
  z-index: 1;
}

md-sidenav {
  width: 200px;
  padding: 0 10px;
  z-index: 3;
}

.component-content {
  padding: 0 5px;
  z-index: 4;
}

.rae-button {
  min-width: 10px !important;
  height: 30px;
  line-height: normal !important;
  padding: 5px;
  font-size: 80%;
  vertical-align: middle;
}

.rae-button-is-active {
  background-color: silver;
}

.rae-button-without-link {
  color: silver;
}

.rae-button-paging {
  min-width: 10px;
  height: 20px;
  line-height: normal !important;
  padding: 0px 5px;
  font-size: inherit;
  vertical-align: middle;
}

.rae-button-in-navbar {
  width: 100%;
  text-align: left;
}
