<span class="emphase" style="color: rgb(255, 0, 0); background-color: rgb(255, 255, 255); font-weight: bold;">Konvolutseite</span>
<p>
  Die Konvolutseiten bilden den Einstieg in ein Notizbuch, einen Gedichtband, ein
  Manuskript- oder Typoskriptkonvolut <br/>
  (z. B. <em>Notizbuch 1979, Manuskripte 1979-1983</em>).
</p>
<p>Gliederung in vier Bereiche:</p>
<ul>
  <li>
    <span style="font-weight: bold;">Hauptmen&uuml;</span>
    (oben)
  </li>
  <li>
    <strong>Steckbrief </strong>des Notizbuchs, der Gedichtsammlung, des Konvoluts<br/>
    (Bei Notizb&uuml;chern Link zu einer Gesamt-Reproduktion als pdf-Datei)
  </li>
  <li>
    <strong>Kurzanzeige</strong> der&nbsp;Texte: Datierung, Titel, Fassung (A, B &hellip;), Textanfang <br/>
    (das K&auml;stchen l&auml;sst sich durch vertikales Ziehen an der untern rechten Ecke erweitern), <br/>
    Link zur <em>Synopse</em> (Simultananzeige aller Gedichtfassungen)
  </li>
  <li>
    <strong>Registerspalte</strong> am rechten Rand:<br/>
    - Alphabetisches Titelregister <br/>
    - Abfolge-Register (nach Textabfolge, bei Manuskripten nach Datum, geordnet)<br/>
    - <strong>Suchen</strong>: Einfache Volltextsuche im aktuellen Konvolut
  </li>
</ul>
<p>Die Registerspalte (wichtigste Navigationsm&ouml;glichkeit innerhalb der Konvolute)<br/>
  ist auf jeder Seite (au&szlig;er Startseite) verf&uuml;gbar.
</p>
