<!-- TODO weiter unten einfuegen -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div id="rae-fassung-view">
  <div class="rt-container">
    <div id="rt-main" class="mb9-sa3">
        <div class="rt-container">
          <div class="rt-grid-9 ">
            <div id="rt-content-top">
              <div class="rt-grid-9 rt-alpha rt-omega">
                <div class="rt-block ">
                  <div class="module-surround">
                    <div class="module-content">

                      <!-- TODO -->
                      TODO Breadcrumbs behalten?


                      <ul itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                        <li>
                          Aktuelle Seite: &#160;
                        </li>

                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                          <span itemprop="name">
                            {{konvolut_type}}
                          </span>

                          <md-icon>chevron_right</md-icon>
                          <meta itemprop="position" content="1">
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                          <a itemprop="item" [routerLink]="['../..']" routerLinkActive="active" class="pathway">
                            <span itemprop="name">{{konvolut_id}}</span>
                          </a>

                          <meta itemprop="position" content="2">
                        </li>
                      </ul>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="rt-block">
              <div id="rt-mainbody">
                <div class="component-content">
                  <!-- Zusatz wm -->

                  <!-- Item navigation I, wm -->
                  <div id="nav_buttons">
                    <rae-fassung-werkzeugleiste
                      [(showRegister)]="show_register"
                      [(poemResizable)]="poem_resizable"></rae-fassung-werkzeugleiste>
                  </div>

                  <!-- Start K2 Item Layout -->
                  <span id="startOfPageId220"></span>
                  <div id="k2Container" class="itemView">

                    <!-- einfügung Synopse wm (vgl. unten) -->
                    <div class="itemTagsBlock" style='float:right'>
                      <!-- Item tags -->
                      <!--  wm  -->
                      <ul class="itemTags">
                        <a *ngFor="let t of fassung_tag"
                           [routerLink]="['../../itemlist/tag/' + t]" r
                           outerLinkActive="active">
                          Synopse&nbsp;{{t}} &nbsp;
                        </a>
                      </ul>
                      <div class="clr"></div>
                    </div>

                    <div class="itemHeader">
                      <!-- Date created -->
                      <span class="itemDateCreated">
                        Freitag, 01 Juni 1979
                      </span>
                      <!-- Item title -->
                      <h2 class="itemTitle">
                        {{poem_id}}
                        TODO Wolke
                      </h2>
                    </div>

                    <div class="itemBody">

                      <!-- Item text -->
                      <div class="itemFullText">

                        <md-card>
                          <md-card-content
                            *ngIf="zeigeKonstituiert"
                            [ngClass]="{'rae-fassung-resizable': poem_resizable, 'rae-fassung-nonresizable': !poem_resizable}">

                            <!-- TODO -->
                            TODO: ersetzen
                            <section class="edtext edtext_hs">
                              <p>War doch da nur eine Wolke.<br />Aber der Mond stürzt<br />schwarz und donnernd hindurch.<br />Wo, wo, wenn er nach seiner Ankunft <br /> <span class="zeile">05 </span>da liegt geborsten und farblos, <br />blieb der lämmerweidende Schimmer? <br />Nur eine Wolke.</p>
                            </section>

                          </md-card-content>
                          <md-card-footer>
                            <button md-button (click)="zeigeKonstituiert = !zeigeKonstituiert">
                              <md-icon *ngIf="zeigeKonstituiert">expand_less</md-icon>
                              <md-icon *ngIf="!zeigeKonstituiert">expand_more</md-icon>
                              <span *ngIf="zeigeKonstituiert">Text einklappen</span>
                              <span *ngIf="!zeigeKonstituiert">Text anzeigen</span>
                            </button>
                          </md-card-footer>
                        </md-card>

                        <md-card>
                          <md-card-content *ngIf="zeigeDiplomatisch">

                            <!-- TODO -->
                            TODO: Modul für Bild und diplomatische Umschrift einfügen

                          </md-card-content>
                          <md-card-footer>
                            <button md-button (click)="zeigeDiplomatisch = !zeigeDiplomatisch">
                              <md-icon *ngIf="zeigeDiplomatisch">expand_less</md-icon>
                              <md-icon *ngIf="!zeigeDiplomatisch">expand_more</md-icon>
                              <span *ngIf="zeigeDiplomatisch">Diplomatischen Text einklappen</span>
                              <span *ngIf="!zeigeDiplomatisch">Diplomatischen Text anzeigen</span>
                            </button>
                          </md-card-footer>
                        </md-card>

                      </div>
                      <div class="clr"></div>
                      <div class="itemExtraFields">
                        <rae-fassung-steckbrief></rae-fassung-steckbrief>
                        <div class="clr"></div>
                      </div>
                      <div class="clr"></div>
                    </div>

                    <div class="itemLinks">
                      <!-- Item tags -->
                      <div class="itemTagsBlock">
                        <span>Synopse:</span>
                        <ul class="itemTags">
                          <li *ngFor="let t of fassung_tag">
                            <a [routerLink]="['../../itemlist/tag/', + t]" routerLinkActive="active">{{t}}</a>
                          </li>
                        </ul>
                        <div class="clr"></div>
                      </div>
                      <div class="clr"></div>
                    </div>

                    <!-- Related items by tag -->
                    <div class="itemRelated">
                      <rae-fassung-weitere [synopsenTags]="fassung_tag"></rae-fassung-weitere>
                    </div>

                    <div class="clr"></div>

                    <div class="itemToolbar">
                      <ul>
                        <span style='font-size:0.8em;'>Änderung: 			Samstag, 13 Mai 2017			</span>
                        <!-- Print Button -->
                        <li>
                          <a class="itemPrintLink" rel="nofollow"
                             href="/lyrik/index.php/notizbuecher/notizbuch-1979/item/220-wolke?tmpl=component&amp;print=1"
                             routerLinkActive="active"
                             onclick="window.open(this.href,'printWindow','width=900,height=600,location=no,menubar=no,resizable=yes,scrollbars=yes'); return false;">
                            <span>Drucken</span><!-- TODO -->
                          </a>
                        </li>
                      </ul>
                      <div class="clr"></div>
                    </div>

                    <!-- Item navigation -->
                    <div class="itemNavigation">
                      <rae-fassung-blaettern></rae-fassung-blaettern>
                    </div>
                    <div class="clr"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rt-grid-3 " *ngIf="show_register">
            <div id="rt-sidebar-a">
              <rae-registerspalte></rae-registerspalte>

              <div class="moduletable">
                <h6>Suchen: Notizbuch 1979</h6>
                <p>Nach Suchbegriff</p><!-- TODO -->
                <p>Nach Seite oder Blatt</p><!-- TODO -->
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
