<md-toolbar>
  <button md-raised-button title="Hilfe" (click)="hilfe()">
    <md-icon>help</md-icon>
  </button>

  <md-button-toggle-group [(ngModel)]="viewMode"
                          (ngModelChange)="viewModeChange.emit(viewMode)"
                          name="View Mode">
    <md-button-toggle value="grid" title="Zeige die Gedichte im Raster">Raster</md-button-toggle>
    <md-button-toggle value="cols" title="Zeige die Gedichte horizontal scrollbar">Spalten</md-button-toggle>
  </md-button-toggle-group>
  <md-checkbox [(ngModel)]="showText"
               (ngModelChange)="showTextChange.emit(showText)"
               name="Text anzeigen">
    Text anzeigen
  </md-checkbox>

  <button md-raised-button title="Spaltenanzahl" (click)="columns = (columns % 3) + 1; cols.emit(columns)">{{(columns %
    3) + 1}} Spalten
  </button>

  <button md-raised-button title="Kartenformat schrittweise vergrößern" (click)="textVergroessern()">+ Format</button>

  <button md-raised-button title="Kartenformat schrittweise verkleinern" (click)="textVerkleinern()">- Format</button>

  <button md-raised-button title="neu laden" (click)="neuladen()">Reset</button>

</md-toolbar>
