button {
  min-width: 10px;
  height: 30px;
  line-height: normal;
  padding: 5px;
  font-size: 80%;
  vertical-align: middle;
}

.button-is-active {
  background-color: silver;
}

.button-without-link {
  color: silver;
}

md-toolbar-row {
  margin: -30px 0 0;
}

.layoutbutton {
  min-width: 90px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 13px;
}
