<md-toolbar>

    <button md-raised-button class="layoutbutton" (click)="toggleShowText()">
      {{ showText ? 'Kein Text' : 'Text' }}
    </button>

    <button md-raised-button class="layoutbutton" title="Spaltenanzahl" (click)="rotateGridColumns()">
      {{ (columns % 3) + 1 }} Spalten
    </button>

    <button md-raised-button class="layoutbutton" [disabled]="!rahmen || !showText || gridHeight >= 18"
            title="Kartenformat schrittweise vergrößern"
            (click)="textVergroessern()">+ Format
    </button>

    <button md-raised-button class="layoutbutton" [disabled]="!rahmen || !showText || gridHeight <= -18"
            title="Kartenformat schrittweise verkleinern"
            (click)="textVerkleinern()">- Format
    </button>

    <button md-raised-button class="layoutbutton" title="Rahmen anzeigen" [disabled]="!showText"
            (click)="toggleFrame()">
      {{ rahmen ? 'Angepasste Höhe'
      : 'Fixe Höhe' }}
    </button>

    <button md-raised-button class="layoutbutton" title="neu laden" (click)="neuladen()">
      Reset
    </button>

    <button md-raised-button title="Hilfe" (click)="showHelp()" style="margin-left:30px;">
      <md-icon>help</md-icon>
    </button>

  <md-toolbar-row>
    <button md-raised-button class="layoutbutton" title="ErstLetzt" (click)="setFirstLast()">
      {{ firstLast ? 'Alle Zeugen' : 'Erst + Letzt' }}
    </button>
    <button md-raised-button class="layoutbutton" title="Duplikate anzeigen" (click)="toggleShowDuplicates()">
      {{ showDuplicates ? '- Duplikate' : '+ Duplikate' }}
    </button>
    <button md-raised-button class="layoutbutton" title="Notizbücher anzeigen" (click)="toggleShowNotebooks()">
      {{ showNotebooks ? '- Notizbücher' : '+ Notizbücher' }}
    </button>
    <button md-raised-button class="layoutbutton" title="Manuskripte anzeigen" (click)="toggleShowManuscripts()">
      {{ showManuscripts ? '- Manuskripte' : '+ Manuskripte' }}
    </button>
    <button md-raised-button class="layoutbutton" title="Typoskripte anzeigen" (click)="toggleShowTyposcripts()">
      {{ showTyposcripts ? '- Typoskripte' : '+ Typoskripte' }}
    </button>
    <!--    <form [formGroup]="showConvolutes">
          <md-select placeholder="Konvoluttypen" multiple="true" formControlName="convolutes">
            <md-option [selected]="showNotebooks">Notizbücher</md-option>
            <md-option selected>Manuskripte</md-option>
            <md-option selected>Typoskripte</md-option>
          </md-select>
        </form>-->
  </md-toolbar-row>

</md-toolbar>
