<div class="rt-container">
  <md-sidenav-container>
    <div class="component-content normal">
      <div id="k2Container" class="itemView">
        <div class="itemTagsBlock" style="float:right">
        </div>
        <div class="itemHeader">
          <!-- Item title -->
          <h2 class="itemTitle" style="padding-left: 30px">
            {{konvolut_id}}
          </h2>
        </div>
        <div class="itemBody">
          <div class="konvolut-info">
            <rae-konvolut-steckbrief [id]="konvolut_id"></rae-konvolut-steckbrief>
          </div>
          <br/>
          <rae-konvolut-werkzeugleiste [(viewMode)]="viewMode"></rae-konvolut-werkzeugleiste>
          <rae-textgrid [poemsInGrid]="poems"
                        [viewMode]="viewMode"
                        [showText]=true
                        [contentType]="'konvolut'">
          </rae-textgrid>
        </div>
      </div>
    </div>
    <md-sidenav mode="side" align="end" opened="true">
      <rae-registerspalte></rae-registerspalte>
      <div class="moduletable">
        <h3>Suchen: {{konvolut_id}}</h3><!-- TODO: Variable ersetzen -->
        <p>Nach Suchbegriff</p><!-- TODO: ersetzen -->
        <p>Nach Seite oder Blatt</p><!-- TODO: ersetzen -->
      </div>
    </md-sidenav>
  </md-sidenav-container>
</div>


