<get-konvolut-iri
  [konvolut_id]="konvolut_id"
  (sendKonvolutTitleBack)="updateKonvolutTitle($event)"
  (sendKonvolutIRIBack)="updateKonvolutIRI($event)"
  (sendKonvolutBildBack)="updateKonvolutBild($event)"
  (sendKonvolutTypeBack)="updateKonvolutType($event)">

</get-konvolut-iri>

<div class="rae-convolute-view">
  <div class="rt-container">
    <div id="rt-main" class="mb9-sa3">
      <div class="rt-container">
        <div class="rt-grid-9 ">
          <div class="rt-block">
            <div id="rt-mainbody">
              <div class="component-content">
                <span id="startOfPageId23"></span>
                <div id="k2Container" class="itemView">
                  <div class="itemTagsBlock" style="float:right">
                  </div>
                  <div class="itemHeader">
                    <!-- Item title -->
                    <h2 class="itemTitle" style="padding-left: 30px" *ngIf="konvolutTitle">
                      {{ konvolutTitle }}
                    </h2>
                  </div>
                  <div class="itemBody">
                    <div class="konvolut-info">
                      <rae-konvolut-steckbrief [id]="konvolut_id"
                                               [IRI]="IRI"
                                               [konvolutBild]="konvolutBild"></rae-konvolut-steckbrief>
                    </div>
                    <br/>
                    <rae-konvolut-trefferleiste *ngIf="searchContext" [results]="searchResultsNo"
                                                [searchTerm]="searchTerm"
                                                (reset)="quitSearchMode($event)"></rae-konvolut-trefferleiste>
                    <rae-textgrid [konvolutTitle]="konvolutTitle"
                                  [resetPoems]="resetPoems"
                                  [poemsInGrid]="poems"
                                  [viewMode]="viewMode"
                                  [columns]="columns"
                                  [showText]=showText
                                  [contentType]="'konvolut'"
                                  [rahmen]="rahmen" #textgrid
                                  (gridHeight)="setGridHeight($event)" #textgrid>
                    </rae-textgrid>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rt-grid-3 ">
          <div id="rt-sidebar-a">
            <div class="rt-block ">
              <div class="module-surround">
                <!--                <div class="module-title">
                                  <h2 class="title">Register</h2>
                                </div>-->
                <div class="module-content">
                  <ngb-accordion #acc="ngbAccordion" activeIds="register,suche">
                    <ngb-panel id="register" title="Register">
                      <ng-template ngbPanelContent>
                        <rae-registerspalte [konvolutIRI]="IRI"></rae-registerspalte>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="suche" title="Suche in {{konvolutTitle}}">
                      <ng-template ngbPanelContent>
                        <rae-konvolutsuche (suche)="searchInConvolute($event)"></rae-konvolutsuche>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="darstellung" title="Darstellungsoptionen">
                      <ng-template ngbPanelContent>
                        <rae-darstellungsoptionen (darstellung)="setTextgridLayout($event)"
                                                  (vergroessereText)="textgrid.vergroessereFeld()"
                                                  (verkleinereText)="textgrid.verkleinereFeld()"
                                                  [gridHeight]="gridHeight"
                                                  (resetHeight)="textgrid.resetField()"></rae-darstellungsoptionen>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<from-poem-iri-to-textgrid-information
  [poemIRIArray]="poemIRIArray"
  (sendPoemInformationBack)="updatePoemInformation($event)"
></from-poem-iri-to-textgrid-information>

<from-konvolut-iri-to-poem-iris
  [konvolutIRI]="IRI"
  [konvolutType]="konvolutType"
  (sendPoemIRIsBack)="createPoemIRIList($event)"
  (signalizeThatNoRequestDefined)="deletePoemsInCache($event)"
></from-konvolut-iri-to-poem-iris>
