<get-konvolut-iri
  [konvolut_id]="konvolut_id"
  (sendKonvolutTitleBack)="updateKonvolutTitle($event)"
  (sendKonvolutIRIBack)="updateKonvolutIRI($event)"
  (sendKonvolutBildBack)="updateKonvolutBild($event)"
  (sendKonvolutTypeBack)="updateKonvolutType($event)"
  (sendSearchingStatus)="searchingStatus($event)">
</get-konvolut-iri>

<div *ngIf="searching" style="position: fixed; left: 50%; top:33%; transform: translate(-50%, -66%); z-index: 1;">
  <md-progress-spinner mode="indeterminate"></md-progress-spinner>
</div>
<div *ngIf="searching" class="rt-grid-9"
     style="position: fixed; width:100%; height:100%; background-color:black; opacity:0.3; overflow: hidden; z-index:2;"></div>
<div class="rae-convolute-view">
  <div class="rt-container">
    <div id="rt-main" class="mb9-sa3">
      <div class="rt-container">
        <div class="rt-grid-9 ">
          <div class="rt-block">
            <div id="rt-mainbody">
              <div class="component-content">
                <span id="startOfPageId23"></span>
                <div id="k2Container" class="itemView">
                  <div class="itemHeader">
                    <!-- Item title -->
                    <h2 class="itemTitle" style="padding-left: 30px; min-height:40px;" *ngIf="konvolutTitle">
                      {{ konvolutTitle }}
                      <button md-raised-button title="Hilfe" (click)="showHelp()"
                              style="margin-top:0; padding:0; min-height:30px; min-width:30px; float:right;">
                        <md-icon style="margin-top:-4px;">help</md-icon>
                      </button>
                    </h2>
                  </div>
                  <div class="itemBody">
                    <div class="konvolut-info">
                      <rae-konvolut-steckbrief [id]="konvolut_id"
                                               [konvolutTitle]="konvolutTitle"
                                               [IRI]="IRI"
                                               [konvolutBild]="konvolutBild"></rae-konvolut-steckbrief>
                    </div>
                    <br/>
                    <rae-konvolut-trefferleiste *ngIf="searchContext" [results]="searchResultsNo"
                                                [searchTerm]="searchTerm"
                                                (reset)="quitSearchMode($event)"
                    ></rae-konvolut-trefferleiste>
                    <rae-textgrid [konvolutView]="konvolutView"
                                  [searchTermfromKonvolut]="searchTermArray"
                                  [konvolutTitle]="konvolutTitle"
                                  [poemsInGrid]="poems"
                                  [viewMode]="viewMode"
                                  [columns]="columns"
                                  [showText]=showText
                                  [contentType]="'konvolut'"
                                  [rahmen]="rahmen"
                                  (gridHeight)="setGridHeight($event)" #textgrid>
                    </rae-textgrid>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="rt-grid-3 ">
          <div id="rt-sidebar-a">
            <div class="rt-block ">
              <div class="module-surround">
                <div class="module-content">
                  <ngb-accordion #acc="ngbAccordion" activeIds="register,suche" destroyOnHide="false">
                    <ngb-panel id="register" title="Register">
                      <ng-template ngbPanelContent>
                        <rae-registerspalte
                          [konvolutIRI]="IRI"
                          [unsortedPoems]="poems"
                          [convoluteTitle]="konvolutTitle"
                          [convoluteType]="konvolutType"
                          [konvolutView]="konvolutView"></rae-registerspalte>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="suche" title="Suche in {{konvolutTitle}}">
                      <ng-template ngbPanelContent>
                        <rae-konvolutsuche
                          [searchTermArray]="searchTermArray"
                          [konvolutTitle]="konvolutTitle"
                          (suche)="searchInConvolute($event)"
                        ></rae-konvolutsuche>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel id="darstellung" title="Darstellungsoptionen">
                      <ng-template ngbPanelContent>
                        <rae-darstellungsoptionen (darstellung)="setTextgridLayout($event)"
                                                  (vergroessereText)="textgrid.vergroessereFeld()"
                                                  (verkleinereText)="textgrid.verkleinereFeld()"
                                                  [gridHeight]="gridHeight"
                                                  (resetHeight)="textgrid.resetField()">
                        </rae-darstellungsoptionen>
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>

<from-poem-iri-to-textgrid-information
  [konvolutIRI]="IRI"
  [poemIRIArray]="poemIRIArray"
  (sendPoemInformationBack)="updatePoemInformation($event)"
></from-poem-iri-to-textgrid-information>
