<div class="rt-container">
    <div class="component-content normal">
      <div id="k2Container" class="itemView">
        <div class="itemTagsBlock" style="float:right">
        </div>
        <div class="itemHeader">
          <!-- Item title -->
          <h2 class="itemTitle" style="padding-left: 30px">
            {{konvolut_id}}
          </h2>
        </div>
        <div class="itemBody">
          <div class="konvolut-info">
            <rae-konvolut-steckbrief [id]="konvolut_id"></rae-konvolut-steckbrief>
          </div>
        </div>
      </div>
    </div>
</div>



