<md-grid-list class="rae-grid-list" cols="2" rowHeight="320px" gutterSize="5px">

  <md-grid-tile>
    <md-card>
      <md-card-subtitle>Datum hier ergänzen</md-card-subtitle>
      <md-card-title>[Entwürfe zur Einführung]</md-card-title>
      <md-card-content>
        <div class="rae-poem">
          <!-- TODO: replace this with a text-with-standoff component -->
          <p>Diese Gedichte, die ersten nach einer Pause von siebzehn Jahren, sind Reduktionen: Erfahrung der Natur,
            der Geschichte, des Mythos, von allem Beiwerk befreit, zurückgeführt auf jähe Gesichte und Klänge, wie sie
            der Augenblick gibt.
          </p>
          <p>Diese Gedichte, die ersten nach einer Pause von 17 Jahren, sind, soweit sie nicht im Gedanklichen bleiben,
            Reduktionen: sie halten sie von den Gegenständen der Welt nur die Vision, den Klang eines Augenblicks der
            Begegnung, fest – Natur, Mythos, Geschichte sind zurückgeführt auf ein paar Grundfiguren. In ihrer Kargheit
            mögen sie zuweilen an Rätselsprüche erinnern.
          </p>
        </div>
      </md-card-content>
      <md-card-footer></md-card-footer>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-subtitle>Datum hier ergänzen</md-card-subtitle>
      <md-card-title>[Einführung]</md-card-title>
      <md-card-content>
        <div class="rae-poem">
          <!-- TODO: replace this with a text-with-standoff component -->
          <p>
            Wenn sich in vielen meiner frühen Gedichte, deren letzte vor sechzehn Jahren veröffentlicht wurden, eine
            Menge von Weltstoff aufgehäuft hatte, so ist das hier alles wieder abgeräumt. Nichts mehr oder nur noch
            Spuren von dem Mobiliar der Historie, der Mythologie und der technischen Zivilisation. Nur noch die paar
            alten Bilder, die seit jeher in mir lagen und jetzt in diesem poetischen Sommer 1979 nach der glücklichen
            Vollendung einer großen und schweren Arbeit wieder heraufdrangen. Und auch das grammatikalische Gerüst
            der früheren Gedichte ist nicht mehr da, die Sätze, soweit es sie überhaupt gibt, sind ganz einfach.
            Mehrenteils bestehen diese kurzen Stücke aus Substantiven und Verben in ihrer Grundform. Adjektive und
            Adverbien sind der einzige Luxus. Hinter dem Ganzen steht die Vorstellung einer Musik der Worte, der
            schwebenden Assoziationen.
          </p>
        </div>
      </md-card-content>
      <md-card-footer></md-card-footer>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-subtitle>Datum hier ergänzen</md-card-subtitle>
      <md-card-title>WORTE</md-card-title>
      <md-card-content>
        <div class="rae-poem">
          <!-- TODO: replace this with a text-with-standoff component -->
          Worte sind Reste. Danach <br/>
          weder Bäume noch Häuser. Der Gletscher <br/>
          gleissend im Schweigen.
        </div>
      </md-card-content>
      <md-card-footer>
        <div class="catItemTagsBlock">
          <span>Synopse:</span>
          <ul class="catItemTags">
            <li><a href="/lyrik/index.php/typoskripte/typoskripte-1979/itemlist/tag/Worte">Worte</a></li>
          </ul>
        </div>
      </md-card-footer>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-subtitle>Datum hier ergänzen</md-card-subtitle>
      <md-card-title>MITTAG</md-card-title>
      <md-card-content>
        <div class="rae-poem">
          <!-- TODO: replace this with a text-with-standoff component -->
          Die Kronen der Bäume schwarz <br/>
          über den Schläfern und vom Geschrei in den Gräsern <br/>
          unberührt brüten <br/>
          den panischen Traum aus.
        </div>
      </md-card-content>
      <md-card-footer>
        <div class="catItemTagsBlock">
          <span>Synopse:</span>
          <ul class="catItemTags">
            <li><a href="/lyrik/index.php/typoskripte/typoskripte-1979/itemlist/tag/Mittag">Mittag</a></li>
          </ul>
        </div>
      </md-card-footer>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-subtitle>Datum hier ergänzen</md-card-subtitle>
      <md-card-title>INSEL</md-card-title>
      <md-card-content>
        <div class="rae-poem">
          Glockengeläut. Eine alte <br />Insel. Und kein <br />Flugplatz kein Hafen. <br />Doch nahe doch nahe.
        </div>
      </md-card-content>
      <md-card-footer></md-card-footer>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <md-card-subtitle>Datum hier ergänzen</md-card-subtitle>
      <md-card-title>BAUM</md-card-title>
      <md-card-content>
        <div class="rae-poem">
          <!-- TODO: replace this with a text-with-standoff component -->
          Der grosse Baum. Schwarz <br/>
          von Laubwohnungen <br/>
          die Krone. Doch später die Vögel <br/>
          in den leeren Ästen erfroren. Verfehlt <br/>
          die Flucht nach Ägypten.
        </div>
      </md-card-content>
      <md-card-footer>
        <div class="catItemTagsBlock">
          <span>Synopse:</span>
          <ul class="catItemTags">
            <li><a href="/lyrik/index.php/typoskripte/typoskripte-1979/itemlist/tag/Baum">Baum</a></li>
          </ul>
        </div>
      </md-card-footer>
    </md-card>
  </md-grid-tile>

</md-grid-list>
